body {
	background:#f5f5f5;
}
.page_wrapper {
	margin: 0 auto;
	width:900px;
}
.menu_wrapper {
	height:80px;
	width:100%;
	background: #ffffff;
	box-sizing: border-box;
	position: relative;
	margin-bottom:10px;
    vertical-align: baseline;

}
.menu_logo {
	background: url(images/islamiqa2.png) no-repeat;
	text-indent: -9999px;
	height:45px;
	width:150px;
	display:inline-block;	
	margin: 20px 0 0 220px;
	position: relative;
}
.menu_title {
	font-size: 17px;
	font-weight:300;
	text-align: left;
	color: #888;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space:nowrap;
	display: inline;
	position:absolute;
	margin-top:35px;
	margin-left:20px;
}
.how_it_works {
	width:888px;
	height: 120px;
	border: 1px solid #d8d8d8;
	background:#fff;
	margin-bottom: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	box-shadow: 2px 2px 1px #eee;
	padding:7px 0 7px 10px;
	border-radius:5px;
}
.how_title {
	font-size: 20px;
	line-height: normal;
	margin-bottom: 10px;
}
.how_box {
	width:280px;
	float:left;
	margin: 0 10px 5px 5px;
}
.how_image1 {
	background: url(images/star1.png) no-repeat 1 1;
	text-indent:-9999px;
	width:66px;
	height:66px;
	position:absolute;
	margin-top:5px;
}
.how_image2 {
	background: url(images/owl.png) no-repeat 1 1;
	text-indent:-9999px;
	width:66px;
	height:66px;
	position:absolute;
	margin-top:5px;
}
.how_image3 {
	background: url(images/finish.png) no-repeat 1 1;
	text-indent:-9999px;
	width:66px;
	height:66px;
	position:absolute;
	margin-top:5px;
}
.how_header {
	font-size: 17px;
	padding: 3px 0 0 80px;
}
.how_subheader {
	font-size: 13px;
	font-weight:300;
	padding: 3px 0 0 80px;	
}
.body_wrapper {
	height:330px;
}
.topic_arrow {
	background: url(images/topic_arrow.png) no-repeat;
	width:33px;
	height:54px;
	text-indent: -9999px;
	display:inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 0px;
	margin-left: -417px;
	opacity:0.4;
}
.box_wrapper1 {
	display: inline-block;
	width: 380px;
	padding: 10px 10px 7px 10px; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #d8d8d8;
	box-shadow: 2px 2px 1px #eee;
	border-radius:5px;
	float:left;
	background:#fff;
}
.box_wrapper2 {
	display: inline-block;
	width: 380px;
	padding: 10px 10px 7px 10px; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #d8d8d8;
	box-shadow: 2px 2px 1px #eee;
	border-radius:5px;
	float: right;
	margin-right:0px;
	background:#fff;
}
.box_overflow {
	overflow-y: auto;
	overflow-x: hidden;
	height: 350px;
	margin-bottom:5px;
}
.box_header {
	margin-bottom: 10px;
}
.box_title {
	font-size: 20px;
	font-weight:600;
	text-align: left;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 20px 0 5px 0;

}
.box_subtitle {
	font-size: 14px;
	text-align: left;
	color: #515151;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom:20px;

}
.topic_box {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 40px;
	margin-bottom: 40px;
	cursor: pointer;
	display:block;
	border-radius: 15px;
}
.info_wrapper {
	width: 110px;
	position: relative;
	float: left;
}
.info_background {
	position: absolute;
	bottom: 0;
	width: 115px;
	height: 115px;
	border-radius: 15px;
	cursor:auto;
}
.info {
	position: absolute;
	bottom: 0;
	line-height: 1.3em;
	padding: 5px;
	width: 104px;
	background: #333;
	opacity: 0.9;
}
.topicname {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.3em;
}
.check_wrapper {
	/*background: #c9df8e;*/
	/*border-color: #657e24;*/
	z-index: 15;
	position: absolute;
	right: 5px;
	top: 7px;
	padding:2px;
	background: #fff;
	border: 2px solid #999;
	border-radius: 5px;
	opacity: .8	;
	width: 16px;
	height: 16px;
	cursor:pointer;
}
.check {
	width: 16px;
	height: 16px;
}
.check_wrapper:hover {
	background: #fff url(images/star2.png) no-repeat center;
	z-index:16;
	width: 16px;
	height: 16px;
	opacity:0.9;
}
.check_clicked {
	background: #fff0c2 url(images/star2.png) no-repeat center;
	border-color: #657e24;
	z-index: 15;
	position: absolute;
	right: 5px;
	top: 7px;
	padding:2px;
	border: 2px solid #999;
	border-radius: 5px;
	width: 16px;
	height: 16px;
	cursor:pointer;
}

.owl_wrapper {
	background: #c9df8e;
	border-color: #657e24;
	z-index: 15;
	position: absolute;
	right: 5px;
	top: 33px;
	padding:2px;
	background: #fff;
	border: 2px solid #999;
	border-radius: 5px;
	opacity: .8;
	width: 16px;
	height: 16px;
	cursor:pointer;
}
.owl {
	width: 16px;
	height: 16px;
}
.owl_wrapper:hover {
	background: #fff url(images/owl_icon.png) no-repeat center;
	z-index:16;
	width: 16px;
	height: 16px;
	opacity:0.9;
}
.owl_clicked {
	background: #d7eca0 url(images/owl_icon.png) no-repeat center;
	border-color: #657e24;
	z-index: 15;
	position: absolute;
	right: 5px;
	top: 33px;
	padding:2px;
	border: 2px solid #999;
	border-radius: 5px;
	opacity: .9;
	width: 16px;
	height: 16px;
	cursor:pointer;
}

/*continue button*/
.topic_button {
	font-size: 15px;
	font-weight: 300;
	border-radius: 5px;
	margin: 5px 0 20px 0;
	line-height: 30px;
	-webkit-transition: all .5s;
	cursor: pointer;
	width:230px;
	height:30px;
	float:right;
	bottom:0;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.button_primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #026ab3;
	background-image: -webkit-linear-gradient(#0096ff, #026ab3);
	background-image: linear-gradient(#0096ff, #026ab3);
	background-repeat: repeat-x;
	border-color: #025691;
	
}
.button_primary a{
	width:100%;
	height:100%;
	z-Index: 11;
	display: block;
}
.button_primary:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #0096ff;
	background-image: -webkit-linear-gradient(#026ab3, #0096ff);
	background-image: linear-gradient(#026ab3, #0096ff);
	background-repeat: repeat-x;
	border-color: #025691;
}
