<div id="question{{postid}}" data-order="{{created}}" class="row row-border-bottom">

    <div class="alert alert-danger dashboard-alert" id="error{{postid}}" role="alert">
        <a href="javascript:void(0)" class="close" onclick="$('#error{{postid}}').fadeOut('fast')" title="close">×</a>
        <div id="contenterror{{postid}}">

        </div>
    </div>


    <div class="col-md-12">

        <div class="boxs-dash-top">
            <div class="boxs-dash">
                <span class="fa fa-angle-double-up gau " style="font-size: 18px;margin: 0px"></span>
                <p class="nbr" id="pup{{postid}}">
                    {{upvotes}}</p>
            </div>

        </div>

        <div class="boxs-dash-down">

            <div class="boxs-dash">
                <span class="fa fa-angle-double-down rad" style="font-size: 18px;margin: 0px"></span>
                <p class="nbr" id="pdown{{postid}}">{{downvotes}} </p>
            </div>
        </div>


        <div class="col-md-2">

            <div style="margin-bottom: 10px">
                <img src="{{user_logo}}" class="one-c-img">
            </div>
        </div>

        <div class="col-md-10 align-dash">
            <div class="ans-top" style="margin-left: -20px">
                asked on {{categoryname}} · {{#time_ago}} {{prefix}} {{data}}
                {{suffix}}
                {{/time_ago}}
                {{^handle}}Anonymous{{/handle}}
                {{#handle}}
                                         <span class="tooltip-custom" style="  padding-top: 10px;"
                                               onmouseover="question.activity({{userid}},{{postid}})">
                                              <span class="red-simplespan">  <a
                                                      href="javascript:void(0)"> by {{handle}}</a>  </span>
                                                <div class="tooltip-inner">
                                                       <div id="points{{postid}}">   
                                                             <div id="loading{{userid}}"> <i
                                                                     class="fa fa-refresh fa-spin fa-3x fa-fw ds"></i> </div>
                                                       </div> 
                                                </div>
                                         </span>
                {{/handle}}
                {{#owner}}
                                        <span style="float: right">
                                                <a href="{{edit}}"><span class="fa fa-pencil-square-o ds fa-lg"
                                                                         style="margin-right: 15px"></span></a>
                                                <a href="#"><span class="fa fa-trash ds fa-lg"></span></a>
                                       </span>
                {{/owner}}
            </div>

            <p class="ans-head"><a href="{{answerpath}}">{{title}}</a></p>
        </div>

    </div>


    <!----------------->
    <div class="col-md-12">

        <div class="col-md-2"></div>
        <div class="col-md-10">

            {{^answer}}

            <li class="ct">
                <p class="ans-content"> </b> No Answer </b></p>
            </li>
            {{/answer}}

        </div>

    </div>


    {{#answer}}
    <div class="col-md-12" style="background-color: #04B486">

        <div class="col-md-2">  <!-- conatienr votes -->


            <div class="container-votes">

                <div class="clearfix row-votes ds" id="bestanswer{{postid}}">
                                                    
                                                               <span class="container-col-left">
                                                               
                                                                    <div class="left-content"> Best </div>
                                                                    <div class="left-content"> Answer</div>
                                                               
                                                               </span>
                    <!--   <span class="icons-content" style="margin-top: 3px" ><i class="fa fa-bookmark"></i> </span> -->
                    <span class="icons-content"><i class="fa fa-bookmark"></i> </span>
                </div>

                <div class="clearfix row-votes ds" id="favorite{{postid}}">
                                                    
                                                               <span class="container-col-left">
                                                               
                                                                    <div class="left-content"> Make </div>
                                                                    <div class="left-content"> Favorite</div>
                                                               
                                                               </span>

                    <!-- <span class="icons-content" style="margin-top: 3px; cursor: pointer"  onclick="questions.makeFavorite({{postid}})"><i class="fa fa-star"></i> </span> -->
                <span class="icons-content" onclick="questions.makeFavorite({{postid}})"><i
                        class="fa fa-star"></i> </span>


                </div>

                <div class="clearfix row-votes">
                                                    
                                                               <span class="container-col-left">
                                                                    <div class="lef-number" id="userupnumber{{postid}}"> {{uservoteup}} </div>                               
                                                               </span>
                <span class="icons-number" id="voteup{{postid}}" onclick="questions.voteUp({{postid}})"><i
                        class="fa fa-angle-double-up gau"></i> </span>
                </div>

                <div class="clearfix row-votes">
                                                
                                                   <span class="container-col-left">
                                                   
                                                        <div class="lef-number" id="userdownnumber{{postid}}"> {{uservotedown}} </div>
                                                   
                                                   </span>

                <span class="icons-number" id="votedown{{postid}}" onclick="questions.voteDown({{postid}})"><i
                        class="fa fa-angle-double-down rad"></i> </span>
                </div>
            </div>
        </div> <!-- end conatienr votes -->
        <div class="col-md-10 align-dash">

            <div id="containeranswer{{postid}}">

                <li class="ct">
                    <p class="ansby"><b>Best Answer</b> by <b> {{^handle}}Anonymous{{/handle}}{{handle}} :</b></p>
                    <p class="ans-content" id="{{postid}}" onclick=""> {{{content}}} </a></p>
                </li>

            </div>

            <!--        <button type="button" class="btn btn-read-more">(Read More)</button>    -->
            {{#coutresult}}

            <a href="javascript:void(0)" class="more" onclick="questions.domore({{postid}})" id="showmore{{postid}}"><p
                    class="more-ans"> {{coutresult}} more answers <span class="fa fa-chevron-down"></span></p></a>
            {{/coutresult}}

            {{#hasTags}}
            <ul class="six-btn">

                <li class="six-li-icon"><span class="fa fa-tags fa-lg"></span></li>
                {{#listTags}}
                <li class="six-li">{{.}}</li>
                {{/listTags}}

            </ul>
            {{/hasTags}}


        </div>

    </div>
    {{/answer}}


    <div class="col-md-12">

        <div class="col-md-2"></div>
        <div class="col-md-10" style="margin-bottom: 25px">

            <ul class="ans-btm-ul">
                <li>
                    <span class="pncl fa fa-pencil"></span>
                    <span class="red-simplespan">  <a href="{{answerpath}}">Answer</a>  </span>
                </li>
                <li>
                    <span class="has">{{countviwed}}</span>
                    <span class="simplespan">Views</span>
                </li>
                <li>
                    <span class="has">{{countcomments}}</span>
                    <span class="simplespan">Comments</span>
                </li>

                <li>
                    <!-- <span class="simplespan">Share</span> -->
                    <div class="tooltip-social">
                        <p style="color: #757575;font-size: 12px;">Share</p>

                        <div class="tooltip-inner tooltip-inner3">
                            <div class="social_icon facebook_icon">
                                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            </div>
                            <div class="social_icon twitter_icon">
                                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            </div>
                            <div class="social_icon google_icon">
                                <a href="#"><i class="fa fa-google fa-2x"></i></a>
                            </div>
                            <div class="social_icon instagram_icon">
                                <a href="#"><i class="fa fa-envelope fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                                                        
                                                        <span style="float: right;">
                                                         <!-- <p class="dots-three" style="margin-left: -30px;">...</p> -->
                                                         
                                                             <div class="tooltip-custom" style="padding-top: 10px;">
                                                                    <i class="fa fa-ellipsis-h"></i>
                                                                    <div class="tooltip-inner tooltip-inner2">
                                                                        <a href="#">Invite authoritative user to answer</a><br>
                                                                        <a href="#">Add to Reading List</a><br>
                                                                        <a href="#">Show Related Questions</a><br>
                                                                        <a href="#">Create Summary Answer</a><br>
                                                                        <a href="#">Mark Favorite</a><br>
                                                                        <a href="#">Report</a><br>
                                                                    </div>
                                                              </div>
                                                         
                                                        </span>

            </ul>
        </div>   <!-- end section -->
    </div>

</div>