.qa-nav-user {
	position:relative;
	white-space:normal;
}
#osnbox {
	position:relative;
	display:inline-block;
}
.nfyWrap {
    position: absolute;
    top: 28px;
    left: -280px;
    width: 460px;
    /*background: #fefefe;*/
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    
    z-index: 999;
}
.nfyWrap .nfyTop {
    width: content;
    font-size: 11px;
    line-height: 12px;
    padding: 5px;
    color: #858585;
    background: #f4f4f4;
    border: 1px solid #CCC;
    box-shadow: 2px 0px 4px #ababab;
    border-bottom: hidden;
    margin-right: 0px;
	margin-left: 0px;
	text-transform: uppercase;
	 
   /* border-radius: 3px 3px 0 0;*/
}
.nfyWrap .nfyContainer {
	width: content;
    overflow-y: auto;
    padding-left: 1px;
    height: 240px;
	background: #fefefe;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 4px #ababab;
    border-top: hidden;
	border-bottom: hidden;
	
}
.nfyWrap .nfyFooter {
    padding: 5px;
    color: #333;
    background: #f4f4f4;
    border: 1px solid #CCC;
	border-top: 1px solid #f4f4f4;
    box-shadow: 1px 3px 2px #ababab;
    margin-right: 0px;
	margin-left: 0px;
    text-align: right;
    font-size: 10px;
}
.nfyWrap .nfyFooter a {
    color: #aaa;
    cursor: pointer;
}
.nfyWrap .itemBox, .nfyWrap .itemBox-new {
	width: 100%;
    float: left;
    margin: 0;
    padding: 3px 5px 12px 0;
    border-bottom: 1px solid #CCC;
}
.nfyWrap .itemBox-new {
    background: #fffce8;
}
.nfyWrap .itemBox:hover {
    background: #f2f2f2;
}
.nfyWrap .itemBoxNew {
    background-color: #fffffb;
}
.nfyWrap .nfyItemLine {
	display:inline-block;
    width: 410px;
    font-size: 12px;
    color: #555;
}
.nfyWrap .nfyItemLine a {
    font-size: 12px;
    color: #44A;
    text-decoration: none;
	text-transform: capitalize;
}
.nfyWrap .nfyItemLine p {
	display:inline-block;
    margin: 0 0 2px 0;
    line-height: 1.2;
}
.nfyWrap .siteLink {
    font-size: 9px !important;
    text-decoration: none;
    font-weight: normal !important;
    margin-bottom: 4px;
    display: inline-block;
}
.nfyWrap .nfyItemLine a:hover {
    color: #55F;
}
.nicon {
	/*display: inline-block;*/
    width:content;
    height: 16px;
	margin: 4px 4px 0 5px;
	vertical-align: top;
}
.nicon.info{	background:url(icons.png) no-repeat 0 -100px;}
.nicon.info span{	float: left;color: #666; margin-left:25px;}
.nicon.nanswer {
	background:url(icons.png) no-repeat 0 0;
}
.nicon.ncomment {
	background:url(icons.png) no-repeat 0 -20px;
}
.nicon.nvoteup {
	background:url(icons.png) no-repeat 0 -39px;
}
.nicon.nvotedown {
	background:url(icons.png) no-repeat 0 -60px;
}
.nicon.nbestanswer {
	background:url(icons.png) no-repeat 0 -80px;
}
.nicon.nmessage {
	background:url(icons.png) no-repeat 0 -100px;
}
.nicon.nwallpost {
	background:url(icons.png) no-repeat 0 -120px;
}
.nfyWhat {
	padding-top:3px;
}
.nfyTime {
    color: #888;
	display:block !important;
}
.qa-history-event-nill {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 1px #999;
    text-align: center;
    background-color: #999;
    font-style: italic;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.osn-new-events-link {
	position: relative;
}
.osn-new-events-link:hover {
	text-decoration:none !important;
}
/* notifybub (N) */
.ntfy-event-new, .ntfy-event-nill {
    background-color: #FF5;
    color: #000;
    border: 1px solid #EEEE00;
    border-radius: 3px;
    cursor: pointer;
    font-size: 11px;
	font-weight: bold;
    padding: 3px 4px;
    /*vertical-align: top;*/
}
.ntfy-read, .ntfy-event-nill {
    background: #CCC;
    border: 1px solid #CCC;
    color: #555;
}
#nfyReadClose {
	float:right;
	cursor:pointer;
	color:#333;
}

/* snow flat theme */
.qam-account-items-wrapper #osnbox {
	float: right;
    margin-left:-30px;
}
.qam-account-items-wrapper .ntfy-event-new, .qam-account-items-wrapper .ntfy-event-nill {
	padding: 4px 7px;
}
.qam-account-items-wrapper .nfyWrap {
    left:-437px;
	top:30px;
}
.qam-account-items-wrapper .nfyWrap, .qam-account-items-wrapper .nfyWrap .nfyContainer p {
	/* disable snow flat's global border-box */
	box-sizing: content-box !important;
}
.qa_new_notif{
   /* padding:1px 4px 1px 4px;
    background-color:#e8e8e8;
    -webkit-border-radius: 2px 2px; 
    -moz-border-radius: 2px 2px; */
    font-weight:bold;   
}
