
/*
* Updated by Gerardo Rondon
* Date: 22/06/2016
*
*/

.modal {overflow-y: auto;}
.modal-open {overflow: auto;}
.modal-header{border-bottom: 0px ;}
.modal-header .close {margin-top: -10px;}
.btn-full-with{width: 100%;text-align: left;}
.btn-full-with > .fa {margin-left: 5px;margin-right: 5px;min-width: 20px;}
.row-height{margin-bottom: 10px}
.sing-in-tab{  }
.sing-in-tab .footer{text-align: justify;font-size: 1em;padding: 05px 0px 0px 0px;}
button.close { margin-top: -5px;}




ul.slimmenu-2x { width: 100%; padding: 0;list-style-type: none; text-align: center; margin: 0px auto;}
ul.slimmenu-2x li {
    /*position: relative;*/
    float: left;
    display: inline-block;
    text-align:center;

    /*background-color: #AAA;*/
    /*border-bottom: 3px solid #cf2129;*/
}

ul.slimmenu-2x  div {padding: 0px 10px 5px;  margin: auto; text-align: center;}

ul.slimmenu-2x  .active div{ padding: 0px 10px 5px;  margin: auto; border-bottom: 3px solid  #cf2129; text-align: center;}

/*  */






/*ul.slimmenu-2x  li.active  a{ color: black;border-bottom: 3px solid #cf2129;}*/
ul.slimmenu-2x  li  a{

    color: black;
    /*border-bottom: 3px solid #f2f2f2;*/
    display: block;
    /*padding: 12px 64px 12px 16px;*/
    /*color: #333;*/
    text-decoration:none;
    /*box-sizing: border-box;*/
    font-size: 16px;
    font-weight: 400;
    /*border-bottom: 3px solid #cf2129;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.075);*/

    box-sizing: border-box;
}
ul.slimmenu-2x  li  a:hover{ color: black;  }


.menuLogin {  margin: 1px; font-size: 16px}

.dropdown-menu-login .form-control .repair {

    margin-bottom: 2px;

}

.form-group .reduce {
    margin-bottom: 0px;
}


.btn-full-with > .ileft { margin-left: 15%; }


#owl-demo .item{
    /*background: #3fbf79;*/
     /*padding: 30px 0px;*/
    margin: 2px;
    /*color: #FFF;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/


}


    /*@media (min-width: 768px) {*/
        /*.dropdown .dropdown-menu{*/
            /*display: block;*/
            /*opacity:0;*/
            /*-webkit-transition: all 200ms ease-in;*/
            /*-moz-transition: all 200ms ease-in;*/
            /*-ms-transition: all 200ms ease-in;*/
            /*-o-transition: all 200ms ease-in;*/
            /*transition: all 200ms ease-in;*/
        /*}*/

        /*.open > .dropdown-menu {*/
        /*display: block;*/
        /*opacity: 1;*/

        /*}*/

    /*}*/