/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2015, 4:37:45 PM
    Author     : keyur
*/

.morecontent span { display: none; }
.morelink {  display: block; }
.more { text-align: justify; margin: 0; }

