/*==============================================================================
********************     Landing Page Styles For The Site   ********************
==============================================================================*/
header .signup_login{
    width: 100%;
}
header .signup_login li:last-child{
    float: right;
}
header .signup_login .dropdown{
    position: static;
}
header .signup_login .dropdown .dropdown-menu {
    padding: 17px 25px;
    background: #f2f2f2;
    top: 75px;
    right: 0;
    left: inherit;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 295px;
    position: absolute;
    right: 0;
    left: auto;
    
  /*  -webkit-transform: translate(3%,-1%);
    -moz-transform: translate(3%,-1%);
    transform: translate(3%,-1%); */
}
header .signup_login .dropdown .dropdown-menu li a img{
    width: 100%;
    height:40px;
}

.main_slider{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.qa_filter>div>ul li .active_section{
    top:-14px;
}
.thumb_hover .hover_overlay{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.thumb_hover .hover_overlay .inner .bottom_line{
    /*    -webkit-transition: all .9s ease-in-out;
        -moz-transition: all .9s ease-in-out;
        transition: all .9s ease-in-out; 
        bottom: -100px;*/
}
.thumb_hover:hover .hover_overlay .inner .bottom_line{
    bottom: 0;
}
.recenty_wrapper .thumb_full_single_right{
    padding: 0 15px 0 0;  
}
.table>thead>tr>th, 
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td, 
.table>tfoot>tr>th, 
.table>tfoot>tr>td,
.custom_table tr td{
    border-top: 1px solid #d9d7d7;
    vertical-align: middle;
    background: transparent;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background: transparent;
}
.table>tbody>tr:last-child>td{
    border-bottom: 1px solid #d9d7d7;
}
.table>tbody>tr>td:nth-child(3){
    text-align: center;
}
.table>tbody>tr>td:nth-child(3) p{
    text-align: center;
	font-weight:bold;
}
.custom_table ul.list-unstyled li.active a,
.custom_table ul.list-unstyled li a:hover ,
.custom_table ul.list-unstyled li a:focus {
    text-decoration: none;
    color: #cf2129;
}
.custom_table ul.list-unstyled li a i{
    font-size: 28px;
    color: #313131;
    display: block;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
	line-height:16px;
	margin-top:15px;
}
.custom_table ul.list-unstyled li a span{
    font-size: 13px;
    color: #000; 
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.custom_table ul.list-inline li a {
    color: #757575;
}
.custom_table ul.list-inline li.active a,
.custom_table ul.list-inline li a:hover ,
.custom_table ul.list-inline li a:focus{
    text-decoration: none;
    color: #cf2129;
}

.custom_table ul.list-unstyled li a:hover i,
.custom_table ul.list-unstyled li a:hover span{
    color: #cf2129;
}
.custom_table h3{
    font-size: 19px;
    color: #313131;
}
.custom_table h2{
    font-size: 24px;
    background: transparent;
    padding: 0 !important;
    color: #313131;
    margin: 0;
}
.custom_table p{
    font-size: 14px;
    color: #313131;
    
}
.custom_table p span,
.custom_table h2 span{
    display: block;
    font-size: 15px;
    
}
.custom_table .btn-red i{
    font-size: 85px;
}
.custom_table a .fa-comments,
.custom_table a .fa-ellipsis-h{
    font-size: 30px;
    color: #767676;
}
.popular_answer_wrapper,
.recenty_wrapper{
    position: relative;
}
.popular_answer_wrapper .left-arrow,
.recenty_wrapper .left-arrow{
    font-size: 55px;
    position: absolute;
    top: 40%;
    left: -35px;
    color: #313131;
}
.popular_answer_wrapper .right-arrow,
.recenty_wrapper .right-arrow{
    font-size: 55px;
    position: absolute;
    top: 40%;
    right: -35px;
    color: #313131;
}
/*
.popular_answer_wrapper .left-arrow,
.recenty_wrapper .left-arrow{
    
    font-size: 40px;
    position: relative;
    top: 40%;
    left: 48%;
    color: #313131;
    
}
.popular_answer_wrapper .right-arrow,
.recenty_wrapper .right-arrow{
    
    font-size: 40px;
    position: relative;
    top: 40%;
    left: 52%;
    color: #313131;
    
}
*/
.popular_answer_wrapper .left-arrow:hover,
.recenty_wrapper .left-arrow:hover,
.popular_answer_wrapper .right-arrow:hover,
.recenty_wrapper .right-arrow:hover{
    color: #cf2129; 
}
.how_it_works .steps .icon{
    cursor: pointer;
}

/*--  Footer Styles For The Site  --*/
.tabs-wrapper ul{
    text-align: center;
}
.tabs-wrapper ul li{
    display: inline-block;
    float: none !important;
    padding: 0 10px !important;
}
.tabs-wrapper ul li a{
    background: transparent;
    color: #313131;
    font-size: 14px;
    border: 0;
    border-bottom:2px solid transparent;
}
.tabs-wrapper ul li.active a,
.tabs-wrapper ul li.active:hover a,
.tabs-wrapper ul li:hover a{
    background: transparent;
    border: 0;
    border-bottom:2px solid #cf2129;
}
/*--  Footer Styles For The Site  --*/
.footer_social_links li a .fa-linkedin-square{
    color: #2476be;
}
.footer_social_links li a .fa-pinterest-square{
    color: #c92228;
}
.footer_social_links li a .fa-instagram{
    color: #3f729b;
}
/*==============================================================================
********************     Media Styles For The Site   ***************************
==============================================================================*/
@media (min-width:1200px){

}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){
    .qa_filter>div>ul li .active_section{
        top:-4px;
        font-size: 18px;
        margin: 0;
    }
    .qa_filter>div>ul.type_filter li{
        margin: 0 5px;
    }
}


@media (min-width:320px) and (max-width:767px){
    .container{
        width:auto;
    }
    .signup_login {
        width:100%;
        margin: 0;
    }
    .main_slider{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .main_slider .inner h1{
        font-size: 35px;
    }
    .main_slider .inner h3{
        font-size: 18px;
    }
    .main_slider .ask_bar {
        width: 75%;
    }
    .main_slider .ask_bar .form-control{
        width: 65%;
    }
    .main_slider .ask_bar .btn{
        width:35%;
        font-size: 13px;
    }
    .web_nav .navbar-header .navbar-brand {
        padding: 0 25px 0 0;
    }
    header .signup_login li{
        margin-left: 0;
    }
    .navbar-brand>img {
        display: block;
        height: auto;
        margin: 12px 0;
        width: 70px;
    }
    .qa_filter>div>ul{
        padding: 0;
    }
    .qa_filter>div>ul li .active_section{
        font-size: 20px;
        top: -6px;
        margin: 0;
    }
    .qa_filter>div>ul.filter>li{
        margin: 0;
    }
    .qa_filter>div>ul.filter>li a.view_icons {
        top: 0;
    }
    .qa_filter>div>ul.filter>li a.view_icons .fa {
        font-size: 20px;
        margin: 0px 0 0 5px;
        vertical-align: middle;
    }
    .qa_filter>div>ul.type_filter.type_filter_custom {
        margin: 0 0 10px;
        text-align: center;
    }
    .qa_filter>div>ul.type_filter.type_filter_custom li {
        font-size: 16px;  
        margin: 0 13px;
        float: none;
        display: inline-block;
    }
    .qa_gallery{
        padding: 0 15px;
    }
    .navbar-nav .open .dropdown-menu>li>a{
        padding: 5px 15px;
    }
    .navbar-nav .open .dropdown-menu>li>a img{
        width:100%;
    }
    .qa_gallery .thumb_full_single_right{
        padding-left: 0;
    }
}
@media (min-width:320px) and (max-width:480px){
    .qa_filter>div>ul li .active_section{
        font-size: 16px;
        top: -3px;
        margin: 0;
    }
    .qa_filter>div>ul.filter>li{
        margin: 0;
    }
    .qa_filter>div>ul.filter>li a.view_icons {
        top: 0;
    }
    .qa_filter>div>ul.filter>li a.view_icons .fa {
        font-size: 16px;
        margin: 0px 0 0 5px;
        vertical-align: middle;
    }
    .main_slider .ask_bar .form-control {
        width: 55%;
    }
    .main_slider .ask_bar .btn{
        width: 45%;
    }
}