

    /*body{font-family: lato;}*/

.logo img {
    width: 192px;
	height:61px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.top-links > li {
    display: inline-block;
    list-style: outside none none;
    position: relative;
    padding: 30px 15px;
}

.icons-right-top > li {
    display: inline-block;
}

.logout {
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.top {
    border-bottom: 5px solid #d31c2e;
}

.top-links a {
    color: #313131;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #313131;
    border-bottom: 3px solid #d31c2e;
}

.navbar-inverse .navbar-nav > li > a {
    color: #313131;
    font-weight: 900;
    text-transform: capitalize;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #313131;
    border-bottom: 3px solid #d31c2e;
}

.icons-right-top a {
    padding: 25px 15px;
    float: right;
    color: #000;
    font-size: 20px;
}

.icons-right-top {
    text-align: center;
}

.top-links li.first > a {
    font-size: 20px;
}

.navbar-nav > li > a {
    padding: 15px 25px;
}

.pofile-pic > img {
    border-radius: 50%;
}

.b-pic span {
    color: #7f7f7f;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 0;
    text-align: center;
}

.btn-follow {
    margin-top: 10px;
    background-color: #22b573;
    background-image: none;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    height: 25px;
    padding: 0;
    width: 78px;
    margin-left: auto;
    margin-right: auto;
}

.b-pic {
    text-align: center;
}

.pofile-pic {
    text-align: center;
}

.p-name {
    color: #313131;
    font-size: 20px;
    font-weight: 900;
}

.lab {
    color: #a0a0a0;
    font-size: 12px;
}

.p-detail {
    color: #313131;
    font-size: 14px;
}

.left-col .p-detail {
    margin-bottom: 0;
}

.p-name {
    margin-bottom: 0;
}

.welcome-user {
    color: #313131;
    font-size: 33px;
    font-weight: 900;
    text-align: right;
}

.welcome-user > span {
    color: #d31c2e;
    font-style: italic;
}

.content {
    color: #313131;
    font-size: 15px;
    text-align: justify;
}

.right-col .lab {
    margin-bottom: 0;
}

.second-top {
    border-bottom: 2px solid #d31c2e; /*modificado */

}



.posts-right {
    clear: both;
    display: inline-block;
    text-align: center;
    width: 48%;
}

.posts-name {
    display: inline;
    width: 50%;
    color: #333333;
    font-weight: 600;
    font-size: 20px;
}

.posts-right-text {
    margin-left: -180px !important;
    display: inline;
    color: #313131;
    font-size: 16px;
}

.sortby {
    margin-bottom: 0px !important;
}

.fa.fa-align-right {
    color: #d1d1d1;
    font-size: 20px;
}

.fa.fa-th-large {
    color: #d31c2e;
    font-size: 22px;
}

.posts-counting {
    display: inline-block;
    width: 20%;
    margin-top: 10px;
}


.posts-arrow-right {
    color: #c2c1c1;
    display: inline-block;
    font-size: 24px;
    position: relative;
    text-align: center;
    top: -30px;
    width: 18%;
}

.posts-counting i {
    display: block;
    font-size: 24px;
    text-align: center;
    font-weight: 900;
}

.posts-head {
    font-size: 15px;
    font-weight: 900;
}

.p-date {
    font-size: 12px;
    font-weight: 900;
}

.p-date > span {
    font-weight: normal;
}

.psl > span {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
}

.posts-footer > li {
    list-style: outside none none;
}

.icon-f {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 38%;
}

.content-f {
    box-sizing: border-box;
    display: inline-block;
    width: 59%;
}

.posts-footer > li {
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    width: 32%;
    border-right: 1px solid #ccc;
}

.posts-footer > li:last-child {
    border: medium none;
}

.main-box-posts {
    margin-bottom: 10px;
}

.icon-f > span {
    font-size: 44px;
    color: #939393;
}

.number-f {
    color: #848484;
    font-size: 30px;
    font-weight: 350;
}

.title-f {
    font-size: 16px;
    font-weight: 350;
    color: #848484;
    text-transform: capitalize;
}



.grpfooter {
	border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #F2F2F2;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
	position:relative;
	display: inline;
    float: left;
}

.colfooter {
	display:inline;
	float:left;
	clear:both;
	margin-bottom:13px;
	
}

.grpfacebook, .grptweet, .grpgoogle,
  .grpinstagram, .grppinterest, .grplinkedin{
	border-radius: 4px;
    position: relative;
    width: 62px; 
	min-height:40px;
	padding-top:14px;
	padding-bottom:10px;
	margin-left:15px;
	
}
.grpfacebook {	
	background-color: #3B5998;
}
.grptweet {
	background-color: #55ACEE;
}
.grpgoogle {
	background-color: #D14836;
}
.grplinkedin {
	background-color:#2884C1;
}
.grppinterest {
	background-color:#C92228;
}
.grpinstagram {
	background-color:#3F729B;
}
/*-------------------------------------------------------- account page ------------------------------------------------------------*/

.heading {
    border-bottom: 4px solid #d31c2e;
    color: #313131;
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
}

.heading span.sub-heading {
  font-size:14px;
  color:#4b4b4b;
  margin-left:3px;
  background-color:transparent;
  font-family:lato,sans-serif;
}


.heading.red {
    color: #d31c2e;
}

.welcome-user.uname {
    text-align: left;
}

.underline {
    border-bottom: 1px solid #ccc;
}

.underline i {
    margin-left: 135px;
    color: #ccc;
}

.pencil-edit-icon {
    font-size: 20px;
}

.l-a-detail {
    border-bottom: 1px solid #cccccc;
}

.pro-pic > img {
    border-radius: 50%;
}

.b-pics {
    text-align: center;
    width: 192px;
    margin-top: 10px;
}

.b-pics > span {
    color: #cccccc;
    font-size: 26px;
}

.heading-s {
    color: #d41c2e;
    font-size: 12px;
    font-weight: 900;
}

.as {
    color: #313131;
    font-size: 13px;
}

.as1 {
    color: #313131;
    font-size: 14px;
}

.rad-mag {
    margin-left: -20px;
    margin-top: -20px;
}

.txtrdbtn {
    color: #313131;
    font-size: 12px;
}

.a-b-content {
    text-align: justify;
}

.account-page .lbl-des {
    margin-left: -20px;
    color: #757575;
    font-size: 13px;
}

.sred {
    color: #d52937;
}

.sgrey {
    color: #cccccc;
}

.str {
    display: inline-block;
    float: left;
    line-height: 1.4;
    margin-right: 10px;
}

.pencil span {
    color: #cccccc;
}

.rdn {
    display: inline-block;
    float: left;
    margin-right: 10px !important;
}

.pswd {
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding-left: 10px;
    color: #ccc;
}

.pswd:hover, .pswd:focus {
    border: 1px solid #d52937;
}

.pdl5 {
    padding-left: 30px;
}

.navbar-right {
    margin-right: 70px !important;
}

/*----------------------------------------------------   activity page   ---------------------------------------------------*/

.ques-act {
    color: #313131;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
}

.activity-page .dots-three {
    display: inline-block;
    list-style: outside none none;
    color: red;
}

.one-q-act {
    border-bottom: 1px solid #cccccc;
    width: 800px;
    min-height: 60px;
    padding-top: 8px;
}

.one-q-act > p {
    margin-left: 50px;
}

.lbl-des-act {
    margin-left: -15px;
    color: #757575;
    font-size: 13px;
}

/*-----------------------------------------------------   answers page    --------------------------------------------------*/

.ct {
    list-style: outside none none;
    width: 100%;
    border-left: 3px solid #d3d3d3;
    margin-left: 25px;
}

.answers-page .pncl-ans {
    color: #cc0000;
    font-size: 20px;
}

.answers-page .red-simplespan-ans {
    color: #cc0000;
    font-size: 12px;
}

.dropdown {
    display: inline;
    float: right;
    position: relative;
    top: -49px;
}

/*.btn-primary {*/
    /*background-color: rgba(0, 0, 0, 0);*/
    /*border: medium none;*/
    /*color: #313131;*/
/*}*/

/*.btn-primary:hover, .btn-primary:active {*/
    /*background-color: rgba(0, 0, 0, 0);*/
    /*border: medium none;*/
    /*color: #313131;*/
/*}*/

/*.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {*/
    /*background-color: rgba(0, 0, 0, 0);*/
    /*border: medium none;*/
    /*color: #313131;*/
/*}*/

.heading-left {
    color: #313131;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: right;
}

.year-red {
    color: #d31c2e;
    font-size: 14px;
    font-weight: 900;
    text-align: right;
}

.month {
    color: #313131;
    font-size: 12px;
    text-transform: capitalize;
    text-align: right;
}

.box-s > span {
    text-align: center;
    width: 100%;
}

.box-s {
    background-color: #eeeeee;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.nbr {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #484848;
}

.gau {
    color: #15c983;
}

.rad {
    color: #d73545;
}

.ds{

    color: #BFBDBD;
}

.btn-read-more, .btn-read-more:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #0000ff;
    margin-left: 18px;
}

.ans-btm-ul > li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 30px;
}

.row-border-bottom {
    border-bottom: 1px solid #cccccc;
    /* margin-bottom: 10px; */
    margin-left: 0px; /*agregado*/
    margin-right: 0px; /*agregado*/
}

.ans-top {
    color: #313131;
    font-size: 13px;
    font-weight: 600;
}

.ans-head {
    color: #313131;
    font-size: 22px;
    font-weight: 900;
}

/*  agregado */

.ans-head a:link {
    color: black;
    /*text-decoration:none;*/


}

    /* visited link */
    .ans-head    a:visited {
        color: black;
    }

    /* mouse over link */
    .ans-head    a:hover {
        color: black;
    }

    /* selected link */
    .ans-head a:active {
        color: black;
    }

    /*  end  agregado */
/*.ans-content {   color: #313131;    font-size: 14px;    font-weight: 600;    margin-left: 15px;	text-align: justify; 	}*/
.ans-content {
    color: #313131;
    font-size: 14px;
    margin-left: 15px;
    text-align: justify;
}

.ans-btm-ul > li span {
    color: #757575;
    font-size: 12px;
}

.ans-btm-ul > li:hover span {
    color: #cc1420;
}

.has {
    font-weight: 900;
}

.simplespan {
    font-size: 20px;
}

.btn-bottom-red-load-more {
    vertical-align: center;
    text-align: center;
    background-color: #d31c2e;
    color: #ffffff;
    float: right;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-left: auto !important;
    margin-top: 10px;
    width: 90%;
}

.dots-three {
    text-align: right;
    font-size: 25px;
    margin-right: -150px;
}

.btn-r-loadmore {
    display: none;
}

.brand {
    display: none;
}

.pro-pic-mini {
    display: none;
}

.welcome-user.uname.res {
    display: none;
}

.res-dates {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0px;
    display: none;
}

.res-dates > li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 30px;
    text-align: center;
}

.lar {
    left: 30px;
    position: absolute;
}

.rar {
    right: 30px;
    position: absolute;
}

.one-q {
    border-bottom: 1px solid #cccccc;
    min-height: 50px;
    padding-top: 8px;
}

.circle-o {
    margin-left: 10px;
    border: 5px solid #d31c2e;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
}

.circle {
    background-color: #d31c2e;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
}

.one-q > p {
    margin-left: 50px;
}

.q-top {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 0px;
}

/*.ans {*/
    /*!*color: #313131;*!*/
    /*!*font-size: 11px;*!*/
    /*font-weight: 600;*/
    /*margin-bottom: 0px;*/
    /*margin-top: 8px;*/
/*}*/

.l-head {
    border-bottom: 2px solid #d31c2e;
    color: #313131;
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 10px;
}

.lbl {
    color: #d41c2e;
    font-size: 11px;
    font-weight: 900;
    text-align: right;
}

.lbl-des {
    color: #757575;
    font-size: 13px;
}

.l-top {
    font-size: 13px;
    font-weight: 600;
}

.ct {
    width: 90%;
}

.ansby {
    margin-left: 10px;
    border-left: 3px;
}

.nv > li {
    display: inline-block;
    list-style: outside none none;
}

.ic {
    list-style: outside none none;
    float: left;
}

.ic span {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.ic .fa.fa-bookmark {
    color: #ffa84c;
}

.ic .fa.fa-star {
    color: #ffa84c;
}

.mrg15 {
    margin-bottom: 15px;
}

/*-----------------------------------         fav page     -------------------------------------------------*/

.r-ct {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
    margin-top: 23px;
    width: 50%;
}

.l-im {
    display: inline-block;
    float: left;
    width: 40%;
}

.l-im > img {
    border-radius: 50% 50% 0;
    width: 100%;
}

.r-ct .fa.fa-star {
    color: #ffa84c;
}

.s-name {
    color: #313131 !important;
    font-family: lato;
    font-size: 16px;
    font-weight: 900;
}

.s-name-add-more {
    margin-top: 10px;
    margin-left: 10px;
    color: #ff0000 !important;
    font-family: lato;
    font-size: 16px;
    font-weight: 900;
}

.ssb span {
    color: #b6b6b6;
    font-size: 13px;
}

.btn.btn-unfollow {
    background-color: #d31c2e;
    border-radius: 18px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 0;
    padding-top: 0;
}

.fav-head {
    border-bottom: 2px solid #d31c2e;
    color: #323232;
    font-size: 16px;
}

.one-c-img {
  /*  border-radius: 50% 50% 0; */
  /*  width: 90%; */
    z-index: 68;
    width: 70px;
    height: 70px;
    border-radius: 50px 50px 0px 50px;
    position: relative;
   /* margin-right: -10000px; */
    margin-top: 5px;
   /* background: transparent url("/images/artmatter0228_2_innerbig-ieu8578-fr.png") no-repeat left top;
    background: rgba(0,0,0,0) url("/images/artmatter0228_2_innerbig.jpg") no-repeat left top; */
    background-color: transparent;
    background-size: cover;
}
}

.lll {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 6px;
}

.rrr {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 6px;
}

.cus {
    width: 60px;
}

.r-c-head {
    border-bottom: 1px solid #cccccc;
    color: #323232;
    font-size: 16px;
    margin-top: 25px;
}

.check {
    display: inline-block;
    width: 49%;
}

.check > label {
    color: #313131;
    font-size: 15px;
    margin-left: 0;
}

.check input {
    margin-right: 10px;
}

.img-unans > img {
    border-radius: 20%;
    max-width: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.img-unans > label {
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: auto;
}

.fav-page .align-dash > li {
    display: inline-block;
    margin-left: -20px;

}

.fav-page .align-dash > p {
    margin-left: -20px;
}

.fav-page .ic {
    float: right;
    list-style: outside none none;
    margin-top: 20px;
    margin-left: -40px !important;
}

.fav-page .ans-top {
    color: #313131;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.fav-page .ans-head {
    color: #313131;
    font-size: 22px;
    font-weight: 900;
}

.fav-page .ct-fav {
    border: medium none;
    list-style: outside none none;
    width: 100%;
    border-left: 3px solid #d3d3d3;
    margin-left: -6% !important;
}

.fav-page .ansby {
    padding-left: 2%;
    margin-left: 0px;
    font-size: 75%;
    color: #757575;
}

.fav-page .ans-content {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 0px;
}

.fav-page .more-ans {
    color: #484848;
    font-size: 12px;
    font-weight: 600;
    margin-left: 32px;
}

.fav-page .ans-btm-ul {
    display: inline-block;
    margin-left: -70px;
}

.fav-page .right-c-name-edit {
    float: right;
    font-size: 16px;
    color: #939393;
}

/*           -----------------------------------  pms page  --------------------------------------------------------*/

.pml {
    list-style: outside none none;
    min-height: 60px;
    padding: 5px 5px;
}

.imgl {
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
}

.imgl-red1 {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 10px;
    width: 10px;
    margin-left: -45px;
    margin-top: 40px;
}

.imgl-red2 {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    margin-top: 40px;
}

.nml {
    color: #313131;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 0;
}

.newsl {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
}

.content_r {
    padding-left: 60px;
    padding-top: 5px;
}

.hding {
    color: #313131;
    font-size: 14px;
    font-weight: 900;
}

.pml.active {
    background-color: #eeeeee;
    border-left: 3px solid #d31c2e;
}

.heading span {
    background-color: #59ce74;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px;
    margin-left: 110px;
    margin-bottom: 10px;
}

.spright .content_r {
    display: inline-block;
    padding-left: 10px;
    width: 50%;
}

.bder-top {
    border-top: 1px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 20px;
}

.rth {
    color: #7d7d7d;
    float: right;
    font-size: 11px;
}

.outer-sc {
    max-height: 338px;
    overflow: auto;
}

.type-msg {
    background-color: #eeeeee;
    height: 90px;
    width: 100%;
}

.circuler-pic {
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
}

.message-input {
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    height: 50px;
    margin-left: 15px;
    margin-top: 10px;
    width: 70%;
}

input.input-msg {
    border: medium none;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 115%;
}

.msg-icons-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: -60px
}

.msg-icons-right > span {
    color: #cccccc;
    margin-left: 45px;
    width: 100%;
}

.dpb {
    display: none;
}

.icon-right-msg-pm {
    padding-top: 4px;
    text-align: right;
}

/*----------------------------------------------  terms---------------------------------------------------*/

.terms-page .ct-main-head {
    font-size: 20px;
    color:#5F5F5F;;
	font-family: pt-serif, sans-serif;
    text-align: left;
	line-height:30px;
	font-weight:700;
}
.terms-page .heading {
	border-bottom:3px solid #d31c2e;
}

.terms-page .ct-heading {
    font-size: 17px;
    font-weight: bold;
    color: #777777;
	font-family:lato, sans-serif;
    margin: 5px 0 5px 0;
	line-height:26px !important;
	text-align:left;
}
.terms-page p.ct-heading {
	margin-top:0px;
}

.terms-page .ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 17px;
	font-family: pt-serif, sans-serif;	
    text-align: left;
	line-height:26px;
}

.terms-page ul.ct-main-content  li {
	margin-bottom:20px;
}

.terms-page ul.ct-main-content {
	margin-left:20px !important;
}

.terms-page .ct-main-content2 {
    display: inline-block;
    color: #777777;
    font-size: 17px;
    font-family: pt-serif, sans-serif;
	text-align: left;
	font-weight:400;
	line-height:26px;
	margin-bottom:20px;
   
}
/*----------------------------------------------  about ---------------------------------------------------*/

.about-page .ct-main-head {
    font-size: 20px;
	color:#5F5F5F;
	font-family: lato, sans-serif;
    text-align: left;
	font-weight:900;
	line-height:30px;
}

.about-page .ct-heading {
    font-size: 17px;
    font-weight: bold;
    color: #777777;
	font-family:lato, sans-serif;
    margin: 5px 0 5px 0;
	line-height:26px !important;
	text-align:left;
}

.about-page .ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 14px;
	font-family: source-sans-pro, sans-serif;	
    text-align: left;
	line-height:21px;
}

.about-page p.ct-main-content {
	margin-left: 0px;
}

.about-page .ct-main-content2 {
    display: inline-block;
    color: #777777;
    font-size: 17px;
    font-family: pt-serif, sans-serif;
	text-align: left;
   
}

/*---------------------------------------------- privacy ------------------------------------------------*/

.privacy-page .ct-heading {
    font-size: 20px;
	line-height:30px;
    font-weight: 900;
    color: #5F5F5F;
	font-family: lato, sans-serif;  
	margin:0px;	
}

.privacy-page .ct-heading2 {
	font-size: 18px;
	line-height:27px;
	font-family:source-sans-pro,sans-serif;
	margin-bottom: -15px;
	
}

.privacy-page .ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 14px;
    text-align: left;
    font-family:source-sans-pro,sans-serif;
	line-height:21px;
	margin-left:0px;
    margin-bottom:15px;
}



.privacy-page ul.ct-main-content {
	margin-left:35px !important;	
}
.privacy-page ul.ct-main-content li {
    margin-bottom:15px;
}

.privacy-page .ct-main-content2 {
    color: #777777;
    font-size: 16px;
    text-align: justify;
    margin-left: 10px;
    margin-top: 20px;
}


/*---------------------------------------------- press --------------------------------------------------*/

.press-page .ct-heading {
    font-size: 18px;
    font-weight: 900;
    color: #777777;
    margin-top: -10px;
}

/*-------------------------------------------------------------------------------------------------------*/

.input-group-addon {
    background-color: #d31c2e;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 30px;
}

input.form-control {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin-bottom: 30px;
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.in-content {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.ct-main-head {
    font-size: 20px;
    color: #777777;
	font-family: pt-serif, sans-serif;
    text-align: justify;
}

.heading {
    font-size: 30px;
    font-weight: 900;
}

.ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 17px;
    text-align: left;
    margin-left: 10px;
}

.ct-main-content2 {
    display: inline-block;
    color: #777777;
    font-size: 17px;
    text-align: left;
	line-height:26px;
}

.qtype {
    border-bottom: 1px solid #cccccc;
    color: #313131;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
}

.r-topic {
	font-size:18px;
	font-weight:900;
	color:#000;
	padding-left:8px;
	padding-bottom:10px;
}
.qtype-subtitle, .qtype-topic {
	width: auto;
	background-color: transparent;
	line-height: 26px;
	font-size:16px;
	position: relative;
	margin:0 0 0 15px;	
	padding:0px 0px 5px 0px;
	transform-origin:left top;	
}

.qtype-subtitle {
	background-color:#F5F5F5;
	margin-left:0px;
	margin-top:5px;
	font-weight:900;
	padding-left:15px;
	color:#313131;
	padding-top:2px;
	padding-bottom:2px;
}


.terms-page .dpb {
    float: none;
    margin-top: 0px;
}

.feedback-page .dpb {
    float: none;
    margin-top: 0px;

}


.blog-page .dpb {
    float: none;
    margin-top: 0px;
}

.volunteer-page .dpb {
    float: none;
    margin-top: 0px;
}

.faq-page .dpb {
    float: none;
    margin-top: 0px;
}

.topics-page .dpb {
    float: none;
    margin-top: 0px;
}

.unanswered-page .dpb {
    float: none;
    margin-top: 0px;
}

.get-start-page .dpb {
    float: none;
    margin-top: 0px;
}

.get-start4-page .dpb {
    float: none;
    margin-top: 0px;
}

.get-start1-page .dpb {
    float: none;
    margin-top: 0px;
}

.get-start0-page .dpb {
    float: none;
    margin-top: 0px;
}

.single-question-page .dpb {
    float: none;
    margin-top: 0px;
}

.dashboard-page .dpb {
    float: none;
    margin-top: 0px;
}

.landing-page .dpb {
    float: none;
    margin-top: 0px;
}

.dot-term {
    display: inline-block;
    color: red;
    font-size: 30px;
    margin-left: 30px;
}

.mrgl-p {
    margin-left: 30px;
}

.social-icons {
    color: #ffffff;
    cursor: pointer;
    font-size: 45px;
    margin-bottom: 15px;
    padding: 20px;
    width: 32%;
    border-radius: 10px;
    text-align: center;
}

.social-icons.fa.fa-facebook {
    background-color: #3b5998;
}

.social-icons.fa.fa-twitter {
    background-color: #55acee;
}

.social-icons.fa.fa-google-plus {
    background-color: #d14836;
}

.social-icons.fa.fa-linkedin {
    background-color: #2476be;
}

.social-icons.fa.fa-pinterest {
    background-color: #c92228;
}

.social-icons.fa.fa-instagram {
    background-color: #3f729b;
}

.icons-top-text {
    color: #313131;
}

.one-col-nv > li {
    color: #313131;
    display: block;
    font-size: 13px;
    list-style: outside none none;
    margin-bottom: 5px;
}

.one-col-nv {
    display: inline-block;
    vertical-align: text-top;
    width: 32%;
}

.label-head {
    color: #313131;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}

.checkbox-inline {
    color: #313131;
    font-size: 14px;
    font-weight: 700;
}

.first-span {
    margin-left: 0px;
}

.first-span .radio-inline {
	padding-left:3px;
	width:160px;
	white-space:nowrap;
}

.form-group.sel {
    display: inline-block;
    margin-left: 15px;
    width: 50%;
}

.ib {
    display: inline-block;
}

/*textarea {*/
    /*background-color: #eeeeee;*/
    /*border: 1px solid #cccccc;*/
    /*!*height: 200px;*!*/
    /*width: 100%;*/
    /*border-radius: 5px;*/
/*}*/

.it-box {
    display: inline-block;
    width: 33%;
}

.iit {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.iit.em {
    width: 100%;
}

.full-btn {
    width: 100%;
}

/*----------------------------------------------------- 	general page ccs 	------------------------------------------------*/

.b-pic-gen {
    text-align: center;
}

.b-pic-gen span {
    color: #939393;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.posts-name-gen {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    margin-left: 5px;
}

.general-page .posts-right {
    display: inline-block;
}

.general-page .posts-right-text {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
}

/** Button ask question **/

.ask_question_bar {
    float:left;
    width: 100%;
	height:43px !important;
	margi-bottom:20px;
	margin-top:32px;
    text-align: center !important;
	white-space:nowrap;
}


@media(min-width: 991px) {

.bar_center {
	display:inline-block;
	white-space:nowrap;
	position:relative;
 } 

 .ask_question_input {
    float:left;
    width: 689px;
	margin-left:13px;
    border: solid 2px #bfbdbd !important; 
	opacity:0.8;
    border-top-left-radius: 30px !important; 
    border-bottom-left-radius: 30px !important;
	border-right:none;
    height: 37px;
	background-color:#ffffff;
	margin-top:2px;
	line-height:17px;
	position:relative;
	display:block;
 }
}

@media (max-width: 991px) {
 .bar_center {
	display:block;
	white-space:nowrap;
	position:relative;
 } 

.ask_question_input {
    float:left;
    width: 65%;
    border: solid 2px #bfbdbd !important; 
	opacity:0.8;
    border-top-left-radius: 30px !important; 
    border-bottom-left-radius: 30px !important;
	border-right:none;
    height: 37px;
	background-color:#ffffff;
	margin-top:2px;
	line-height:17px;
/* 	position:relative;
 display:block; */
	
 }
}

.button_ask {
	background-color: #cf2129;
    color: #ffffff; 
    font-size: 16px; 
    text-transform: capitalize; 
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    float:left;
	margin-left:-33px;
	line-height:19px;
    width: 157px;
    text-decoration: none !important;
	text-transform: none;
    padding-top: 9px !important;	
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	cursor:pointer;
	z-Index:310;
	position:relative;
	display:inline-block;
}


.button_ask p {
	-webkit-font-smoothing:antialiased;
	font-family:lato, sans-serif !important;
	font-size:16px;
	letter-spacing:1px;
	font-weight:400;
	text-align:center;
}	
/** End *** Button Ask Input **/

/*.posts-right {    clear: both;    display: inline-block;	text-align: center;	width: 48%;}

        .posts-right-text {   margin-left:-180px!important; display: inline;	color: #313131;    font-size: 16px;}
        .general-page .content-f {    box-sizing: border-box;    display: inline-block;    width: 80%;}
        */

/*-------------------------------------------------------  voluntering page css   -----------------------------------------------------------*/

.first-section {
    background-image: url("../includes/images/bg-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 70px;
    padding-bottom: 100px;
}

.v-heading {
    color: #ffffff;
    font-size: 52px;
    font-weight: 900;
	line-height:62px;
	width:608px;
	min-height:70px;
	display:inline-block;
	margin-bottom:20px;
}

.v-sub-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: 660px;
}

.v-ig {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.inner-box-4 {
    background-color: #ff6e5b;
    height: 242px;
	width:242px;
    padding: 15px;
    margin-top: 30px;
}

.text-in-box {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    bottom: 15px;
}

/*----------------------------------------------------------  blog page css    --------------------------------------------------------------*/

.blog-page div.first-section {
	width:140%;
	margin-left:-20%;
	display:inline-block;
	
}

.blog-page .question {
    background-color: #F2F2F2;
	text-align:left;
	padding-left:42px;
	padding-right:42px;
	padding-top:18px;
	padding-bottom:10.25px;
}

.white-space {
    background-color: white;
    margin-left: -30px;
}

.blog-page div.ssb {
	margin-top:9px;
}

.blog-page div.ssb .fa {
	font-size:14px;
	line-height:14px;
	color: #999;
}

.blog-page .s-name {
    color: #5F5F5F !important;
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
	line-height:24px;
}

.blog-page .ssb > span > span {
    color: #999;
	font-family:lato, sans-serif;
    font-size: 13px;
	line-height:16px;
	padding-left:1px;
}

.b-bg-eee {
    background-color: #f0f0f0;
}

.blog-page .text-last-post li {
	padding-bottom: 10px;
	list-style:none;
	font-size:16px;
	color:#5F5F5F;
	line-height:1.4;
	float:left;
	display:block;
	clear:left;
	text-align:left;
	margin-left:48px;
	font-family:source-sans-pro, sans-serif;
	font-size:16px;
	line-height:22px;
	
	
}
.blog-page .aisha {
	background: rgba(0,0,0,0) url("images/aisha.jpg") no-repeat left top;
}

.blog-page .text-last-post li:before {
	margin-right:7px;
	margin-left:-15px;
	content:'○';
	font-family: lato, sans-serif;
	font-weight:400;
}

.blog-page .blog-subtext {
	font-family:lato, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#5F5F5F;
	font-weight:700;
	text-align:left;
	margin-left:20px;
	margin-top:20px;
}

.blog-page .type-msg {
    background-color: #f0f0f0;
    height: 90px;
    width: 100%;
    margin-top: 10px;
}

/*
blog-page .v-sub-heading { 
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    width: 715px;
}
*/

.blog-page .box-s > span {
    text-align: center;
    width: 100%;

}
.blog-page .nbr {
    text-align: center;
    font-size: 11px;
	line-height:17px;
    font-weight: normal;
	font-family:lato, sans-serif;
    color: #5F5F5F;
	margin-bottom:1px;
}

.blog-page .gau {
    color: #15c983;
}

.blog-page .float-right {	
	padding-right:0px;	
	text-align:right;
	padding-left:80px;
}

.blog-page .box-s {
    width: 50px;
    display: block;   
	clear:both;
    margin-top:20px;
    background-color: #F2F2F2;
	float:right;
    width: 50px;	
}

.blog-page .tc {
    list-style: outside none none;
}

.blog-page .post-name-blog {
    list-style: outside none none;
    margin-top: 30px;
    margin-left: -20px;
}

.blog-page .b-u-name {
    color: #313131;
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 0px;
}

.blog-page .b-u-name-detail {
    color: #313131;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: -10px;
}

.blog-page .bicon {
    color: #c1c1c1;
    font-size: 13px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}

.blog-page .ct {
    list-style: outside none none;
    width: 100%;
    border-left: 2px solid #d3d3d3;
    margin-top: 20px;
    margin-left: -40px;
    padding-left: 10px;
}

.blog-page .b-text-user {
    margin-right: 20px;
    color: #313131;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
    padding-left: 10px;
}

.blog-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 220px;
}

/*
        .blog-page .und-has { border-bottom-style: 1px solid; }
        .blog-page .und-simplespan {  }
        */
.blog-page .b-txt {
    color: #999;
    margin-right: 10px;
    text-transform: uppercase;
}
/* 
.fa.fa-facebook.sib {
    background-color: #1a78b9;
}

.fa.fa-twitter.sib {
    background-color: #65b4ef;
}

.fa.fa-google-plus.sib {
    background-color: #d55849;
}
 */
/* .sib {
    color: #ffffff;
    font-size: 24px;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
} */

.blog-page .blog-social-top {
    margin-top: 15px;
	color:#BFBDBD;
}

.blog-page .blog-heading {
    color: #313131;
    font-size: 30px;
	font-height:36px;
    font-weight: 900;
	margin-top:23px;
}

.blog-page .blog-heading-sub {
    color: #313131;
    font-size: 11px;
    font-weight: 700;
}

.blog-page .blog-text {
    color: #777;
    font-size: 17px;
	line-height:26px;
	font-family:pt-serif, sans-serif;
    text-align: left;
	padding-bottom:20px;
	
}

.blog-b-text {
    color: #5F5F5F;
    font-size: 24px;
    text-align: center;
	line-height:36px;
	font-family:pt-serif, sans-serif;
	padding-top:8px;
	padding-bottom:20px;
	font-weight:700;
}

.b-pro-pic {
    border-radius: 50% 50% 0;
    width: 100%;
}

.blog-page .l-imb {
    background-color: #ff5b4c;
    border-radius: 50%;
    height: 84px;
    width: 84px;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blog-page .right-4-col-text {
    color: #999;
    font-size: 13px;
	line-height:18px;
    font-weight: regular;
    text-align: center;
    margin-top: 12px;
	
}

/* ------------------------------------------   faq page css  -----------------------------------------------*/

.faq-page .tag-up {
	height: 84px;
	width: 20px;
	font-size: 30px;
	background-color: transparent;
	color: #22B573;
	letter-spacing: 1px;
	vertical-align:middle;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	position:absolute;
	margin-left:-20px;
	margin-top:-40px;
}

.faq-page .vote-up {
	width: 84px;
	height: 20px;
	font-size: 12px;	
	background-color: transparent;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 900;
	position:absolute;
	margin-top:14px;
	margin-left:18px;
	
}

.faq-page .tag-down {
	width: 20px;
	height: 84px;
	background-color: transparent;
	color: #CF2129;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	position:absolute;
	margin-top:-20px;
	margin-left:50px;
}


.faq-page .vote-down {
	z-index: 53;
	width:84px;
	height:20px;
	background-color: transparent;
	color: #313131;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position:absolute;
	margin-top:55px;
	margin-left:20px;
}

.faq-page li.faq-list-item {
	list-style-type:none;
	margin-left:90px;
}

.faq-page .faq-section-title {	
	font-size: 18px !important;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-family: lato, sans-serif !important;
	cursor:default !important;
}

.faq-page .faq-section-text {
	display:block !important;
	margin:0px 0px 10px 30px !important;
	font-family: lato, sans-serif;
	color:#999;
	font-size:13px;
	line-height:18px;
	position:relative;
	
}

.faq-page .bottom-ul {
	position:relative;
	height:41px;
	margin-left:5px;
	
}

.faq-page .bottom-ul > li {    
	 display: inline-block;    
	 list-style:outside none none;
	 margin-right:30px;
}

.faq-page .bottom-ul .pncl {
    color: #cc0000;
    font-size: 20px;
}

.faq-page .heading {
	font-size:28px !important;
	line-height:34px;
	font-weight:900;
	font-family:lato, sans-serif;
	margin-bottom:20px;
	padding-bottom:5px;
	border-bottom: 3px solid #d31c2e;
    color: #313131;
    font-weight: 900;
}

.faq-page .has, .faq-page .simplespan, .faq-page .has-red, .faq-page .red-simplespan {
	font-family:source-sans-pro,sans-serif;
	font-size:12px;
	line-height:14px;
	color:#999;
	letter-spacing:1px;
}

.faq-page .has {	 	 
	 font-weight:900; 
	 display:inline-block;
	 padding-right:4px;
}

.faq-page .simplespan {	
	 font-size: 12px !important; 
	 display:inline-block; 	
}

.faq-page .has-red { 
	 color: #cf2129; 
	 font-weight: 900; 
	 display:inline-block; 
	 padding-right:4px;
}
.faq-page .red-simplespan {
	 color: #cc0000; 
	 display:inline-block;
}

.faq-page ul.faq-list-item {
	list-style-type:none;
	margin-left:90px !important;
}

.faq-page ul.faq-list-item li {
	padding-bottom:8px;
}

/***********/
/*.faq-page .posts-faq {
    display: inline-block;
    text-align: right;
    width: 47%;
}

.faq-page .posts-text-faq {
    display: inline-block;
    font-size: 16px;
}

.faq-page .boxs-faq > span {
    color: #939393;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.faq-page .boxs-faq {
    background-color: #ffffff;
    width: 50px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.faq-page .nbr {
    text-align: center;
    font-size: 12px;
    color: #939393;
    font-weight: 900;
}

.faq-page .ans-head {
    color: #313131;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -30px;
}

.faq-page .ans-content {
    color: #787878;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0px;
}

.faq-page .ans-btm-ul {
    display: inline-block;
    margin-left: -65px;
}

.faq-page .has-faq {
    font-weight: 900;
}

.faq-page .has-red {
    color: #cc0000;
    font-weight: 900;
}

.faq-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.faq-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

.faq-page .topics {
    border-bottom: 1px solid #cccccc;
    color: #313131;
    font-size: 18px;
    margin: 15px;
    padding-bottom: 5px;
}

.faq-page .li-right-col {
    color: #313131;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    margin-left: 40px;
    list-style: outside none none;
    line-height: 20px;
}

.faq-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 220px;
}
*/
.posts-name.mbold {
    font-size: 30px;
    font-weight: 900;
}

.anspoint {
    padding-left: 30px;
}

.mob-col {
    background-color: #c2c2c2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.text-mob-left {
    display: inline-block;
    float: left;
    width: 48%;
}

.full-mob-text {
    margin-top: 20px;
}

.mob-ic {
    display: inline-block;
    width: 48%;
}

.te-right-topics {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 69%;
}

.top-topics-img {
    display: inline-block;
    width: 30%;
}

.top-topics-img > img {
    border-radius: 50%;
    width: 100%;
}

.top-text-intopics {
    color: #313131;
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
}

.btn-group {
    background-color: #4eb565;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    top: -12px;
}

/*.btn.btn-primary {*/
    /*color: #ffffff;*/
    /*font-size: 14px;*/
    /*font-weight: 700;*/
/*}*/

.ttt {
    color: #313131;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
}

.posts-name.large-text {
    font-size: 30px;
    font-weight: 900;
}

.six-btn > li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 5px;
}

.six-li {
    background-color: #bfbdbd;
    border-radius: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.six-li-icon {
    color: #bfbdbd;
    font-size: 16px;
}

.topics-page .right-c-name-edit {
    color: #cccccc;
}

.topics-page-right-li .pro-pic > img {
    width: 100%;
    border-radius: 50% 50% 0 50%;
}

.topics-page-right-li .pro-pic {
    display: inline-block;
    width: 20%;
}

.topics-page-right-li {
    list-style: none;
    margin-top: 20px;
}

.to-mid {
    display: inline-block;
    padding-left: 15px;
    padding-top: 0;
    vertical-align: middle;
    width: 60%;
}

.to-right {
    display: inline-block;
    text-align: right;
    width: 17%;
}

.to-mid > p {
    color: #313131;
    font-size: 16px;
    font-weight: 900;
}

.to-mid span {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 600;
}

.to-right span {
    color: #7f7f7f;
}

.qandv {
    display: inline-block;
    list-style: outside none none;
    text-align: center;
    width: 49%;
}

.qandv.first {
    border-right: 2px solid #cccccc;
}

.n {
    color: #939393;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
}

.b {
    color: #939393;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 0;
}

.mr {
    margin-top: 30px;
}

.panel-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    color: #313131 !important;
}

.panel.panel-default {
    border: medium none;
}

.panel-body > li {
    list-style: outside none none;
    margin-top: 5px;
    padding-left: 40px;
}

/*  ------------------------    get start page css  ------------------------------------*/

.f-box > p, .se-box > p, .th-box > p {
    color: #313131;
    font-size: 32px;
    margin-top: 50px;
}

.se-box > p {
    text-align: right;
    float: right;
}

.first-box img, .second-box img, .third-box img {
    width: 100%;
}

.first-box {
    background-color: #e6e6e6;
    padding-top: 30px;
}

.second-box {
    background-color: #f2f2f2;
    padding-top: 30px;
}

.third-box {
    background-color: #e6e6e6;
    padding-top: 30px;
}

.slider-get img {
    width: 100%;
}

.answer-dpb.dpb {
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 600;
}

.btn-np-right {
    text-align: right;
}

.np {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 0 50px;
    border-radius: 32px;
}

.btn-next {
    background-color: #d31c2e;
}

.btn-previous {
    background-color: #afafaf;
}

.st-li {
    border-bottom: 3px solid #cf2129;
    list-style: outside none none;
    padding: 5px 0;
}

.st-li span {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.st-li .checkbox {
    display: inline-block;
}

.six-boxes-gs {
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: inline-block;
    height: 150px;
    margin-bottom: 5px;
    width: 32%;
    background-image: url(../includes/images/profile-pic.jpg);
    background-size: 100% 100%;
    padding: 5px;
}

p.bottom-six-boxes-text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
}

.outer-text-b-six {
    border-bottom: 2px solid #ffffff;
    margin-top: 50%;
    position: relative;
}

.st-li label {
    color: #313131;
    font-size: 18px;
    font-weight: 900 !important;
}

.border-arround {
    border: 2px solid #eee;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-np-right {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: right;
}

.border-right {
    border-right: 2px solid #eee;
}

.scr {
    height: 305px;
    overflow: auto;
}

.st-li.tc {
    border: medium none;
    text-align: center;
}

.st-li.tc span {
    color: #cf2129;
    float: none;
    font-size: 32px;
}

/*------------------------------------------------  questions  --------------------------------------------*/

.ic-ques {
    display: block;
    width: 100%;
    list-style: outside none none;
}

.ic-ques span {
    display: block;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-left: 90px;
}

.ic-ques .fa.fa-bookmark {
    color: #ffa84c;
}

.ic-ques .fa.fa-star {
    color: #939393;
}

.ct-ques {
    width: 100%;
    border-left: 3px solid #d3d3d3;
    margin-left: 60px;
    margin-bottom: 10px;
}

.ans-btm-ul-ques {
    margin-left: -10px;
    width: 100%;
}

.ans-btm-ul-ques > li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 30px;
}

.ans-btm-ul-ques > li span {
    color: #757575;
    font-size: 12px;
}

.ans-btm-ul-ques > li:hover span {
    color: #cc1420;
}

.ans-btm-ul .pncl {
    color: #cc0000;
    font-size: 20px;
}

.ans-btm-ul .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

.dots-three-ques {
    display: inline-block;
    font-size: 20px;
    margin-left: 160px;
}

/* -------------------------------------------single question page css -------------------------------------*/

.single-question-page .nbr {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #484848;
}

.single-question-page .ans {
    font-size: 10px;
    font-weight: 600;
}

.single-question-page .rrr {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 6px;
    float: right;
    color: #939393;
}

.single-question-page .right-c-name-edit {
    float: right;
    font-size: 16px;
    color: #939393;
}

.single-question-page .pag {
    text-align: center;
}

.single-question-page .bstans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 25%;
}

.single-question-page .starans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .upans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .downans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .commentans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .amount-topics {
    font-size: 12px;
    color: #cc0000;
    text-align: right;
}

.single-question-page .nmbr {
    font-size: 12px;
    color: #939393;
}

.edit-text-sq {
    display: inline-block;
    text-align: right;
}

.single-question-page .posts-name {
    display: inline-block;
    width: 50%;
    color: #333333;
    font-weight: 900;
    font-size: 20px;
}

.sortby-sq {
    margin-right: -300px;
}

.sortby-sq > button {
    color: #757575;
    text-decoration: none;
}

.single-question-page .ct {
    border: medium none;
    width: 100%;
    margin-left: -30px;
    margin-top: -10px;
}

.single-question-page .ans-top {
    color: #313131;
    font-size: 14px;
    font-weight: 600;
    margin-left: -30px;
    margin-top: -10px;
}

.single-question-page .ans-head {
    color: #313131;
    font-size: 22px;
    font-weight: 900;
    margin-left: -30px;
}

.single-question-page .ans-btm-ul > li span {
    font-size: 12px;
}

.single-question-page .ans-btm-ul > li:hover span {
    color: #cc0000;
}

.single-question-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 160px;
}

.single-question-page .best-answer-sq {
    font-size: 12px;
}

.single-question-page .simplespan {
    color: #848484;
    font-size: 14px;
}

.single-question-page .lll {
    display: inline-block;
    border: none;
    margin-left: -30px;
    color: #d3d3d3;
}

.single-question-page .cus {
    margin-left: -30px;
    width: 60px;
}

.single-question-page .boxs-bloq {
    margin-top: 170px;
    margin-left: 40px;
}

.single-question-page .boxs-sq > span {
    text-align: center;
    width: 100%;
}

.single-question-page .boxs-sq {
    color: #000000;
    background-color: #eeeeee;
    margin-bottom: 0px;
    margin-right: -20px;
    width: 50px;
    display: block;
    margin-top: 10px;
    padding-bottom: 1px;
}

.single-question-page .dots-b-r {
    font-size: 30px;
    margin-left: 20px;
}

.single-question-page .six-btn {
    margin-left: -20px;
    margin-top: -10px;
}

.single-question-page .six-btn > li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 5px;
    font-size: 12px;
}

.single-question-page .topics-top {
    background-image: url(../includes/images/single-question-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 300px;
}

.single-question-page .ansby {
    margin-left: 0;
}

.single-question-page .ans-content {
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    border-left: 3px solid #d3d3d3;
}

.single-question-page .ic {
    color: #d3d3d3;
    margin-right: -30px;
    border-right: medium none;
    float: right;
    list-style: outside none none;
    margin-top: -150px;
    margin-right: -40px;
}

.single-question-page .second-top {
    border-bottom: 4px solid #cccccc;
    margin-bottom: 10px;
}

.single-question-page .topics-page-right-li .pro-pic > img {
    border-radius: 50%;
}

.img-b-l > img {
    border-radius: 50%;
    width: 60px;
    margin-top: -200px;
}

.topics-top li {
    color: #ffffff;
    display: inline-block;
    list-style: outside none none;
    width: 48%;
}

.banner-text-top span {
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
}

.banner-text-top {
    text-align: right;
}

.single-question-page .topics-top > p {
    color: #ffffff;
    text-align: center;
}

.banner-top-text {
    font-size: 14px;
    font-weight: 600;
}

.banner-heading-text {
    font-size: 25px;
    font-weight: 900;
}

.content-ban-l .nm {
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    margin-top: -110px;
    margin-left: 70px;
}

.fl {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-top: -10px;
    margin-left: 70px;
}

.img-b-l {
    display: inline-block;
    float: left;
    width: 70px;
}

.banner-right-li {
    padding-right: 30px;
    text-align: right;
}

.banner-left-li {
    padding-left: 30px;
}

.banner-top-text.t {
    margin-top: 20px;
}
/*-------------------------------------------------- Volunteer Page  -----------------------------------------------*/

.volunteer-page .text-in-box {
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    font-size: 24px;
	
	line-height:29px;
    position: absolute;    
	width:174px;
	margin-bottom: 12px;	
	margin-left: 10px;
	padding-left:10px;
	padding-bottom:10px;
}

.volunteer-page div.first-section {
	width:140%;
	margin-left:-20%;
	display:inline-block;
	
}

.volunteer-page .bottom-v-heading {    
	border-bottom: 3px solid #939393;	
	color: #000; 
	
	font-size: 31px;    
	font-weight: 900; 
	line-height: 37px;
	margin-top: 50px;

}

.volunteer-page .posts-head {
    font-size: 19px !important;
	line-height:23px !important ;
	color:#000;
    font-weight: 900;
	margin-left:-20px;
}


.volunteer-page .bottom-v-heading > span {    
	color: #313131;    
	font-size: 14px;    
	font-weight: normal;    
	margin-left: 40px;	
}
.volunteer-page .posts-right {    
	display: inline-block;	
	float:right;
	color:#5F5F5F;
	font-family:lato,sans-serif;
	
	/*position: relative; top: -35px;    width: 200px;*/
}


.volunteer-page .pull-right {
	color:#939393;
	font-weight:regular;
	font-size:24px;
	
}
.volunteer-page .posts-right-text { 
	display: inline-block; 
	color: #5F5F5F; 
	font-size: 13px; 
	line-height:16px;
	float:right; 
}
.volunteer-page .span-cat { 
	display: inline-block; 
	margin-left: 10px; 
	margin-right: 10px; 
	font-size:14px !important;
	line-height:21px;
}

.volunteer-page .posts-box-inner1 {  
	display: block;  
	padding-bottom:20px;
	border-bottom: 2px solid #bababa; 
}
.volunteer-page .nposts { 
	display: block; 
}

.volunteer-page .posts-counting {
    display: inline-block;
    width: 10%;
    margin-top: 10px;
}

.volunteer-page .posts-counting span { 
	display: block; 
	font-size: 24px; 
	text-align: center; 
	font-weight: 900; 
}

.volunteer-page .posts-des {
    display: inline-block;
    width: 70%;
	font-size:15px;
	line-height:23px;
}

.volunteer-page .nmbr { 
	display: block; 
	font-size: 14px; 
	line-height:18px;
	font-weight:regular;
	color: #999; 
	font-weight: 900; 
	width: 100%;
}
.volunteer-page .nmbr-btm-txt { 
	display: block; 
	font-size: 14px; 
	line-height:18px;
	color: #999; 
	font-weight: regular; 
	margin-top: 0px; 
}
.volunteer-page .posts-arrow-right { 
    color: #999;
    display: inline-block;
    font-size: 14px;
	line-height:18px;
    position: relative;
    text-align: center;
    top: 0px;
	float:right;
	margin-top:10px;
	
    width: 10%;
}


.volunteer-page .posts-arrow-right .fa-comments { 
	font-size:24px;
	
}

.volunteer-page .three-dots { 
	color: #757575; 
	font-size: 24px; 
	font-weight: 900; 
}
.volunteer-page .crcl {
	 background-color: #ff6e5b; 
	 border-radius: 50%; 
	 float: right; 
	 height: 60px; 
	 width: 60px; 
	 position: relative; 
	 top: 20px; 	
	 margin-right:30px;
}


.volunteer-page .p-date {
    font-size: 14px;
	line-height:17px;
    font-weight: 900;
}

.volunteer-page .p-date > span {
    font-weight: normal;
}

/*----------------------------------------- 	contact us page css		------------------------------------------------*/
.feedback-page .full-btn {
    width: 578px;
	height:40px;	
	background:#e15353;
	color:#fff4f4 !important;
	font-size:16px;
	border-radius:100px;
}

.feedback-page .magic-radio + label:before {
	width:18px;
	height:18px;
	border: 2px solid red;
}

.feedback-page .first-span {
    margin-right: 10px;
}

.feedback-page .radio-inline {
    color: #313131;
    font-size: 14px;
    font-weight: 700;
}

.feedback-page .category {
    width: 170px;
    border-radius: 5px;
    display: block;
}

.feedback-page .asterisc {
    color: #cc0000;
    font-size: 16px;
    margin-left: 10px;
}

.feedback-page  textarea.feedback {
    max-width: 580px;
	width:100%;
    height: 84px;
    text-align: justify;
    font-size: 16px;
    background-color:white;
}


.feedback-page .label-head {
    color: #313131;
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;

}

.feedback-page .it-box {
    display: inline-block;
    width: 30%;
    margin-right: 5px;
    padding-bottom: 30px;
}

.feedback-page .heading {
  color:#313131;
  font-size: 2.143em !important;
  font-weight:bold !important;
  font-family:lato,sans-serif;
  text-align:left;
  font-weight:400;
  border-bottom:0px;
  padding-bottom:5px;
  margin-bottom:0px;
}

.feedback-page .sub-heading {
	font-size:14px;
	padding-left:20px;
	color:#4b4b4b;
	line-height:1.5em;
	padding-bottom:10px;
	border-bottom: 3px solid #d31c2e;    
	
}

.feedback-page .in-content {
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 25px;
	padding:0px;
}

.feedback-page input[type="email"], .feedback-page input[type="text"] {
	padding:1px;
	margin-left: 0;
	border:1px solid #ccc;
	font-size:1em; 
	line-height:inherit !important; 
	
	-moz-box-shadow: 0 1px 2px #eee inset;
	-webkit-box-shadow: 0 1px 2px #eee inset;
	box-shadow: 0 1px 2px #eee inset;
	background-color:white;
	border-radius:6px;
	font-family:Arial !important;
	
}

.feedback-page .label-tip {
	color: #313131;
    font-size: 11px;
    margin-top: 10px;	
}

/* ---------------------------------------- 	topics page css			------------------------------------------------*/

.topics-page .posts-topics {
    display: inline-block;
    text-align: right;
    width: 55%;
    margin-bottom: -10px;
}

.topics-page .posts-text-topics {
    font-size: 16px;
}

.topics-page .amount-topics {
    font-size: 12px;
    color: #cc0000;
    text-align: right;
}

.topics-page .bstans {
    list-style: outside none none;
    font-size: 12px;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
}

/*.topics-page .fav { list-style: outside none none; font-size: 12px; color: #FFA500; text-align: right; width: 50%; height: 15px; padding-top: 20px; }*/
.topics-page .ic {
    border: medium none;
    float: right;
    list-style: outside none none;
}

.topics-page .align-dash > li {
    display: inline-block;
    margin-left: -20px;
}

.topics-page .align-dash > p {
    margin-left: -20px;
}

.topics-page .ans-top {
    color: #313131;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.topics-page .ans-head {
    color: #313131;
    font-size: 22px;
    font-weight: 900;
}

.topics-page .ct {
    list-style: outside none none;
    width: 100%;
    border-left: 3px solid #d3d3d3;
    margin-left: -6% !important;
}

.topics-page .ansby {
    padding-left: 2%;
    margin-left: 0px;
    font-size: 75%;
    color: #757575;
}

.topics-page .ans-content {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 0px;
}

.topics-page .more-ans {
    margin-left: 0;
    margin-top: 10px;
}

.topics-page .six-btn {
    padding-left: 0;
    margin-left: -12%;
}

.topics-page .ans-btm-ul {
    padding-left: 0;
    margin-left: -5%;
}

.topics-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.topics-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

.topics-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 270px;
}

.topics-page .b-pics {
    margin-top: 10px;
    float: right;
}

.topics-page .right-c-name-edit {
    color: #c9c9c9;
    float: right;
    font-size: 16px;
}

.topics-page .pag {
    text-align: center;
}

/*.topics-page .dot { font-size: 30px; }	*/

.topics-page .btn-group {
    display: inline-block;
    background-color: #4eb565;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    top: -12px;
}

.topics-page .dots-three-topics {
    display: inline-block;
    font-size: 30px;
    color: #939393;
    letter-spacing: 3px;
    font-weight: 900;
    margin-left: 20px;
}

/*.topics-page .dots-three { text-align: right; font-size: 20px; margin-right: -60px;	}*/

/* ---------------------------------------- 	unanswered page css 	-------------------------------------------------*/

.unanswered-page .one-c-img-unans {
    border-radius: 50% 50% 0;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}

.unanswered-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 300px;
}

.unanswered-page .ans-top-unans {
    color: #313131;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
}

/*.unanswered-page .img-unans > img {	border-radius: 20%;    max-width: 30px;	margin-top: 20px;	margin-bottom: 10px;}
        .unanswered-page .img-unans > label	{	font-size: 15px;    margin-left: 5px;	margin-top: 10px; margin-bottom: auto;	}*/
.unanswered-page .rc-head-unans {
    border-bottom: 1px solid #cccccc;
    color: #323232;
    font-size: 16px;
    margin-top: 20px;
}

.unanswered-page .boxs-unans > span {
    text-align: center;
    width: 100%;
}

.unanswered-page .boxs-unans {
    color: black;
    background-color: #eeeeee;
    width: 50px;
    display: block;
    margin-left: -150px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.unanswered-page .nbr {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #484848;
}

.unanswered-page .posts-unans {
    display: inline-block;
    width: 48%;
    text-align: center;
    margin-top: 1%;
}

.unanswered-page .posts-text-unans {
    font-size: 16px;
}

.unanswered-page .b-pics {
    margin-top: 10px;
    float: right;
}

.unanswered-page .six-btn {
    display: inline-block;
    list-style: outside none none;
    margin-left: -110px;
}

.unanswered-page .ans-btm-ul {
    display: inline-block;
    list-style: outside none none;
    margin-left: -80px;
}

.unanswered-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.unanswered-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

/* ----------------------------------------     dashboard page css      -------------------------------------------------*/




    .dashboard-page .posts-right {
    text-align: center;
    width: 30%;
    padding-top: 2%;
}

.dashboard-page .boxs-dash {
    color: #393939;
    background-color: #eeeeee;
    width: 50px; /* modficado */
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px 0px 0px 4px; /*modficado*/
    text-align: center;
}

.dashboard-page .boxs-dash > span {
    text-align: center;
    width: 100%;
}

.dashboard-page .nbr {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #484848;
    margin-top: -5px; /*agregado*/
    margin-bottom: 0px; /*agregado*/
}

.dashboard-page .align-dash {
    margin-top: 10px
    }

.dashboard-page .img-avatar {
    margin-top: 10px;
    margin-bottom: 10px;
    }
.dashboard-page .align-dash > li {
    display: inline-block;
    margin-left: -20px;

}

.dashboard-page .align-dash > p {
    margin-left: -20px;
}

.dashboard-page .bstans {
    list-style: outside none none;
    font-size: 12px;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
}

/*.dashboard-page .fav { list-style: outside none none; font-size: 12px; color: #FFA500; text-align: right; width: 50%; height: 15px; padding-top: 20px; }*/
.dashboard-page .ic {
    border: medium none;
    float: right;
    list-style: outside none none;
}

.dashboard-page .ct {
    width: 100%;
    border-left: 3px solid #d3d3d3;
    margin-left: -6% !important;
}

.dashboard-page .ansby {
    padding-left: 2%;
    margin-left: 0px;
    font-size: 75%;
    /*color: #757575;*/  /* modificado*/
}

.dashboard-page .ans-content {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px
}

.dashboard-page .more-ans {
    margin-left: -20px; /*modificado */
    margin-top: 10px;
    color: #000000; /*modificado */
    font-weight: 900;
}

.dashboard-page .six-btn {
    padding-left: 0;
    margin-left: -12%;
}

.dashboard-page .ans-btm-ul {
    padding-left: 0;
    margin-left: -5%;
}

.dashboard-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.dashboard-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

.dashboard-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 200px;
}

.dashboard-page .right-c-name-edit {
    color: #c9c9c9;
    float: right;
    font-size: 16px;
}

/* modificado :(  */
p.r-c-head .right-c-name-edit {
        color: #c9c9c9;
        float: right;
        font-size: 16px;
 }


.dashboard-page .pag {
    text-align: center;
}

/*.dashboard-page .dot { font-size: 30px; }	*/

.dashboard-page .amount-topics {
    font-size: 12px;
    color: #cc0000;
    text-align: right;
}

.dashboard-page .btn.btn-read-more {
    margin-left: 0;
}

.dashboard-page .icons-right-top a {
    color: #000000;
    float: right;
    font-size: 20px;
    padding: 25px 5px;
}

.dashboard-page .r-c-head.bold {
    border-bottom: 3px solid #e4273a;
    color: #313131;
    font-size: 17px;
    font-weight: 900;
}

.dashboard-page .f-c {
    display: inline-block;
    width: 49%;
}

.btn-skip-save {
    text-align: right;
}

.btn.qa-btn-skip {
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: #ececec;
    border-radius: 15px;
    color: #ffffff;
    font-size: 12px;
    /*font-size: 13px;*/
    /*font-weight: 600;*/
    font-weight: 700;
    padding: 0 25px;
}

.btn.btn-save {
    background-color: #37b56a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 0 25px;
}


.progress-text {
    color: #cf2129;
    font-size: 15px;
    font-weight: 900;
}

.progress {
    background-color: #ffffff;
    border: 2px solid #af0c1c;
}

.progress-bar {
    background-color: #da1e30;
}




    /*   agreado */

    .dashboard-page .boxs-dash-top{
        position:absolute;
        top: 5px;
        left: -50px;
    }
    .dashboard-page .boxs-dash-down{
        position:absolute;
        top: 40px;
        left: -50px;

    }

    .dashboard-page .content {
        /*background-color: #f7f7f7;*/
        border-bottom: 1px solid #cccccc;
        padding-top: 19px

    }


   .dashboard-page .row-border-bottom {
       background-color: #f7f7f7;
       /*padding-top: 25px;*/
   }

    .dashboard-page .dashboard-alert{

        margin-top: 10px;
        margin-bottom:0px;
        display: none;
    }


    .qa-title-top{
        height: 45px;
    }

    .qa-title-section {

        /*line-height: 19px;*/
        color: #313131;
        text-align: left;
        font-size: 16px;
        /*font-family: lato, sans-serif;*/
        font-weight: 900;

    }


    .second-top .right-c-name-edit{

        color: #c9c9c9;
        float: right;
        font-size: 16px;

    }


    .ans-content a:visited {
        color: #5F5F5F;
        text-decoration: underline;
    }

    .ans-content a:link {
        color: #CF2129;
        font-weight: bold;
        text-decoration: none;
    }

    .red-simplespan a:visited {
        color: #5F5F5F; !important;
        text-decoration: underline;
    }

    .red-simplespan a:link {
        color: #CF2129;  !important;
        font-weight: bold;
        text-decoration: none;
    }
    /*   end agreado */

/*             ----------------------------------          landing page css           ------------------------------             */

.landing-page .first-section {
    background-image: url(../includes/images/bn9.jpg);
}

.landing-page .bottom-v-heading {
    border-bottom: 4px solid #cf2129;
}

.landing-page .posts-right {
    position: relative;
    top: -40px;
}

.boxes.one {
    background-image: url(../includes/images/ln1.jpg);
    height: 263px;
    margin-bottom: 30px;
}

.boxes.two {
    background-image: url(../includes/images/ln2.jpg);
    height: 263px;
    margin-bottom: 30px;
}

.boxes.three {
    background-image: url(../includes/images/ln3.jpg);
    height: 263px;
}

.boxes.four {
    background-image: url(../includes/images/ln4.jpg);
    height: 556px;
}

.boxes {
    color: #ffffff;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ln-left-top {
    display: inline-block;
    text-align: left;
    width: 49%;
    font-size: 13px;
    font-weight: 600;
}

.ln-right-top {
    display: inline-block;
    text-align: right;
    width: 49%;
    font-size: 16px;
    font-weight: 700;
}

.ln-left-bottom {
    display: inline-block;
    width: 49%;
    font-size: 13px;
}

.ln-right-bottom {
    display: inline-block;
    text-align: right;
    width: 49%;
    font-size: 11px;
}

.ln-mid-div {
    border-bottom: 2px solid #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

.ln-mid-div.mid-bold {
    font-size: 27px;
    font-weight: 900;
}

.ln-middle-bottom > span {
    margin-right: 55px;
}

.ln-mid-bottom-div {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 90px;
    padding: 25px;
}

.boxes.five {
    background-image: url(../includes/images/ln5.jpg);
    height: 396px;
    background-size: 100% 100%;
}

.boxes.six {
    background-image: url(../includes/images/ln6.jpg);
    height: 184px;
    margin-bottom: 30px;
}

.boxes.seven {
    background-image: url(../includes/images/ln7.jpg);
    height: 182px;
}

.boxes.eight {
    background-image: url(../includes/images/ln8.jpg);
    height: 182px;
}

.rw-second .ln-mid-div {
    margin-top: 6px;
    margin-bottom: 10px;
}

.rw-second .ln-left-top {
    width: 46%;
}

.rw-second .ln-left-bottom {
    width: 47%;
}

.rw-second .ln-mid-bottom-div {
    margin-bottom: 80px;
}

.rw-second .boxes.six .ln-middle-bottom > span {
    margin-right: 36px;
}

.boxes.nine {
    background-image: url(../includes/images/ln9.jpg);
    margin-top: 30px;
    height: 168px;
}

.boxes.ten {
    background-image: url(../includes/images/ln10.jpg);
    margin-top: 30px;
    height: 168px;
}

.boxes.elewen {
    background-image: url(../includes/images/ln11.jpg);
    margin-top: 30px;
    height: 168px;
}

.boxes.twelwe {
    background-image: url(../includes/images/ln12.jpg);
    margin-top: 30px;
    height: 168px;
}

.landing-page .ans-top {
    margin-left: 30px;
}

.landing-page .ans-btm-ul {
    padding-left: 27px;
}

.ln-pro-pic > img {
    border-radius: 50%;
    height: 80px;
}

.landing-page .posts-arrow-right {
    top: 0;
    color: #767676;
}

.ln-pro-pic {
    text-align: center;
}

.ln-see-more {
    color: #313131;
    font-size: 17px;
    font-weight: 700;
}

.ln-see-more > a {
    color: #cf2129;
    text-decoration: none;
}

.bottom-section i {
    color: #b1b1b1;
    font-size: 75px;
}

.col-head-bottom {
    color: #737373;
    font-size: 17px;
    font-weight: 900;
    margin-top: 20px;
    text-transform: uppercase;
}

.bottom-section-text {
    color: #737373;
    font-size: 14px;
}

.bottom-section-heading {
    border-bottom: 3px solid #ff0000;
    color: #313131;
    font-size: 31px;
    font-weight: 900;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 228px;
}

.bottom-section {
    background-color: #efefef;
    border: 1px solid #cccccc;
    padding-bottom: 50px;
    padding-top: 40px;
}

.btn.btn-join-now {
    background-color: #cf2129;
    border-radius: 27px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
    padding: 0 40px;
}

.landing-page .one-col-nv {
    display: inline-block;
    vertical-align: text-top;
    width: 49%;
}

footer {
    padding-top: 30px;
}

footer .r-c-head {
    margin-bottom: 30px;
}

.right-arrow {
    right: 30px;
    top: 175%;
}

.a-chevron {
    font-size: 40px;
    position: absolute;
}

.left-arrow {
    left: 30px;
    top: 175%;
}

.landing-page .icons-right-top a {
    color: #000000;
    float: right;
    font-size: 15px;
    padding: 25px 5px;
    text-decoration: none;
}

.log-in-box {
    background-color: #ffffff;
    height: 300px;
    position: absolute;
    text-align: center;
    top: 85px;
    width: 220px;
    display: none;
}

.scl {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 200px;
}

.scl span {
    color: #ffffff;
    font-size: 16px;
}

.log-in-box .btn.btn-fb {
    background-color: #126ab3;
}

.log-in-box .btn.btn-tw {
    background-color: #56adef;
}

.log-in-box .btn.btn-gp {
    background-color: #d14835;
}

.log-in-box .btn.btn-li {
    background-color: #2884c1;
}

.pass-login, .emil-login {
    margin: 5px 0;
    width: 200px;
}

.btn.btn-login {
    background-color: #cf2129;
    color: #ffffff;
    float: right;
    font-weight: 700;
    margin-right: 16px;
    padding: 0 19px;
    border-radius: 20px;
}

.lg-in:hover .log-in-box {
    display: block;
}

/*            -------------------------          media quries          -----------------------                     */

@media (max-width: 768px) {
    .top {
        display: none;
    }

    .navbar-inverse {
        background-color: #cd2027;
        border-color: #cd2027;
    }

    .brand {
        display: block;
        width: 150px;
    }

    .brand > img {
        text-align: center;
        width: 150px;
    }

    .brand {
        margin-left: 28% !important;
    }

    .navbar-toggle {
        float: left;
        margin-left: 30px;
        border: none;
    }

    .pro-pic-mini {
        float: right;
        right: 30px;
        display: block;
        position: absolute;
        top: 50px;
    }

    .pro-pic-mini > img {
        border-radius: 50%;
        max-width: 45px;
    }

    .right-col {
        display: none;
    }

    .btn-r-loadmore {
        background-color: #cf2129;
        color: #ffffff;
        display: block;
        font-size: 14px;
        font-weight: 900;
        margin-top: 10px;
        width: 100%;
    }

    .welcome-user.uname {
        text-align: center;
    }

    .heading {
        display: none;
    }

    .welcome-user.uname {
        display: none;
    }

    .welcome-user.uname.res {
        display: block;
    }

    .full-col {
        float: unset !important;
    }

    .pro-pic {
        text-align: center;
    }

    .dpn {
        display: none;
    }

    .pswd {
        width: 100%;
    }

    .b-pics {
        bottom: 111px;
        margin-top: 10px;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .dates {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .box-s {
        display: none;
    }

    .res-dates {
        display: block;
    }

    .ic .fa.fa-star {
        display: none;
    }

    .one-c-img {
        display: none;
    }

    .fav-page .ans-btm-ul {
        display: none;
    }

    .spright {
        display: none;
    }

    .dpb {
        color: #cccccc;
        display: block;
        float: right;
        margin-top: 19px;
    }

    .content_r {
        display: inline-block;
        padding-left: 20px;
        padding-top: 5px;
    }

    .it-box {
        width: 100%;
        display: block;
    }

    .iit {
        width: 100px;
    }

    .first-section {
        margin-top: -20px;
    }

   
    .topics-top {
        text-align: center;
    }

    .f-box > p, .se-box > p, .th-box > p {
        margin-top: 10px;
    }

    .btn-np-right {
        text-align: center;
    }

    .st-li span {
        display: none;
    }

    .st-li.tc span {
        display: none;
    }

    .st-li {
        border: none;
    }

    .six-boxes-gs {
        width: 49%;
    }

    .banner-heading-text {
        font-size: 15px;
        font-weight: 900;
    }

    .banner-top-text.t {
        margin-top: 0;
    }

    .banner-top-text {
        font-size: 10px;
        font-weight: 900;
    }

    .img-b-l > img {
        border-radius: 50%;
        width: 45px;
    }

    .content-ban-l {
        text-align: left;
    }

    .content-ban-l .nm {
        font-size: 11px;
        font-weight: 900;
        margin: 0;
    }

}

@media (max-width: 360px) {
    .brand {
        margin-left: 28% !important;
        line-height: 0;
    }

    .pofile-pic > img {
        border-radius: 50%;
        width: 100%;
    }

    .posts-arrow-right {
        width: 15%;
    }

    .posts-head {
        font-size: 11px;
        font-weight: 700;
    }

    .postsb {
        font-size: 10px;
    }

    .number-f {
        font-size: 22px;
    }

    .title-f {
        font-size: 12px;
    }

    .icon-f > span {
        font-size: 24px;
    }

    .icon-f {
        width: 35px;
    }

    .welcome-user {
        font-size: 12px;
    }

    .as {
        font-size: 9px;
    }

    .s-name {
        font-size: 12px;
    }

    .btn.btn-unfollow {
        font-size: 8px;
    }

    .r-ct {
        margin-top: 0px;
    }

    .check {
        width: 32%;
    }

    .check > label {
        font-size: 11px;
    }
}

.res-dates > li {
    margin: 0 10px;
}

@media (max-width: 320px) {
    .brand {
        margin-left: 28% !important;
        line-height: 1;
    }

    .content-f {
        width: 75%;
    }
}

/*              ---------------------                           media queries end      ---------------------                */

.dashboard-page .dpb {
    float: none;
    margin-top: 0px;
}

.dashboard-page .six-btn {
    padding-left: 0;
    margin-left: -5%;
    margin-top: 10px;
}

    #u37291 {
        border-width: 2px;
        border-style: solid;
        border-color: #BFBDBD;
        background-color: #FFFFFF;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        border-radius: 30px 0px 0px 30px;
        position: relative;
    }
/*  -----------------------------    step --------------------------- */



    p.arrow-pava {

        z-index: 385;
        width: 14px;
        min-height: 39px;
        background-color: transparent;
        color: #BFBDBD;
        text-align: center;
        font-size: 43px;
        line-height: 52px;
        letter-spacing: 0px;
        font-family: lato, sans-serif;
        font-weight: 400;
        -webkit-transform: matrix(0,-1,1,0,-19,33);
        -ms-transform: matrix(0,-1,1,0,-19,33);
        transform: matrix(0,-1,1,0,-19,33);
        margin-bottom: -19px;
        /*position: relative;*/
        /*margin-right: -10000px;*/
        /*margin-top: -13px;*/
        /*left: 42px;*/


    }


 .container-votes{
     width: 100%;
     word-wrap: break-word;
     margin-left: -10px
 }

.row-votes{
      margin-bottom: 2px
  }

.row-votes > .container-col-left {
    float: left; width: 75%; margin-bottom: 2px
}

.container-col-left > .left-content{

    /*color: #FFA500; */
    font-size: 10px; text-align: right
}

.container-col-left > .lef-number{
    color: #BFBDBD; font-size: 13px; text-align: right; font-weight: 900;

}

.row-votes .icons-number {
    color: #BFBDBD;float: right;
}

.row-votes .icons-content {
        /*color: #FFA500;*/
        float: right;
        margin-top: 3px;
        cursor: pointer;
    }

.row-votes .icons-content > i {
        font-size: 18px;
 }

.row-votes .icons-number > i {

        font-size: 24px; font-weight: 900;
    }

.gold {
    color:#FFA500;

}

.col-popup-left {
    width: 80%;
    /*background-color: #00a1d9;*/
    float: left;
    text-align: left;
    font-weight: normal;
    margin-left: 15px;
}
.col-popup-header{
    border-bottom: 2px solid #d31c2e;
    width: 100%;
    text-align: center;
    font-weight: bold;

}


    /* unvisited link */
    .dashboard-page  .qa-title-top a:link {
        color: black;
        outline: 0;
    }

    /* visited link */
    .dashboard-page  .qa-title-top a:visited {
        color: black;
    }

    /* mouse over link */
    .dashboard-page  .qa-title-top a:hover {
        color: black;
    }

    /* selected link */
    .dashboard-page  .qa-title-top a:active {
        color: black;
    }

    @media (min-width: 1200px) {
        .container {
            width: 1060px !important;
        }

    }

    .sidepanel .f-c {
        display: inline-block;
        width: 49%;
    }

    .sidepanel .pag {
        text-align: center;
    }


    .dashboard-page .answer-item {
        min-height: 120px;
  }


    .dashboard-page .question {
        margin-bottom: 15px;
    }

    .container-answer .question:last-child{
        margin-bottom: 5px;

    }


    #u2977-4 {
        z-index: 575;
        width: 240px;
        min-height: 38px;
        background-color: transparent;
        line-height: 36px;
        color: #000000;
        text-align: left;
        font-size: 30px;
        font-family: lato, sans-serif;
        font-weight: 900;
        position: relative;
        margin-right: -10000px;
        margin-top: 4px;
        /* left: 19px; */
    }


    .dashboard-page .top-question{

        margin-top: 15px
    }

    .dashboard-page .tooltip-custom{
        padding-top: 10px;
    }

    .dashboard-page .ans-top{
        margin-left: -20px;
    }

    .dashboard-page .edit-question{
       float: right
    }

    .dashboard-page .edit-question span:first-child{

        margin-right: 15px;
    }

