
/*---------------------------------------------------         MAGIC CHECK         ------------------------------------------------------*/

@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid red; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #red;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red; }

.magic-radio:checked + label:before {
  border: 1px solid red; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }

/*---------------------------------------------------         PURE CSS & CSS3         ------------------------------------------------------*/

.switch {
height: 83px;
width: 234px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -51px;
margin-left: -117px;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px;
background-color: #d1d1d1;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D1D1', endColorstr='#FFFEFBF7');
background-image: -moz-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
background-image: -webkit-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
background-image: linear-gradient(to bottom, #d1d1d1 0%, #fefbf7 100%);
}

.switch:after {
height: 70px;
width: 220px;
position: absolute;
top: 7px;
left: 7px;
content: '';
z-index: 2;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px;
background-color: #a5a5a5;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA5A5A5', endColorstr='#FFE8D7BE');
background-image: -moz-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);
background-image: -webkit-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);
background-image: linear-gradient(to bottom, #a5a5a5 0%, #e8d7be 100%);
}

.checkbox {
height: 60px;
width: 210px;
position: absolute;
top: 12px;
left: 12px;
z-index: 10000;
-moz-border-radius: 35px;
-webkit-border-radius: 35px;
border-radius: 35px;
-moz-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
-webkit-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
background-color: #f28a00;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF28A00', endColorstr='#FFD86517');
background-image: -moz-linear-gradient(top, #f28a00 0%, #e65300 67%, #d86517 100%);
background-image: -webkit-linear-gradient(top, #f28a00 0%, #e65300 67%, #d86517 100%);
background-image: linear-gradient(to bottom, #f28a00 0%, #e65300 67%, #d86517 100%);
}

.checkbox:after {
height: 60px;
width: 117px;
position: absolute;
top: 0;
left: 0;
content: '';
z-index: 9999;
-moz-border-radius: 35px 0 0 35px;
-webkit-border-radius: 35px;
border-radius: 35px 0 0 35px;
-moz-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
-webkit-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);
background-color: #b1dd00;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB1DD00', endColorstr='#FF84AD00');
background-image: -moz-linear-gradient(top, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
background-image: -webkit-linear-gradient(top, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
background-image: linear-gradient(to bottom, #b1dd00 0%, #7eaf00 67%, #84ad00 100%);
}

.control {
height: 73px;
width: 138px;
outline: 0;
position: absolute;
top: 6px;
left: 6px;
z-index: 10001;
-webkit-appearance: none;
-moz-border-radius: 36.5px;
-webkit-border-radius: 36.5px;
border-radius: 36.5px;
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
background-color: #efefef;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFEFEF', endColorstr='#FFBCB9B8');
background-image: -moz-linear-gradient(top, #efefef 32%, #bcb9b8 100%);
background-image: -webkit-linear-gradient(top, #efefef 32%, #bcb9b8 100%);
background-image: linear-gradient(to bottom, #efefef 32%, #bcb9b8 100%);
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.control:checked {
left: 91px;
}

.control:after {
height: 40px;
width: 40px;
position: absolute;
right: 15px;
top: 15px;
content: '';
z-index: 10001;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
background-color: #c2c0be;
*zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC2C0BE', endColorstr='#FFD7D7D7');
background-image: -moz-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
background-image: -webkit-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
background-image: linear-gradient(to bottom, #c2c0be 0%, #d7d7d7 72%);
}

/************************************* Material Style Toggle Switches with Pure CSS / CSS3 ***********************************/

.lbl {
  display: inline-block;
  position: relative;
  display: block;
  height: 12px;
  width: 22px;
  background: #898989;
  border-style: line;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -3px;
  top: -1px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}

.cbx ~ label {
  display: inline-block;
  top: 2px;
  left: -20px;
  background: #c9c9c9;
  border-style: solid 1px #000000;
}

.lbl:active:after { transform: scale(1.15, 0.85); }

/*.cbx:checked ~ label { background: #6fbeb5; }*/

.cbx:checked ~ label:after {
  left: 15px;
  background: red;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after { background: #bcbdbc; }

.hidden { display: none; }