.tabs {
    clear: both;
    float: left;
    list-style: none outside none;
    margin:0;
    padding: 0;
    width: 100%;
}

/*  MODIFICATIONS */
.tab-active {
   color: #000000 !important;
   font-weight: bold;
   //background: #eaeaea;
   background: #EEEEEE;
}
.tabs > li {
    display: block;
    float: left;
    width: 50%;
	box-shadow: 0 2px 0 rgba(217, 224, 226, 0.2);
}
.tabs > li:last-child > a{
    border-left: 1px solid #DDDDDD;
	margin-left: -1px;
}
.tabs > li > a {
	color: #888;
    display: table;
    float: left;
    padding: 10px 0;
    text-align: center;
	text-decoration:none;
	margin: 0;
    width: 100%;
}
/* MOdifications*/
.tab-content {
    display: inline-block;
	background: transparent;
}
.tab-content > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.tab-content > ul > li {
	border-bottom: 1px solid transparent;
	padding: 5px;
}
.tab-content > ul > li:hover {
    border-bottom: 1px solid #DDDDDD;
}

.tab-content > ul > li > a {
    color:#a8a8a8;
}

.tab-time {
}

.tab-link{
	color: #4b4b4b;
	text-decoration:none;
}
.tab-link:hover{
	text-decoration:underline;
}

.tab-link-header{
    margin: 0;
}
.tab-div-thumb{
	float: left;
    height: 50px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    top: 2px;
    width: 60px;
}
.tab-thumbnail{
	border-radius: 0.2em;
}
.tab-ads {
    border-bottom: 1px solid #EEEEEE;
    margin: 8px 0;
}