/*
	Theme Name: islamiqa Custom pages
	Theme URI: Theme Version: 1.0
	Theme Date: 10-05-2016
	Theme Author: islamiqa
	Theme Author URI: Theme License: GPLv2
*/

/*-------------------------------------------- global params -------------------------------------------*/
body {
	font-family: lato;
	padding-top: 73px;
	overflow-x: hidden;
}

header {
	padding: 5px 0;
	z-index: 10000;
	position :fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: white;
}

/*---------------------------------------- styles for custom pages --------------------------------------*/
.qa-sidepanel {
display: none !important;
}

.qa-main {
background: white;
width: 100% !important;
    /*margin-left: -15%;*/
margin: 0;
padding: 0;
}

.qa-body-wrapper {
width: 100%;
}

.qa-main-wrapper {
background: #FFF !important;
}

.container_custom_page {
padding-left: 5% !important;
padding-right: 5% !important;
}

/*------------------------------------------ class for scrollbar -----------------------------------------*/
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button {
//height: 5px;
}

::-webkit-scrollbar-track {
background: transparent;
border: transparent;
}

::-webkit-scrollbar-thumb {
background: #D8D8D8;
border: transparent;
border-radius: 10px;
}

::-webkit-scrollbar-thumb: hover {
background: #848484;
}

/*-------------------------------------------- pseudo-clase ---------------------------------------------*/
::-webkit-scrollbar-thumb: window-inactive {
background: #a13;
}

/*------------------------------------------ register new user ------------------------------------------*/
#step4-2.container {
width: 130% !important;
left: -120px;
position: relative;
}

.hidden {
visibility: hidden;
}

.complete {
width: 100% !important;
}

.body {
padding-right: 100px;
padding-left: 120px;
width: 100% !important;
display: table;
}

.block-center-res {
width: 100%;
float: left;
text-align: center;
}

.body-tour-page {
width: 60% !important;
}

.body-tour-page-text {
width: 40% !important;
}

.resize {
height: 400px;
}

.align-body-tour-page-img-left {
padding-left: 8%;
padding-top: 2%;
}

.align-body-tour-page-text {
font-size: 33px;
font-weight: 900;
letter-spacing: 1px;
padding-top: 1%;
margin-left: -4% !important;
text-align: left;
color: #313131;
line-height: 40px;
font-family: lato, sans-serif;
width: 500px !important;
min-height: 85px !important;
background-color: transparent;
}

.align-body-tour-page-text2 {
width: 500px !important;
min-height: 85px !important;
font-family: lato, sans-serif;
font-weight: 400;
background-color: transparent;
line-height: 24px;
color: #313131;
margin-left: -4% !important;
}

.align-body-tour-page-text2-2 {
z-index: 228;
width: 420px;
min-height: 186px;
background-color: transparent;
line-height: 24px;
color: #313131;
text-align: right;
font-family: lato, sans-serif;
font-weight: 400;
position: relative;
margin-right: -10000px;
margin-top: 120px;
left: -350px;
}

.align-body-tour-page-text3 {
width: 500px !important;
min-height: 85px !important;
font-family: lato, sans-serif;
font-weight: 400;
background-color: transparent;
line-height: 24px;
color: #313131;
margin-left: -13% !important;
}

.adjunt-text {
margin-left: -13% !important;
}

.first-img {
width: 57.666667% !important;
padding-left: 7% !important;
}

.second-img {
width: 57.666667% !important;
padding-right: 60% !important;
float: right !important;
}

.text-second-block {
font-family: lato, sans-serif;
font-size: 33px;
font-weight: 900;
letter-spacing: 1px;
color: #313131;
padding-top: 1%;
margin-right: -9% !important;
margin-left: 5% !important;
text-align: right;
}

.background-first-block {
padding-top: 2% !important;
background: #E6E6E6;
}

.background-second-block {
padding-top: 2% !important;
background: #F2F2F2;
}

input[type="checkbox"] {
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
width: 18px;
height: 18px;
background: url('../images/uncheck.png') left center no-repeat;
}

input[type="checkbox"]:checked {
background: url('../images/check.png') left center no-repeat;
}

.test-checkbox {
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
cursor: pointer;
width: 30px !important;
height: 30px !important;
background: url('../images/topicstar-rollover.png') left center no-repeat !important;
float: right;
background-size: 70% !important;
}

.test-checkbox:checked {
background: url('../images/topicstar2.png') left center no-repeat !important;
background-size: 70% !important;
}

.test-checkbox-ext {
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
cursor: pointer;
width: 30px !important;
height: 30px !important;
background: url('../images/topicexpert-rollover.png') left center no-repeat !important;
float: right;
background-size: 70% !important;
}

.test-checkbox-ext:checked {
background: url('../images/topicexpert-rollover2.png') left center no-repeat !important;
background-size: 70% !important;
}

.margin-izq-2px {
padding-left: 2px !important;
}

.padding-der-izq-2px {
padding-right: 6px !important;
padding-left: 6px !important;
border: solid;
}

.six-boxes-gs-register {
border: 2px solid #cccccc;
border-radius: 15px;
display: inline-block;
height: 125px;
margin-bottom: 15px;
margin-right: 7px;
margin-left: 7px;
overflow: hidden;
width: 158px;
padding-left: 14px !important;
padding-right: 14px !important;
padding-bottom: 0px !important;
text-shadow: 1px 1px #000;
cursor: pointer;
position: relative;
z-index: 0;
}

.six-boxes-gs-register input[type="checkbox"] {
margin-left: -4%;
margin-right: -4%;
margin-top: 4%;
}

.container-outer {
overflow-y: hidden;
//width: 724px;
width: 690px;
height: 640px;
//margin-top: 40px;
margin: 40px auto 0;
}

.fijo {
width: 10000px;
}

.group {
display:block;
vertical-align: top;
padding: 0;
margin: 0;
width: 345px;
//height:640px;
float:left;
}

.step1-label-left {
width: 100%;
cursor: pointer;
}

.step2-label-left {
width: 100%;
cursor: pointer;
}

.arrow-left {
display: block;
position: absolute;
left: 10px;
height: 300px;
color: #BFBDBD;
font-size: 10px;
line-height: 12px;
margin-top: 280px;
cursor: pointer;
}

.arrow-right {
display: block;
position: absolute;
right: 10px;
height: 300px;
color: #BFBDBD;
font-size: 10px;
line-height: 12px;
margin-top: 280px;
cursor: pointer;
}

.fa-yellow {
color: yellow;
margin-left: 85%;
margin-top: -38%;
margin-bottom: -20px;
}

.fa-gray {
color: #D8D8D8;
margin-left: 80%;
margin-top: -38%;
margin-bottom: -20px;
}

.fa-stack {
    /*position: none !important;*/
    /*z-index: 1;*/
z-index: -1;
display: inline-block;
width: 2em;
height: 2em;
line-height: 2em !important;
text-align: right !important;
}

.border-arround-noncondensed {
    /*border: 3px solid #D8D8D8;*/
border: 2px solid #BFBDBD;
    /*border-radius:5px;*/
border-radius: 10px;
    /*padding-top:10px;*/
    /*padding-right: 30px;*/
/padding-right: 5px;
    /*padding-bottom:3px;*/
    /*width: 100%;
    margin: 0 !important;*/
margin-top: 20px !important;
}

.border-right-complete {
    /*border-right: 3px solid #D8D8D8;*/
border-right: 2px solid #BFBDBD;
padding-top: 0.5%;
}

.longer {
width: 46%;
text-align: center;
float: left;
margin-right: 5%;
}

.loger-out-margins {
width: 46%;
text-align: center;
float: left;
margin-left: -3%;
margin-right: 5%
}

.button-register-step1 {
font-size: 16px;
font-weight: bold;
}

.scr-register-step1 {
height: 640px;
overflow: auto;
}

.shadow-topics-register-step1: hover {
background-color: #D8D8D8;
}

.border-top-register-step1 {
padding-top: 5%;
border-top: 3px solid #cf2129;
}

.add-margin-rig-2px {
padding-right: 5px;
}

p.text-square-register-step1 {
color: #FFF;
font-size: 13px;
font-weight: 900;
bottom: 0 !important;
height: inherit;
}

p.text-square-register-step1: hover {
color: #a33;
}

.underlined {
border-bottom: 5px solid #ffffff !important;
margin-top: 25%;
overflow: hidden;
position: static;
border-radius: 2px;
z-index: 1;
}

.underlined: hover {
border-bottom: 5px solid #a33 !important;
}

.logout-register-step1 {
font-size: 16px !important;
letter-spacing: 1px;
}

.col-rigth {
float: right;
width: 10%;
text-align: center;
margin-top: -35%;
z-index: -1;
padding-left: 5%;
color: #D8D8D8;
}

.col-rigth: hover {
color: #a33;
}

.title {
font-size: 24px;
font-weight: 800;
color: #B40404;
margin-bottom: 10%;
}

.images-circle {
border-radius: 200px 200px 0px 200px;
width: 100px !important;
height: 100px !important;
margin-left: -30%;
}

.margin-top-5per {
margin-top: 5% !important;
}

.margin-top-10per {
margin-top: 10% !important;
}

.username-bold {
font-weight: bold;
font-size: 15px !important;
margin-left: -30% !important;
width: 180% !important;
}

.smaller {
font-size: 14px !important;
color: gray !important;
margin-left: -30% !important;
margin-top: 2px !important;
width: 180% !important;
}

.follow {
background: #04B486;
color: #ffffff;
    /*letter-spacing: 1px;*/
padding-left: 10%;
padding-right: 10%;
width: 190% !important;
text-align: center;
margin-left: -30% !important;
border-radius: 200px !important;
margin-top: 10px !important;
}

.follow: hover {
background: #B40404 !important;
cursor: pointer;
}

.centered {
float: left !important;
text-align: center !important;
width: 100% !important;
vertical-align: middle !important;
letter-spacing: 2px !important;
margin-top: 15% !important;
margin-left: -15% !important;
}

.invite-friends {
font-size: 16px;
color: #B40404;
}

a#invite-friends {
    text-decoration: none !important;
    color: #B40404;
}

a#invite-friends:hover {
    text-decoration: underline !important;
    color: #04B486;
}

.st-li {
border-bottom: 3px solid #cf2129;
list-style: outside none none;
padding: 5px 0;
}

.st-li span {
float: right;
margin-right: 10px;
margin-top: 15px;
}

.span-color {
color: #CF2129;
}

.st-li .checkbox {
display: inline-block;
}

.st-li label {
color: #313131;
font-size: 18px;
font-weight: 900 !important;
}

.st-li.tc {
border: medium none;
text-align: center;
height: 43px;
}

.st-li.tc span {
color: #cf2129;
float: none;
font-size: 32px;
margin: 0;
}

.slider-get img {
width: 92%;
}

.btn-np-right {
padding-bottom: 15px;
padding-top: 15px;
text-align: right;
}

.btn-finish {
padding-bottom: 15px;
padding-top: 40px;
margin-left: 300px;
}

.np {
color: #ffffff;
font-size: 15px;
font-weight: 600;
padding: 0 50px;
border-radius: 32px;
}

.btn-step {
color: #ffffff !important;
font-size: 15px !important;
font-weight: 600 !important;
padding: 0 50px !important;
border-radius: 4px !important;
}

.btn-step: disabled {
cursor: no-drop !important;
pointer-events: visible !important;
}

input.form-control {
border-radius: 0 !important;
}

.btn: hover {
color: #555 !important;
}

.btn-next {
background-color: #d31c2e;
}

.btn-previous {
background-color: #afafaf;
}

.slider-get img {
width: 100%;
}

input[type="checkbox"]#follow {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
}

#scrollDown {
cursor: pointer;
}

#scrollUp {
cursor: pointer;
}

#scrollDownExt {
cursor: pointer;
}

#scrollUpExt {
cursor: pointer;
}

.label-right {
display: initial !important;
}

.six-boxes-gs-register: before {
background-color: rgba(0, 0, 0, 0.37);
content: '';
display: block;
height: 100%;
position: absolute;
width: 100%;
margin-left: -14px;
z-index: -1;
}

/*------------------------------------------ top information slider ------------------------------------------*/
#slider-container {
z-index: 5;
width: 1020px;
border-style: none;
border-color: transparent;
background-color: transparent;
margin-left: 60px;
position: relative;
/*margin-top: 30px;*/
margin-top: 20px;
/*height: 155px;*/
}

#slider-container p {
margin: 0 !important;
font-size: 15px !important;
}

#line-top {
z-index: 6;
width: 793px;
height: 6px;
background-color: #C8C8C8;
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 119px;
}

#line-top-2 {
z-index: 5;
width: 278px;
height: 6px;
background-color: #C8C8C8;
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 634px;
}

.grpelem {
display: inline;
float: left;
}

#slider-top {
z-index: 7;
width: 1020px;
border-style: none;
border-color: transparent;
background-color: transparent;
position: relative;
margin-right: -10000px;
}

#step1-red-line {
z-index: 40;
width: 262px;
height: 6px;
background: -webkit-gradient(linear, left center, right center, from(#CF2129),color-stop(100%, #BFBDBD));
background: -webkit-linear-gradient(left,#CF2129 ,#BFBDBD 100%);
background: linear-gradient(to right,#CF2129 ,#BFBDBD 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCF2129, endColorstr=#FFBFBDBD, GradientType=1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF2129', endColorstr='#FFBFBDBD', GradientType=1)";
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 119px;
}

#step2-red-line {
z-index: 39;
width: 262px;
height: 6px;
background-color: #CF2129;
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 119px;
}

#step3-red-line {
z-index: 36;
width: 513px;
height: 6px;
background-color: #CF2129;
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 119px;
}

#step4-red-line {
z-index: 30;
width: 787px;
height: 6px;
background-color: #CF2129;
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 119px;
}

#step2-red-line-2 {
z-index: 40;
width: 262px;
height: 6px;
background: -webkit-gradient(linear, left center, right center, from(#CF2129),color-stop(100%, #BFBDBD));
background: -webkit-linear-gradient(left,#CF2129 ,#BFBDBD 100%);
background: linear-gradient(to right,#CF2129 ,#BFBDBD 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCF2129, endColorstr=#FFBFBDBD, GradientType=1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF2129', endColorstr='#FFBFBDBD', GradientType=1)";
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 372px;
}

#step3-red-line-2 {
z-index: 37;
width: 262px;
height: 6px;
background: -webkit-gradient(linear, left center, right center, from(#CF2129),color-stop(100%, #BFBDBD));
background: -webkit-linear-gradient(left,#CF2129 ,#BFBDBD 100%);
background: linear-gradient(to right,#CF2129 ,#BFBDBD 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCF2129, endColorstr=#FFBFBDBD, GradientType=1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF2129', endColorstr='#FFBFBDBD', GradientType=1)";
position: relative;
margin-right: -10000px;
margin-top: 49px;
left: 637px;
}

#text-container-1 {
width: 0.01px;
margin-right: -10000px;
}

#text-title-1 {
z-index: 12;
width: 239px;
min-height: 19px;
background-color: transparent;
color: #CF2129;
text-align: center;
font-size: 16px;
line-height: 24px;
font-family: lato, sans-serif;
font-weight: 700;
position: relative;
}

#text-title-1-2 {
z-index: 11;
width: 239px;
min-height: 19px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-size: 15px;
line-height: 23px;
font-family: lato, sans-serif;
font-weight: 400;
position: relative;
}

#text-content-1 {
z-index: 24;
width: 237px;
min-height: 77px;
background-color: transparent;
border-radius: 10px;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 500;
margin-left: 1px;
margin-top: 71px;
position: relative;
}

#text-content-1-1 {
z-index: 24;
width: 237px;
min-height: 77px;
background-color: transparent;
border-radius: 10px;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 600;
margin-left: 1px;
margin-top: 71px;
position: relative;
}

#text-container-2 {
width: 0.01px;
margin-right: -10000px;
margin-left: 260px;
}

#text-title-2 {
z-index: 8;
width: 239px;
min-height: 28px;
background-color: transparent;
line-height: 24px;
color: #5F5F5F;
text-align: center;
font-size: 16px;
font-family: lato, sans-serif;
font-weight: 400;
position: relative;
}

#text-title-2-2 {
z-index: 7;
width: 239px;
min-height: 28px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 16px;
font-family: lato, sans-serif;
font-weight: 700;
position: relative;
}

#text-content-2 {
z-index: 20;
width: 237px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 400;
margin-top: 67px;
position: relative;
}

#text-content-2-2 {
z-index: 20;
width: 237px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 600;
margin-top: 67px;
position: relative;
}

#text-container-3 {
width: 0.01px;
margin-right: -10000px;
margin-left: 520px;
}

#text-title-3 {
z-index: 16;
width: 239px;
min-height: 19px;
background-color: transparent;
line-height: 24px;
color: #5F5F5F;
text-align: center;
font-size: 16px;
font-family: lato, sans-serif;
font-weight: 400;
position: relative;
}

#text-title-3-3 {
z-index: 12;
width: 239px;
min-height: 19px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 16px;
font-family: lato, sans-serif;
font-weight: 700;
position: relative;
}

#text-content-3 {
z-index: 28;
width: 237px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 400;
margin-top: 71px;
position: relative;
}

#text-content-3-3 {
z-index: 28;
width: 237px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 600;
margin-top: 71px;
position: relative;
}

#text-container-4 {
width: 0.01px;
margin-right: -10000px;
margin-left: 781px;
}

#text-title-4 {
z-index: 36;
width: 239px;
min-height: 19px;
background-color: transparent;
line-height: 24px;
color: #5F5F5F;
text-align: center;
font-size: 16px;
font-family: lato, sans-serif;
font-weight: 400;
position: relative;
}

#text-title-4-4 {
z-index: 48;
width: 239px;
min-height: 19px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 16px;
font-family: lato, sans-serif;
font-weight: 700;
position: relative;
}

#text-content-4 {
z-index: 32;
width: 237px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 400;
margin-left: 1px;
margin-top: 71px;
position: relative;
}

#text-content-4-4 {
z-index: 32;
width: 237px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-family: lato, sans-serif;
font-weight: 600;
margin-left: 1px;
margin-top: 71px;
position: relative;
}

#rounded-container-1 {
z-index: 41;
width: 42px;
background-color: #CF2129;
border-radius: 50px;
padding-bottom: 6px;
position: relative;
margin-right: -10000px;
margin-top: 31px;
left: 98px;
}

#rounded-content-1 {
z-index: 45;
width: 30px;
background-color: #FFFFFF;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
margin-top: 6px;
left: 6px;
}

#rounded-text-1 {
z-index: 46;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -6px;
}

#rounded-container-2 {
z-index: 42;
width: 30px;
background-color: #BFBDBD;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
margin-top: 37px;
left: 361px;
}

#rounded-container-2-2 {
z-index: 42;
width: 42px;
background-color: #CF2129;
border-radius: 50px;
padding-bottom: 6px;
position: relative;
margin-right: -10000px;
margin-top: 31px;
left: 356px;
}

#rounded-content-2 {
z-index: 43;
width: 30px;
background-color: #FFFFFF;
border-radius: 50px;
position: relative;
margin-right: -10000px;
margin-top: 6px;
left: 5px;
}

#rounded-content-2-2 {
z-index: 47;
width: 30px;
background-color: #F2F2F2;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
left: 1px;
}

#rounded-text-2 {
z-index: 50;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #5F5F5F;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -5px;
}

#rounded-text-2-2 {
z-index: 52;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -6px;
}

#rounded-container-3 {
z-index: 43;
width: 30px;
background-color: #BFBDBD;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
margin-top: 37px;
left: 619px;
}

#rounded-container-3-3 {
z-index: 40;
width: 42px;
background-color: #CF2129;
border-radius: 50px;
padding-bottom: 6px;
position: relative;
margin-right: -10000px;
margin-top: 31px;
left: 613px;
}

#rounded-content-3 {
z-index: 45;
width: 30px;
background-color: #FFFFFF;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
margin-top: 6px;
left: 6px;
}

#rounded-text-3 {
z-index: 54;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #5F5F5F;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -5px;
}

#rounded-text-3-3 {
z-index: 54;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -5px;
left: -5px;
}

#rounded-container-4 {
z-index: 44;
width: 30px;
background-color: #BFBDBD;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
margin-top: 37px;
left: 886px;
}

#rounded-container-4-4 {
z-index: 56;
width: 42px;
background-color: #CF2129;
border-radius: 50px;
padding-bottom: 6px;
position: relative;
margin-right: -10000px;
margin-top: 31px;
left: 880px;
}

#rounded-content-4 {
z-index: 58;
width: 30px;
background-color: #FFFFFF;
border-radius: 50px;
padding-bottom: 2px;
position: relative;
margin-right: -10000px;
margin-top: 6px;
left: 6px;
}

#rounded-text-4 {
z-index: 58;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #5F5F5F;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -5px;
}

#rounded-text-4-4 {
z-index: 74;
width: 40px;
min-height: 26px;
background-color: transparent;
line-height: 24px;
color: #CF2129;
text-align: center;
font-size: 20px;
font-family: lato, sans-serif;
font-weight: 900;
position: relative;
margin-right: -10000px;
margin-top: 2px;
left: -5px;
}

#started-title {
z-index: 204;
width: 610px;
min-height: 65px;
background-color: transparent;
line-height: 48px;
color: #CF2129;
text-align: center;
font-size: 40px;
font-family: lato, sans-serif;
font-weight: 700;
margin-left: 270px;
margin-top: 19px;
position: relative;
}

#started-text {
z-index: 200;
width: 462px;
min-height: 77px;
background-color: transparent;
color: #7F7F7F;
text-align: center;
font-size: 17px;
line-height: 26px;
font-family: lato, sans-serif;
font-weight: 400;
margin-left: 345px;
top: -1px;
margin-bottom: -1px;
position: relative;
}

/*------------------------------------------------ footer -----------------------------------------------------*/
.footer h6 {
color: #5F5F5F;
border-bottom: 3px solid #5F5F5F;
}

/*----------------------------------------------- top button ---------------------------------------------------*/
.skip {
z-index: 282;
width: 53px;
min-height: 20px;
background-color: transparent;
line-height: 14px;
color: #5F5F5F;
font-size: 12px;
font-family: lato, sans-serif;
font-weight: 400;
position: relative;
margin-right: -10000px;
margin-top: 12px;
left: 900px;
}

/*-------------------------------------------------- form-validation ------------------------------------------*/
.fv-form-bootstrap .fv-icon-no-label {
top: 0 !important;
}



/*------------------------------------------------- FAQ page --------------------------------------------------
.row-border-bottom { border-bottom: 1px solid #cccccc; margin-bottom:10px;}
.ans-top { color: #313131;    font-size: 13px;    font-weight: 600;}
.ans-head {    color: #313131;    font-size: 22px;    font-weight: 900;}
.ans-content {   color: #313131;    font-size: 14px;    font-weight: 600;    margin-left: 15px;	text-align: justify;	}
.ans-btm-ul > li span {    color: #757575;    font-size: 12px;}
.ans-btm-ul > li:hover span{color: #cc1420;}


.posts-faq { display: inline-block;	text-align: right; width: 47%; }
.posts-text-faq { display: inline-block; font-size: 16px; }
.boxs-faq > span { color: #939393; font-size: 20px; font-weight: 600; text-align: center; width: 100%; }
.boxs-faq { background-color: #ffffff; width: 50px; display: block; margin-top: 15px; margin-left: auto; margin-right: auto;	margin-bottom: 10px; padding-bottom: 2px;}
.nbr { text-align: center; font-size:12px; color: #939393; font-weight: 900; }

.ans-head { color: #313131; font-size: 20px; font-weight: 700; margin-top: 10px; margin-left: -30px; }
.ans-content { color: #787878; font-size: 16px; font-weight: 600; margin-left: 0px; }


.posts-faq { display: inline-block;	text-align: right; width: 47%; }
.posts-text-faq { display: inline-block; font-size: 16px; }
.boxs-faq > span { color: #939393; font-size: 20px; font-weight: 600; text-align: center; width: 100%; }
.boxs-faq { background-color: #ffffff; width: 50px; display: block; margin-top: 15px; margin-left: auto; margin-right: auto;	margin-bottom: 10px; padding-bottom: 2px;}
.nbr { text-align: center; font-size:12px; color: #939393; font-weight: 900; }


.ans-btm-ul { display: inline-block; margin-left: -65px; }
.has-faq { font-weight:900; }



.pncl { color: #cc0000; font-size: 20px; }


.topics { border-bottom: 1px solid #cccccc; color: #313131; font-size: 18px; margin: 15px; padding-bottom: 5px; }
.li-right-col { color: #313131; font-size: 20px; font-weight: 600; margin: 20px; margin-left: 40px; list-style: outside none none; line-height: 20px; }
.dots-three { display: inline-block; font-size: 20px; margin-left: 220px; }


textarea.feedback {   background-color: #eeeeee;    border: 1px solid #cccccc;    height: 200px;    width: 100%;	border-radius:5px;}

*/

.clearfix {
	clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

