.version.index /* version checker */
{
	color: #00001A;
	background-color: #8872F6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 749.9031846137823px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#top
{
	left: -100px;
	position: relative;
}

#u4074
{
	z-index: 610;
	width: 1280px;
	top: 0px;
	left: 50%;
	margin-left: -640px;
}

#u4109
{
	z-index: 611;
	width: 1280px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u4104
{
	z-index: 616;
	width: 156px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 146px;
}

#menuu4075
{
	z-index: 618;
	width: 396px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 338px;
}

#u4090
{
	width: 97px;
	min-height: 27px;
	margin-right: -10000px;
}

#u4091
{
	width: 97px;
	padding-bottom: 11px;
}

#u4091:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4091:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4094-4
{
	width: 97px;
	min-height: 16px;
	margin-right: -10000px;
	top: 5px;
}

#u4091:hover #u4094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4091:active #u4094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4076
{
	width: 97px;
	min-height: 27px;
	margin-right: -10000px;
	left: 99px;
}

#u4079
{
	width: 97px;
	padding-bottom: 11px;
}

#u4091.MuseMenuActive,#u4079:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4079:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4079.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4080-4
{
	width: 97px;
	min-height: 16px;
	margin-right: -10000px;
	top: 5px;
}

#u4091.MuseMenuActive #u4094-4,#u4079:hover #u4080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4079:active #u4080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4079.MuseMenuActive #u4080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4097
{
	width: 98px;
	min-height: 27px;
	margin-right: -10000px;
	left: 198px;
}

#u4100
{
	width: 98px;
	padding-bottom: 11px;
}

#u4100:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4100:active
{
	width: 98px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4103-4
{
	width: 98px;
	min-height: 16px;
	margin-right: -10000px;
	top: 5px;
}

#u4100:hover #u4103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u4100:active #u4103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u4083
{
	width: 98px;
	min-height: 27px;
	margin-right: -10000px;
	left: 298px;
}

#u4084
{
	width: 98px;
	padding-bottom: 11px;
}

#u4100.MuseMenuActive,#u4084:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4084:active
{
	width: 98px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4084.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px 0px -3px;
}

#u4086-4
{
	width: 98px;
	min-height: 16px;
	margin-right: -10000px;
	top: 5px;
}

#u4100.MuseMenuActive #u4103-4,#u4084:hover #u4086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u4084:active #u4086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u4084.MuseMenuActive #u4086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u4164
{
	z-index: 647;
	width: 190px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 753px;
}

#pu4108
{
	z-index: 648;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u4108
{
	z-index: 0;
	width: 186px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu4110
{
	width: 0.01px;
	position: relative;
	left: 162px;
	padding-top: 2px;
	z-index: 2;
	padding-bottom: 4px;
}

#u4110
{
	z-index: 649;
	width: 24px;
	margin-right: -10000px;
}

#u4107-4
{
	z-index: 643;
	width: 84px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 962px;
}

#u4106-4
{
	z-index: 612;
	width: 56px;
	min-height: 34px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1069px;
}

#u4106-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 56px;
	margin: 16px -10000px 0px 0px;
}

#u4536
{
	z-index: 651;
	width: 9px;
	margin-left: 1126px;
	margin-top: 14px;
}

#u3024
{
	z-index: 2;
	min-height: 498px;
	background-color: #000022;
}

#u3024_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#most-popular
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 431px;
}

#pu3091
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 100px;
}

#u3091
{
	z-index: 0;
	width: 1280px;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../images/img_06112015_005054_7.jpg") no-repeat center center;
	background-size: cover;
}

#pu3048-4
{
	width: 0.01px;
	position: relative;
	left: 336px;
	padding-top: 114px;
	z-index: 2;
}

#u3048-4
{
	z-index: 36;
	width: 608px;
	min-height: 102px;
	background-color: transparent;
	line-height: 62px;
	text-align: center;
	font-size: 52px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u3078-6
{
	z-index: 40;
	width: 608px;
	min-height: 41px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	margin-top: 17px;
	position: relative;
}

#u3038
{
	z-index: 142;
	width: 608px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
}

#u3039
{
	z-index: 143;
	width: 608px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3040
{
	z-index: 144;
	width: 519px;
	height: 36px;
	-pie-box-shadow: none;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
}

#u3041
{
	z-index: 145;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u3042
{
	z-index: 146;
	width: 190px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	background-color: #CF2129;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
}

#u3043-4
{
	z-index: 147;
	width: 152px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 14px;
}

#u3043-2
{
	padding-top: 9px;
}

#u3044
{
	z-index: 151;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 568px;
}

#pu3100
{
	z-index: 7;
	width: 0.01px;
	position: relative;
	margin-left: 626px;
	margin-top: 101px;
}

#u3100
{
	z-index: 0;
	width: 292px;
	background-color: #000000;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3157-4
{
	width: 0.01px;
	position: relative;
	left: 6px;
	padding-top: 4px;
	z-index: 2;
	padding-bottom: 2px;
}

#u3157-4
{
	z-index: 8;
	width: 280px;
	min-height: 17px;
	background-color: transparent;
	color: #BFBDBD;
	line-height: 13px;
	text-align: right;
	font-size: 11px;
	position: relative;
	margin-right: -10000px;
}

#u3024-bw
{
	z-index: 2;
	min-height: 498px;
	margin-top: 26px;
}

#u4019
{
	z-index: 429;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 130px;
	margin-top: 24px;
	position: relative;
}

#u3879
{
	z-index: 430;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3882-4
{
	z-index: 450;
	width: 139px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 833px;
}

#u3910
{
	z-index: 458;
	width: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 970px;
}

#u3908-4
{
	z-index: 460;
	width: 242px;
	min-height: 42px;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
}

#menuu3886
{
	z-index: 431;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 250px;
}

#u3887
{
	width: 96px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3890
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u3890:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3893-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u3890:hover #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3894
{
	width: 96px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u3897
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u3897:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3899-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u3890.MuseMenuActive #u3893-4,#u3897:hover #u3899-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3901
{
	width: 96px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u3902
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u3902:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3905-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u3897.MuseMenuActive #u3899-4,#u3902:hover #u3905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3909-4
{
	z-index: 454;
	width: 139px;
	min-height: 26px;
	background-color: transparent;
	line-height: 16px;
	text-align: right;
	font-size: 13px;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 629px;
}

#u3885
{
	z-index: 464;
	width: 1019px;
	height: 3px;
	background-color: #BFBDBD;
	border-radius: 10px;
	margin-top: 9px;
	position: relative;
}

#u3937
{
	z-index: 465;
	width: 49px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 791px;
	background: transparent url("../images/appbarsquared-u3937-fr.png") no-repeat left top;
	background-size: contain;
}

#u3937:hover
{
	width: 49px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/appbarsquared-u3937-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u3981
{
	z-index: 466;
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 758px;
	background: transparent url("../images/appbartext-u3981-fr.png") no-repeat left top;
	background-size: contain;
}

#u3981:hover
{
	width: 40px;
	height: 40px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/appbartext-u3981-r-fr.png") no-repeat left top;
	background-size: contain;
}

#precently-added
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 24px;
}

#recently-added
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 562px;
}

#u3037-11
{
	z-index: 120;
	width: 605px;
	min-height: 44px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 536px;
	left: 438px;
}

#u4123
{
	z-index: 310;
	width: 1194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u3101
{
	z-index: 311;
	width: 500px;
	height: 502px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 607px;
	background: #D9E021 url("../images/img_06112015_005646.jpg") no-repeat left bottom;
	background-size: cover;
}

#u3089
{
	z-index: 312;
	width: 242px;
	height: 242px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	left: 345px;
	background: #D9E021 url("../images/footballs.jpg") no-repeat right bottom;
	background-size: cover;
}

#u3097
{
	z-index: 313;
	width: 500px;
	height: 242px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 87px;
	background: #D9E021 url("../images/tumblr_static_8o6gzjc8x2o88kcskw80884cg_640_v2.jpg") no-repeat center center;
}

#u3096
{
	z-index: 314;
	width: 242px;
	height: 242px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	left: 87px;
	background: #D9E021 url("../images/jordanian-pilot-maaz-al-kassasbeh-being-burnt-alive.jpg") no-repeat center center;
	background-size: cover;
}

#u4122
{
	z-index: 315;
	width: 1194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
}

#u3098
{
	z-index: 318;
	width: 50px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,50,82);
	-ms-transform: matrix(-1,0,0,-1,50,82);
	transform: matrix(-1,0,0,-1,50,82);
	position: relative;
	margin-right: -10000px;
}

#u3094
{
	z-index: 316;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1144px;
}

#u3141
{
	z-index: 320;
	width: 242px;
	height: 242px;
	background-color: #000000;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-webkit-transform: matrix(-1,0,0,-1,242,242);
	-ms-transform: matrix(-1,0,0,-1,242,242);
	transform: matrix(-1,0,0,-1,242,242);
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u3152
{
	z-index: 321;
	width: 500px;
	height: 242px;
	background-color: #000000;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-webkit-transform: matrix(-1,0,0,-1,500,242);
	-ms-transform: matrix(-1,0,0,-1,500,242);
	transform: matrix(-1,0,0,-1,500,242);
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 87px;
}

#u3156
{
	z-index: 322;
	width: 500px;
	height: 503px;
	background-color: #000000;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-webkit-transform: matrix(-1,0,0,-1,500,503);
	-ms-transform: matrix(-1,0,0,-1,500,503);
	transform: matrix(-1,0,0,-1,500,503);
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#u3143
{
	z-index: 323;
	width: 242px;
	height: 242px;
	background-color: #000000;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-webkit-transform: matrix(-1,0,0,-1,242,242);
	-ms-transform: matrix(-1,0,0,-1,242,242);
	transform: matrix(-1,0,0,-1,242,242);
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u3064-4
{
	z-index: 324;
	width: 416px;
	min-height: 68px;
	background-color: transparent;
	line-height: 37px;
	font-size: 31px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 641px;
}

#u3054-4
{
	z-index: 328;
	width: 416px;
	min-height: 68px;
	background-color: transparent;
	line-height: 37px;
	font-size: 31px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 121px;
}

#u3074-4
{
	z-index: 332;
	width: 174px;
	min-height: 68px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 121px;
}

#u3169-4
{
	z-index: 336;
	width: 174px;
	min-height: 68px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 378px;
}

#u3065-4
{
	z-index: 340;
	width: 174px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: right;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u3139-4
{
	z-index: 344;
	width: 153px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: right;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 399px;
}

#u3165-4
{
	z-index: 348;
	width: 153px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: right;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 920px;
}

#u3151-4
{
	z-index: 352;
	width: 153px;
	min-height: 25px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: right;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 276px;
	left: 383px;
}

#u3065-2,#u3139-2,#u3165-2,#u3151-2
{
	padding-right: 3px;
}

#u3068
{
	z-index: 356;
	width: 416px;
	height: 4px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 467px;
	left: 641px;
}

#u3081
{
	z-index: 357;
	width: 416px;
	height: 4px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
	left: 121px;
}

#u3061
{
	z-index: 358;
	width: 174px;
	height: 3px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 121px;
}

#u3170
{
	z-index: 359;
	width: 174px;
	height: 3px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 377px;
}

#u3133
{
	z-index: 360;
	width: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 413px;
}

#u3124
{
	z-index: 361;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3127
{
	z-index: 363;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3158
{
	z-index: 365;
	width: 34px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 553px;
}

#u3643
{
	z-index: 366;
	width: 60px;
	height: 73px;
	margin-left: 379px;
	margin-top: 4px;
	position: relative;
}

#u4018
{
	z-index: 467;
	width: 1021px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 129px;
	margin-top: 67px;
	position: relative;
}

#u3843
{
	z-index: 468;
	width: 1021px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#menuu3850
{
	z-index: 469;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 251px;
}

#u3851
{
	width: 96px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3854
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 13px;
	position: relative;
}

#u3854:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3857-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u3902.MuseMenuActive #u3905-4,#u3854:hover #u3857-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3858
{
	width: 96px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u3861
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 13px;
	position: relative;
}

#u3861:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3863-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u3854.MuseMenuActive #u3857-4,#u3861:hover #u3863-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3865
{
	width: 96px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u3866
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 13px;
	position: relative;
}

#u3866:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3869-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u3861.MuseMenuActive #u3863-4,#u3866:hover #u3869-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3846-4
{
	z-index: 488;
	width: 139px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 834px;
}

#u3846-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 139px;
	margin: 9px -10000px 0px 0px;
}

#u3846-4:hover p
{
	color: #313131;
	visibility: inherit;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u3873-4
{
	z-index: 492;
	width: 139px;
	min-height: 26px;
	background-color: transparent;
	line-height: 16px;
	text-align: right;
	font-size: 13px;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 630px;
}

#u3874
{
	z-index: 496;
	width: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 972px;
}

#u4536_img,#u3910_img,#u3874_img
{
	padding-bottom: 2px;
}

#u3872-4
{
	z-index: 498;
	width: 252px;
	min-height: 42px;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
}

#u3849
{
	z-index: 502;
	width: 1019px;
	height: 3px;
	background-color: #CF2129;
	border-radius: 10px;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#u4009
{
	z-index: 503;
	width: 49px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 794px;
	background: transparent url("../images/appbarsquared-u3937-fr.png") no-repeat center center;
	background-size: contain;
}

#u4009:hover
{
	width: 49px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/appbarsquared-u3937-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u4009:active
{
	width: 49px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/appbarsquared-u3937-m-fr.png") no-repeat center center;
	background-size: contain;
}

#ppu4121
{
	width: 0.01px;
	margin-left: -704px;
	margin-top: 20px;
}

#pu4121
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 747px;
}

#u4121
{
	z-index: 13;
	width: 1194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
}

#u3267
{
	z-index: 16;
	width: 50px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,50,82);
	-ms-transform: matrix(-1,0,0,-1,50,82);
	transform: matrix(-1,0,0,-1,50,82);
	position: relative;
	margin-right: -10000px;
}

#u3265
{
	z-index: 14;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1144px;
}

#u4120
{
	z-index: 52;
	width: 1022px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#pu3269
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3269
{
	z-index: 53;
	width: 605px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	padding-bottom: 1px;
	position: relative;
	background: #2E3192 url("../images/img_06112015_005050_3.jpg") no-repeat center bottom;
}

#pu3324
{
	z-index: 61;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u3324
{
	z-index: 0;
	width: 605px;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u3324:hover
{
	width: 605px;
	min-height: 0px;
	margin: 0px;
}

#pu3299-4
{
	width: 0.01px;
	position: relative;
	left: 34px;
	padding-top: 28px;
	z-index: 2;
	padding-bottom: 26px;
}

#u3299-4
{
	z-index: 77;
	width: 146px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: right;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 363px;
	position: relative;
}

#u3298-4
{
	z-index: 73;
	width: 468px;
	min-height: 111px;
	background-color: transparent;
	line-height: 37px;
	font-size: 31px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-top: 131px;
	position: relative;
}

#u3279
{
	z-index: 62;
	width: 491px;
	height: 4px;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-top: 10px;
	position: relative;
}

#pu3272
{
	width: 0.01px;
	margin-top: 14px;
}

#u3272
{
	z-index: 54;
	width: 188px;
	height: 160px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	background: #2E3192 url("../images/islamic-leaders-accuse-the-uk-government-of-inciting-a-mccartyite-witch-hunt-against-muslims-1426097319.jpg") no-repeat center top;
	background-size: cover;
}

#u3593
{
	z-index: 55;
	width: 188px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
	background: #2E3192 url("../images/img_06112015_005049_2.jpg") no-repeat center center;
	background-size: cover;
}

#u3799
{
	z-index: 68;
	width: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 39px;
}

#u3802
{
	z-index: 69;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3800
{
	z-index: 71;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3274
{
	z-index: 56;
	width: 188px;
	height: 160px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	left: 417px;
	background: #2E3192 url("../images/img_06112015_005049_1-u3274-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3275
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 625px;
}

#u3275
{
	z-index: 57;
	width: 397px;
	height: 160px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	background: #2E3192 url("../images/2d63abe52.jpg") no-repeat center center;
	background-size: cover;
}

#pu3276
{
	width: 0.01px;
	margin-top: 15px;
}

#u3276
{
	z-index: 58;
	width: 188px;
	height: 160px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	position: relative;
	margin-right: -10000px;
	background: #2E3192 url("../images/in-photos-48-hours-under-siege-in-kobane-body-image-1419461140.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3278
{
	z-index: 60;
	width: 188px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
	left: 209px;
	background: #2E3192 url("../images/in-photos-48-hours-under-siege-in-kobane-body-image-1419460514.jpg") no-repeat center center;
	background-size: cover;
}

#u3702
{
	z-index: 63;
	width: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 39px;
}

#u3705
{
	z-index: 64;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3703
{
	z-index: 66;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3277
{
	z-index: 59;
	width: 396px;
	height: 160px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	margin-top: 14px;
	position: relative;
	background: #2E3192 url("../images/_75974194_180947444.jpg") no-repeat right top;
	background-size: cover;
}

#pu3271
{
	z-index: 18;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u3271
{
	z-index: 0;
	width: 604px;
	background-color: #000000;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu3300-4
{
	width: 0.01px;
	padding-bottom: 171.39999999999918px;
	position: relative;
	left: 159px;
	padding-top: 88px;
	z-index: 2;
}

#u3300-4
{
	z-index: 28;
	width: 146px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 69px;
	position: relative;
}

#u3280
{
	z-index: 19;
	width: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#u3281
{
	z-index: 20;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3285
{
	z-index: 22;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3287
{
	z-index: 24;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u3283
{
	z-index: 26;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u3270
{
	z-index: 12;
	width: 187px;
	height: 36px;
	-pie-box-shadow: none;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	background-color: #000000;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 209px;
}

#pall-questions
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 30px;
}

#all-questions
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u3646-11
{
	z-index: 131;
	width: 605px;
	min-height: 44px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u3037-2,#u3037-6,#u3646-2,#u3646-6
{
	text-decoration: none;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u3647
{
	z-index: 309;
	width: 60px;
	height: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 522px;
}

#u4017
{
	z-index: 391;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 129px;
	margin-top: 22px;
	position: relative;
}

#u3842
{
	z-index: 392;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3791-4
{
	z-index: 412;
	width: 139px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 832px;
}

#u3882-2,#u3846-2,#u3791-2
{
	padding-right: 5px;
	padding-top: 1px;
}

#u3792
{
	z-index: 420;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 971px;
}

#u3792_img
{
	padding-bottom: 4px;
}

#u3797-4
{
	z-index: 422;
	width: 250px;
	min-height: 42px;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
}

#menuu3748
{
	z-index: 393;
	width: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 251px;
}

#u3756
{
	width: 96px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3757
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u3757:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3760-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u3866.MuseMenuActive #u3869-4,#u3757:hover #u3760-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3777
{
	width: 96px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u3778
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u3778:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3779-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u3757.MuseMenuActive #u3760-4,#u3778:hover #u3779-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3784
{
	width: 96px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u3785
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u3785:hover
{
	border-style: solid;
	border-color: #C1272D;
	width: 96px;
	min-height: 0px;
	margin: -3px 0px;
	border-width: 3px 0px;
}

#u3890.MuseMenuActive,#u3897.MuseMenuActive,#u3902.MuseMenuActive,#u3854.MuseMenuActive,#u3861.MuseMenuActive,#u3866.MuseMenuActive,#u3757.MuseMenuActive,#u3778.MuseMenuActive,#u3785.MuseMenuActive
{
	border-style: solid;
	border-color: #CF2129;
	width: 96px;
	min-height: 0px;
	margin: 0px 0px -3px;
	border-width: 0px 0px 3px;
}

#u3787-4
{
	width: 96px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u3778.MuseMenuActive #u3779-4,#u3785:hover #u3787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3785.MuseMenuActive #u3787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3796-4
{
	z-index: 416;
	width: 139px;
	min-height: 26px;
	background-color: transparent;
	line-height: 16px;
	text-align: right;
	font-size: 13px;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 628px;
}

#u3909-2,#u3873-2,#u3796-2
{
	padding-right: 5px;
	padding-top: 4px;
}

#u3841
{
	z-index: 426;
	width: 1019px;
	height: 3px;
	background-color: #CF2129;
	border-radius: 10px;
	margin-top: 9px;
	position: relative;
}

#u4015
{
	z-index: 427;
	width: 49px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 792px;
	background: transparent url("../images/appbarsquared-u3937-fr.png") no-repeat left top;
	background-size: contain;
}

#u4015:hover
{
	width: 49px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/appbarsquared-u3937-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u3937:active,#u4015:active
{
	width: 49px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/appbarsquared-u3937-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u4016
{
	z-index: 428;
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 759px;
	background: transparent url("../images/appbartext-u3981-fr.png") no-repeat left top;
	background-size: contain;
}

#u4016:hover
{
	width: 40px;
	height: 40px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/appbartext-u3981-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u3981:active,#u4016:active
{
	width: 40px;
	height: 40px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/appbartext-u3981-m-fr.png") no-repeat left top;
	background-size: contain;
}

#pu3619
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: 11px;
}

#u3619
{
	z-index: 153;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3522-4
{
	z-index: 154;
	width: 604px;
	min-height: 26px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u3544-4
{
	z-index: 158;
	width: 604px;
	min-height: 26px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 104px;
}

#u3523-9
{
	z-index: 162;
	width: 292px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 104px;
}

#u3546-9
{
	z-index: 171;
	width: 292px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 104px;
}

#u3525-4
{
	z-index: 180;
	width: 604px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 104px;
}

#u3545-5
{
	z-index: 184;
	width: 604px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 104px;
}

#u3532-6
{
	z-index: 189;
	width: 61px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 740px;
}

#u3540-6
{
	z-index: 195;
	width: 61px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 740px;
}

#u3577-6
{
	z-index: 201;
	width: 61px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 740px;
}

#u3578-6
{
	z-index: 207;
	width: 61px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 740px;
}

#u3532-2,#u3540-2,#u3577-2,#u3578-2
{
	line-height: 13px;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u3532-4,#u3540-4,#u3577-4,#u3578-4
{
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u3561-4
{
	z-index: 213;
	width: 604px;
	min-height: 26px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 104px;
}

#u3569-4
{
	z-index: 217;
	width: 604px;
	min-height: 26px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 104px;
}

#u3562-9
{
	z-index: 221;
	width: 292px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 104px;
}

#u3567-9
{
	z-index: 230;
	width: 292px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 104px;
}

#u3523-2,#u3523-4,#u3523-6,#u3546-2,#u3546-4,#u3546-6,#u3562-2,#u3562-4,#u3562-6,#u3567-2,#u3567-4,#u3567-6
{
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u3563-5
{
	z-index: 239;
	width: 604px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 277px;
	left: 104px;
}

#u3545-2,#u3563-2
{
	color: #0000FF;
}

#u3355
{
	z-index: 244;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#pu3882-4,#pu3101,#pmenuu3850,#pu3791-4,#ppu3352-4
{
	width: 0.01px;
}

#pu3352-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u3352-4
{
	z-index: 253;
	width: 14px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	margin-left: 39px;
	top: -12px;
	margin-bottom: -24px;
	position: relative;
}

#u3354-4
{
	z-index: 285;
	width: 84px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 900;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u3353-4
{
	z-index: 269;
	width: 14px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	margin-left: 33px;
	top: -12px;
	margin-bottom: -23px;
	position: relative;
}

#u3345
{
	z-index: 245;
	width: 66px;
	height: 66px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	left: 841px;
	background: #29ABE2 url("../images/2d63abe52-u4867-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3347
{
	z-index: 249;
	width: 1019px;
	height: 2px;
	background-color: #BFBDBD;
	border-radius: 10px;
	margin-top: 23px;
	position: relative;
}

#ppu3457-4
{
	width: 0.01px;
	margin-top: 25px;
}

#u3457-4
{
	z-index: 257;
	width: 14px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	margin-left: 39px;
	top: -12px;
	margin-bottom: -24px;
	position: relative;
}

#u3455-4
{
	z-index: 289;
	width: 84px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 900;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u3456-4
{
	z-index: 273;
	width: 14px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	margin-left: 33px;
	top: -8px;
	margin-bottom: -19px;
	position: relative;
}

#u3454
{
	z-index: 246;
	width: 66px;
	height: 66px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	left: 841px;
	background: #29ABE2 url("../images/x_lon_father_150204-u4876-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3453
{
	z-index: 250;
	width: 1019px;
	height: 2px;
	background-color: #BFBDBD;
	border-radius: 10px;
	margin-top: 23px;
	position: relative;
}

#ppu3467-4
{
	width: 0.01px;
	margin-top: 17px;
}

#pu3457-4,#pu3467-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u3467-4
{
	z-index: 261;
	width: 14px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	margin-left: 39px;
	top: -12px;
	margin-bottom: -24px;
	position: relative;
}

#u3465-4
{
	z-index: 293;
	width: 84px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 900;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u3466-4
{
	z-index: 277;
	width: 14px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	margin-left: 33px;
	top: -8px;
	margin-bottom: -19px;
	position: relative;
}

#u3464
{
	z-index: 247;
	width: 66px;
	height: 66px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	left: 841px;
	background: #29ABE2 url("../images/c37f349ccd294cf0aebc99da8606c00d_18-u4872-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u3463
{
	z-index: 251;
	width: 1019px;
	height: 2px;
	background-color: #BFBDBD;
	border-radius: 10px;
	margin-top: 23px;
	position: relative;
}

#ppu3477-4
{
	width: 0.01px;
	margin-top: 13px;
}

#pu3477-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u3477-4
{
	z-index: 265;
	width: 14px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	margin-left: 39px;
	top: -12px;
	margin-bottom: -24px;
	position: relative;
}

#u3476-4
{
	z-index: 297;
	width: 84px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 900;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u3475
{
	z-index: 248;
	width: 66px;
	height: 66px;
	background-color: #CF2129;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	left: 841px;
}

#u3474-4
{
	z-index: 281;
	width: 14px;
	min-height: 36px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	margin-left: 33px;
	top: -15px;
	margin-bottom: -25px;
	position: relative;
}

#u3473
{
	z-index: 252;
	width: 1019px;
	height: 2px;
	background-color: #BFBDBD;
	border-radius: 10px;
	margin-top: 14px;
	position: relative;
}

#u3526
{
	z-index: 301;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 746px;
}

#u3541
{
	z-index: 303;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 746px;
}

#u3574
{
	z-index: 305;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 746px;
}

#u3579
{
	z-index: 307;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 746px;
}

#u3677
{
	z-index: 367;
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 937px;
}

#u3673
{
	z-index: 368;
	width: 45px;
	background-color: #BFBDBD;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u3674-4
{
	z-index: 369;
	width: 32px;
	min-height: 12px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 7px;
}

#u3687
{
	z-index: 373;
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 937px;
}

#u3689
{
	z-index: 374;
	width: 45px;
	background-color: #BFBDBD;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u3688-4
{
	z-index: 375;
	width: 32px;
	min-height: 12px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 7px;
}

#u3693
{
	z-index: 379;
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 937px;
}

#u3694
{
	z-index: 380;
	width: 45px;
	background-color: #BFBDBD;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u3695-4
{
	z-index: 381;
	width: 32px;
	min-height: 12px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 7px;
}

#u3699
{
	z-index: 385;
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 937px;
}

#u3701
{
	z-index: 386;
	width: 45px;
	background-color: #BFBDBD;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u3700-4
{
	z-index: 387;
	width: 32px;
	min-height: 12px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 4px;
	text-align: center;
	color: #5F5F5F;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 7px;
}

#punanswered
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 36px;
}

#unanswered
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u4427
{
	z-index: 588;
	width: 546px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 467px;
}

#u4428
{
	z-index: 589;
	width: 546px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4429
{
	z-index: 590;
	width: 546px;
	height: 48px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	background-color: #CF2129;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
}

#u4430-7
{
	z-index: 591;
	width: 526px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 10px;
}

#u3037-9,#u3646-9,#u4430-5
{
	padding-top: 8px;
}

#u3037-5,#u3037-8,#u3646-5,#u3646-8,#u4430-2,#u4430-4
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pu3026
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 53px;
}

#u3026
{
	z-index: 3;
	height: 506px;
	-pie-box-shadow: 0px 3px 9px #7F7F7F;
	box-shadow: 0px 3px 9px rgba(0,0,0,0.5);
	background-color: #E6E6E6;
}

#u3026-bw
{
	z-index: 3;
	margin-top: 16px;
	height: 506px;
}

#u4388
{
	z-index: 4;
	height: 506px;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	background: #E6E6E6 url("../images/bodybg.jpg") repeat left top;
}

#u4388-bw
{
	z-index: 4;
	height: 506px;
}

#bottom
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 163px;
}

#u3082-4
{
	z-index: 46;
	width: 228px;
	min-height: 42px;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 626px;
}

#u3053
{
	z-index: 50;
	width: 240px;
	height: 5px;
	background-color: #CF2129;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 620px;
}

#u3051
{
	z-index: 51;
	width: 94px;
	height: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 303px;
}

.ie #u3158,.ie #u3643,.ie #u3647,.ie #u3051
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3051:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 94px;
	height: 94px;
	min-height: 0px;
	margin: 122px -10000px 0px 0px;
}

.ie #u3051:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4396
{
	z-index: 81;
	width: 256px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 612px;
}

#u4136
{
	z-index: 90;
	width: 111px;
	background-color: transparent;
	margin-left: 71px;
	position: relative;
}

#u4136_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u3057-4
{
	z-index: 82;
	width: 256px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	letter-spacing: 0px;
	text-align: center;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-top: 4px;
	position: relative;
}

#u3063-4
{
	z-index: 86;
	width: 254px;
	min-height: 130px;
	background-color: transparent;
	text-align: center;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u4397
{
	z-index: 92;
	width: 256px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 334px;
}

#u4141
{
	z-index: 101;
	width: 110px;
	background-color: transparent;
	margin-left: 67px;
	position: relative;
}

#u4141_clip
{
	overflow: hidden;
	width: 110px;
	height: 110px;
}

#u3059-4
{
	z-index: 93;
	width: 256px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-top: 5px;
	position: relative;
}

#u3076-4
{
	z-index: 97;
	width: 254px;
	min-height: 130px;
	background-color: transparent;
	text-align: center;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 16px;
	position: relative;
}

#u4395
{
	z-index: 103;
	width: 256px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 890px;
}

#u4149
{
	z-index: 112;
	width: 109px;
	border-style: none;
	background-color: transparent;
	margin-left: 71px;
	position: relative;
}

#u4149_clip
{
	overflow: hidden;
	width: 109px;
	height: 109px;
}

#u4141_img,#u4149_img
{
	margin-right: -1px;
	margin-bottom: -1px;
}

#u3075-4
{
	z-index: 104;
	width: 256px;
	min-height: 23px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-top: 4px;
	position: relative;
}

#u3058-4
{
	z-index: 108;
	width: 254px;
	min-height: 130px;
	background-color: transparent;
	text-align: center;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u3034
{
	z-index: 114;
	width: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 427px;
	left: 646px;
}

#u3036
{
	z-index: 115;
	width: 188px;
	-pie-box-shadow: 0px 3px 5px #7F7F7F;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	background-color: #CF2129;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
}

#u3035-4
{
	z-index: 116;
	width: 188px;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
}

#u3035-2
{
	padding-top: 10px;
}

#pu4387
{
	width: 0.01px;
	margin-left: 123px;
	margin-top: 26px;
}

#u4387
{
	z-index: 504;
	width: 1026px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3281,#pu4273
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4273
{
	z-index: 505;
	width: 319px;
	border-style: solid;
	border-color: #5F5F5F;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u4284-4
{
	z-index: 508;
	width: 250px;
	min-height: 17px;
	background-color: transparent;
	color: #5F5F5F;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u4247
{
	z-index: 586;
	width: 192px;
	background-color: transparent;
	margin-left: 23px;
	margin-top: 25px;
	position: relative;
}

#u4250-4
{
	z-index: 582;
	width: 276px;
	min-height: 130px;
	background-color: transparent;
	text-align: left;
	line-height: 24px;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 23px;
	margin-top: 8px;
	position: relative;
}

#pu4275
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 347px;
}

#u4275
{
	z-index: 506;
	width: 326px;
	border-style: solid;
	border-color: #5F5F5F;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u4286-4
{
	z-index: 512;
	width: 250px;
	min-height: 17px;
	background-color: transparent;
	color: #5F5F5F;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 12px;
}

#pmenuu4308
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 25px;
}

#menuu4308
{
	z-index: 520;
	width: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4373
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4373:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4373:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4376-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4373:hover #u4376-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4373:active #u4376-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u3890.MuseMenuActive #u3893-4 p,#u3897.MuseMenuActive #u3899-4 p,#u3902.MuseMenuActive #u3905-4 p,#u3854.MuseMenuActive #u3857-4 p,#u3861.MuseMenuActive #u3863-4 p,#u3866.MuseMenuActive #u3869-4 p,#u3757.MuseMenuActive #u3760-4 p,#u3778.MuseMenuActive #u3779-4 p,#u3785.MuseMenuActive #u3787-4 p,#u4373:hover #u4376-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4373:active #u4376-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4368
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4368:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4368:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4370-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4373.MuseMenuActive #u4376-4,#u4368:hover #u4370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4368:active #u4370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4368:hover #u4370-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4368:active #u4370-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4359
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4359:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4359:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4361-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4368.MuseMenuActive #u4370-4,#u4359:hover #u4361-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4359:active #u4361-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4359:hover #u4361-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4359:active #u4361-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4352
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4352:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4352:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4353-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4359.MuseMenuActive #u4361-4,#u4352:hover #u4353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4352:active #u4353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4352:hover #u4353-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4352:active #u4353-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4345
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4345:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4345:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4347-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4352.MuseMenuActive #u4353-4,#u4345:hover #u4347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4345:active #u4347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4345:hover #u4347-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4345:active #u4347-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#menuu4651
{
	z-index: 551;
	width: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u4372,#u4715
{
	width: 143px;
	background-color: transparent;
	position: relative;
}

#u4718
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4718:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4718:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4720-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4345.MuseMenuActive #u4347-4,#u4718:hover #u4720-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4718:active #u4720-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4718:hover #u4720-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4718:active #u4720-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4697
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u4697:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4697:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4698-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u4718.MuseMenuActive #u4720-4,#u4697:hover #u4698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4697:active #u4698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4697:hover #u4698-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4697:active #u4698-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4674
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4674:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4674:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4675-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u4697.MuseMenuActive #u4698-4,#u4674:hover #u4675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4674:active #u4675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4674:hover #u4675-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4674:active #u4675-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4711
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4711:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4711:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4713-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u4674.MuseMenuActive #u4675-4,#u4711:hover #u4713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4711:active #u4713-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4711:hover #u4713-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4711:active #u4713-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4365,#u4358,#u4351,#u4344,#u4694,#u4673,#u4708,#u4701
{
	width: 143px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u4702
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4702:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4702:active
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4373.MuseMenuActive,#u4368.MuseMenuActive,#u4359.MuseMenuActive,#u4352.MuseMenuActive,#u4345.MuseMenuActive,#u4718.MuseMenuActive,#u4697.MuseMenuActive,#u4674.MuseMenuActive,#u4711.MuseMenuActive,#u4702.MuseMenuActive
{
	border-color: #000000;
	background-color: transparent;
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4704-4
{
	width: 143px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #313131;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u4711.MuseMenuActive #u4713-4,#u4702:hover #u4704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4702:active #u4704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4702.MuseMenuActive #u4704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u4702:hover #u4704-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4702:active #u4704-4 p
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u4373.MuseMenuActive #u4376-4 p,#u4368.MuseMenuActive #u4370-4 p,#u4359.MuseMenuActive #u4361-4 p,#u4352.MuseMenuActive #u4353-4 p,#u4345.MuseMenuActive #u4347-4 p,#u4718.MuseMenuActive #u4720-4 p,#u4697.MuseMenuActive #u4698-4 p,#u4674.MuseMenuActive #u4675-4 p,#u4711.MuseMenuActive #u4713-4 p,#u4702.MuseMenuActive #u4704-4 p
{
	font-family: lato, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u4277
{
	z-index: 507;
	width: 329px;
	border-style: solid;
	border-color: #5F5F5F;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 697px;
	border-width: 0px 0px 3px;
}

#u4292-4
{
	z-index: 516;
	width: 250px;
	min-height: 17px;
	background-color: transparent;
	color: #5F5F5F;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 7px;
}

#u4575-4
{
	z-index: 598;
	width: 13px;
	min-height: 17px;
	background-color: transparent;
	color: #5F5F5F;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,16,3);
	-ms-transform: matrix(0,1,-1,0,16,3);
	transform: matrix(0,1,-1,0,16,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 302px;
}

#u4577-4
{
	z-index: 602;
	width: 13px;
	min-height: 17px;
	background-color: transparent;
	color: #5F5F5F;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,16,3);
	-ms-transform: matrix(0,1,-1,0,16,3);
	transform: matrix(0,1,-1,0,16,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 657px;
}

#u4579-4
{
	z-index: 606;
	width: 13px;
	min-height: 17px;
	background-color: transparent;
	color: #5F5F5F;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,16,3);
	-ms-transform: matrix(0,1,-1,0,16,3);
	transform: matrix(0,1,-1,0,16,3);
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 1010px;
}

body
{
	position: relative;
	min-width: 1280px;
}

