/*
	Theme Name: islamiqa
	Theme URI:
	Theme Version: 1.0
	Theme Date: 2014-12-16
	Theme Author: islamiqa
	Theme Author URI: 
	Theme License: GPLv2
*/

.qa-form-light-button-wantanswer {
	background: url('../images/icons/wantanswer.png');
    background-repeat:no-repeat;
	padding-left: 22px;
	color: #FF8000;
	font-weight: 700;
	text-transform: capitalize;
    
}
.qa-form-light-button-wantanswer:focus {
color: #000;
//cursor: default;
}


.qa-form-light-button-wantanswerclicked {
	background: url('../images/icons/wantanswer.png');
    background-repeat:no-repeat;
	padding-left: 22px;
	color: #000;
	font-weight: 700;
	text-transform: capitalize;
    cursor: default;
}



.qa-form-light-button-wantanswer:hover {
	color: #000;
}


.qa-form-light-button-wantanswerclicked:hover, 
.qa-form-light-button-wantanswerclicked:focus {
color: #000;
cursor: default;
}

/*
	MODIFIED 24-12-2015 by Carlos Parra
*/
 




