.main_slider {

	height: 495px;

	padding: 70px 0;

	margin: 0 0 30px 0;

	background: #efefef url(#{$imagesPath}content/banner.jpg) no-repeat center center;

	background-size: 100% auto;

	@extend .text-center;

	@include box-shadow(0px 6px 6px rgba($black, 0.3));

	.inner{

		width: 100%;
		
		max-width: 500px;

		margin: 0 auto;

		color: lighten($black, 100%);

		h1{

			font-size: 60px;

			font-weight: 900;

			line-height: 60px;

		}

		h3{

			font-size: 24px;

			font-weight: 700;

			padding: 0 70px;

		}

	}

	.ask_bar{

		width: 100%;
		
		max-width: 600px;

		padding: 20px 0;

		margin: 0 auto;

		.form-control{

			width: 75%;

			height: 36px;

			padding: 6px 20px;

			float: left;

			border: none;

			@include border-radius(18px 0px 0px 18px);

		}

		.btn{

			width: 25%;

			height: 36px;

			float: left;

			font-size: 16px;

			font-weight: 900;

			border: none;

			@include border-radius(0px 18px 18px 0px);

		}

	}

}