.how_it_works{

	padding: 50px 0;

	background: #efefef url(#{$imagesPath}content/pattern_01.jpg) repeat center center;

	border-top: 1px solid lighten($black, 80%);

	border-bottom: 1px solid lighten($black, 80%); 

	@include box-shadow(0px 0px 6px rgba($black, 0.3));

	h2{

		padding-bottom: 7px;

		margin: 0;
		
		font-size: 32px;

		font-weight: 900;

		color: lighten($black, 20%);

		display: inline-block;

		border-bottom: 4px solid $brand-primary;

	}

	.steps{

		padding: 50px 0;

		color: lighten($black, 45%);

		@include clearfix;

		.col-md-4{

			padding: 0 50px;

			&:hover{

				.icon svg{

					fill: $brand-primary;

				}

				h4{
					
					color: lighten($black, 30%);

				}

				p{
					
					color: lighten($black, 30%);

				}

			}

		}

		.icon{

			display: inline-block;

			width: 75px;

			height: 100px;

			svg{
				
				fill: lighten($black, 70%);

				@include default-transition(all, .3s);

			}

			&.perspective{

				width: 90px;

			}

		}

		h4{

			font-size: 18px;

			font-weight: 900;

			color: lighten($black, 45%);

			@include default-transition(all, .3s);

		}

		p{

			color: lighten($black, 45%);

			@include default-transition(all, .3s);

		}

	}

	.join_now_btn{

		.btn{

			padding: 0px 45px 2px 45px;

			font-size: 22px;

			font-weight: 700;

			@include border-radius(18px);

			@include default-transition(all, .3s);

		}

	}

}