.qa_filter{

	border-bottom: 3px solid $brand-primary;

	margin: 0 0 25px 0;
	
	& > div > ul{

		display: block;

		padding: 23px 0 0 0;

		margin: 0;

		li{

			float: left;

			list-style: none;

			a{

				color: inherit;

				&:hover{

					text-decoration: none;

					color: $brand-primary;

				}

			}

			.active_section{

				margin: 0 25px 0 -10px;

				font-size: 30px;

				color: $black;

				font-weight: 900;

				position: relative;

				top: -16px;

				&:hover{

					color: $black;

				}

			}

		}

		&.type_filter{

			@include clearfix;

			li{

				margin: 0 13px;

				&.for_next_sections{

					a{
						
						display: block;

						height: 12px;

						line-height: 12px;

						text-align: left;

						position: relative;

						top: -7px;

					}

				}

			}

		}

		&.filter{
			
			float: right;

			& > li{

				margin-left: 15px;

				a{

					.fa{

						font-size: 24px;

						margin-left: 10px;

						position: relative;

						top: -2px;

					}

					.active{

						color: $brand-primary;

					}

					&:hover{

						.fa-align-right{

							color: inherit;

						}

					}

				}

				.dropdown{

					.btn{

						padding-top: 0;

						position: relative;

						top: -4px;

						outline: none;

						@include box-shadow(none);

					}

					.dropdown-toggle{
						
						line-height: 27px;

						background: none;

						border: none;

						font-size: 14px;

					}

					.dropdown-menu{

						padding: 0;

						background: lighten($black, 95%);

						right: 0;

						left: inherit;

						@include border-radius(3px);

						li{

							display: block;

							margin: 7px 0;

							padding: 0;

							float: none;

							a{

								line-height: 14px;

								padding: 4px 13px;

							}

						}

					}

				}

				.dropdown{

					.fa{
						
						position: relative;

						top: 1px;

						left: 2px;

					}

					.fa.fa-caret-up{

						display: none;

					}

					&.open{
						
						.fa.fa-caret-up{
						
							display: inline-block;

						}

						.fa.fa-caret-down{
						
							display: none;

						}

					}

				}

			}

		}

	}

}