.qa_list{

	ul{

		padding: 0;

		li{

			list-style: none;

			padding: 0;

			margin-bottom: 25px;

			border-bottom: 2px solid lighten($black, 85%);

			.qa-q-list-item{
				
				.qa-q-item-stats{

					width: 10%;

					float: left;

					text-align: center;

					.qa-upvote-count, .qa-downvote-count{

						display: block;

						margin: 0;

					}

					.up-arrow, .down-arrow{

						width: 24px;

						height: 24px;

						display: inline-block;

						position: relative;

						input{
							
							width: 24px;

							height: 24px;

							border: none;

							background: none;

							position: absolute;

							top: 0px;

							left: 0px;

							z-index: 100;

						}

					}

					.qa-a-count{
						
						span{
							
							display: block;

							margin: 0;

							text-align: center;

							font-weight: 900;

							color: lighten($black, 40%);

							.fa-comments{

								font-size: 32px;

							}

						}

					}

				}

				.qa-q-item-main{

					width: 70%;

					float: left;

					.qa-q-item-title{

						a{

							font-size: 19px;

							font-weight: 900;

							color: $black;

						}

						p{

							font-size: 15px;

							padding: 0 15px;

							margin-bottom: 0;

						}

					}

					.qa-q-item-avatar-meta{
						
						padding: 0 15px;

						a{

							color: inherit;

							&:hover{

								color: $brand-primary;

							}

						}

						.qa-q-item-when, .qa-q-item-where-data, .qa-q-item-who-data{
							
							font-weight: 700;

							color: $black;

						}

					}

					.qa-q-options{

						padding: 5px 0 0 0;

						@include clearfix;

						li{

							float: left;

							list-style: none;

							margin-right: 20px;

							border: none;

							padding: 0;

							&:first-child{

								a{

									color: $brand-primary;

								}

							}

							a{

								color: inherit;

								&:hover{

									color: $brand-primary;

								}

							}

						}

					}

				}

				.qa-q-item-catagory{

					width: 10%;

					float: left;

					.cat{

						display: inline-block;

						width: 66px;

						height: 66px;

						background: #ff5d45;

						@include border-radius(33px);

					}

				}

			}

		}

	}

}