.qa_gallery{

	margin: 0 0 110px 0;

	position: relative;

	@include clearfix;
		
	.thumb_full{

		width: 100%;

		margin-bottom: 16px;

	}

	.thumb_half{
		
		width: 50%;

		float: left;

		margin-bottom: 16px;

		&:first-child{

			padding-right: 8px;

		}

		&:last-child{

			padding-left: 8px;

		}

	}
	
	.gallery_four_thumb_left{

		.thumb_half{
		
			width: 50%;

			float: left;

			margin-bottom: 16px;

			&:first-child{

				padding-right: 15px;

			}

			&:last-child{

				padding-right: 15px;

				padding-left: 0;

			}

		}

		.thumb_full{

			padding-right: 15px;

		}

	}

	.gallery_four_thumb_right{

		.thumb_half{
		
			width: 50%;

			float: left;

			margin-bottom: 16px;

			&:first-child{

				padding-left: 0;

			}

			&:last-child{

				padding-left: 8px;

			}

		}

		.thumb_full{

			padding-left: 0;

		}

	}

	.thumb_quarter{

		width: 33.33%;

		float: left;

		margin-bottom: 16px;

		padding: 0 8px;

		&:first-child{

			padding-left: 0px;

		}

		&:last-child{

			padding-right: 0px;

		}

	}

	.thumb_full_single_right{

		padding-left: 16px;

		margin-bottom: 16px;

	}

	.thumb_full_single_left{
		
		padding-right: 16px;

		margin-bottom: 16px;

	}

	.both_half_right{
		
		.thumb_half{
		
			width: 50%;

			float: left;

			padding: 0 0 0 16px;

			margin-bottom: 16px;

		}

	}

	.both_half_left{
		
		.thumb_half{
		
			width: 50%;

			float: left;

			padding: 0 16px 0 0;

			margin-bottom: 16px;

		}

	}

	.next_prev{

		width: 100%;

		padding: 0 40px;
		
		position: absolute;

		top: 45%;

		left: 0px;

		a{
			
			font-size: 120px;

			color: inherit;

			float: left;

			&:last-child{
				
				float: right;

			}

			&:hover{
				
				color: $brand-primary;

			}

		}

	}

}