.cd-tabs-content {

	padding: 0;

	margin: 0 auto;

	@include clearfix;

	& > li {

		display: none;

		&.selected {

			display: block;

		}

	}

}

.cd-form {

	padding: 0 40px 20px 40px;

	& > ul{
			
		padding: 0;

		li{

			width: 100%;

			list-style: none;

			margin: 0 0 15px 0;

			text-align: center;

			&:last-child{
				
				margin: 0;

			}

			& > a img{
				
				width: 100%;

			}

			p a{

				font-weight: 900;

			}

		}

	}

	.fieldset {

		position: relative;

		margin: 1.4em 0;

		&:first-child {

			margin-top: 0;

		}

		&:last-child {

			margin-bottom: 0;

		}

	}

	label {

		&.image-replace {

			display: inline-block;

			position: absolute;

			left: 15px;

			top: 13px;

			height: 20px;

			width: 20px;

			overflow: hidden;

			text-indent: 100%;

			white-space: nowrap;

			color: transparent;

			text-shadow: none;

			background-repeat: no-repeat;

			background-position: 50% 0;

		}

		&.cd-username {

			background-image: url('../images/ui/login-signup/cd-icon-username.svg');

		}

		&.cd-email {

			background-image: url('../images/ui/login-signup/cd-icon-email.svg');

		}

		&.cd-password {

			background-image: url('../images/ui/login-signup/cd-icon-password.svg');

		}

	}

	input {

		margin: 0;

		padding: 0;

		@include border-radius;

		&.full-width {

			width: 100%;

		}

		&.has-padding {

			padding: 12px 20px 12px 50px;

		}

		&.has-border {

			border: 1px solid lighten($black, 85%);;

			@include appearance(none);

			&:focus {

				border-color: $gray-dark;

				box-shadow: 0 0 5px rgba($gray-dark, .1);

				outline: none;

			}

		}

		&.has-error {

			border: 1px solid $brand-primary;

		}

		&[type=password] {

			/* space left for the HIDE button */
			padding-right: 65px; 

		}

		&.btn{

			padding: 10px 20px;
			
			width: 100%;

		}

	}

	.hide-password {

		height: auto;

		line-height: inherit;

		display: inline-block;

		position: absolute;

		right: 0;

		top: 0;

		padding: 13px 15px;

		border-left: 1px solid lighten($black, 85%);;

		color: $gray-dark;

		text-decoration: none;

		&:hover{

			color: $brand-primary;

		}

	}

	.cd-error-message {

		display: inline-block;

		position: absolute;

		left: -5px;

		bottom: -35px;

		background: rgba($brand-primary, .9);

		padding: .8em;

		z-index: 2;

		color: #FFF;

		@include border-radius;

		pointer-events: none;

		visibility: hidden;

		opacity: 0;

		@include transition(opacity .2s 0, visibility 0 .2s);

		&::after {
			
			content: '';

			position: absolute;

			left: 22px;

			bottom: 100%;

		}

		&.is-visible {

			opacity: 1;

			visibility: visible;

			@include transition(opacity .2s 0, visibility 0 0);

		}

	}

}

.cd-form-message {

	padding: 1.4em 1.4em 0;

	line-height: 1.4;

	text-align: center;

}

.cd-form-bottom-message {

	position: absolute;

	width: 100%;

	left: 0;

	bottom: -55px;

	text-align: center;

	a {

		color: #FFF;

		text-decoration: underline;

		text-shadow: 0px 0px 50px $black;

		&:hover{

			color: $brand-primary;

		}

	}

}

.cd-close-form {

	display: block;

	position: absolute;

	width: 40px;

	height: 40px;

	right: 0;

	top: 40px;

	background: url('../images/ui/login-signup/cd-icon-close.svg') no-repeat center center;

	text-indent: 100%;

	white-space: nowrap;

	overflow: hidden;

}

.tab_one, .tab_two, #cd-reset-password {

	display: none;

}

.tab_one.is-selected, .tab_two.is-selected, #cd-reset-password.is-selected {

	display: block;

}