/*
	Theme Name: Islamiqa-master
	Theme URI:
	Theme Version: 1.3
	Theme Date: 2013-11-13
	Theme Author: Q2A Market
	Theme Author URI: http://www.q2amarket.com/
	Theme License: GPLv2

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
*/

/*---[ Start: Landing page css ]---*/

/*---[ Start: Slideshow Area ]---*/
.slideshow_area {
	background: url(images/pattern.gif) repeat;
	height: 380px;
	margin-top:80px;
	margin-bottom: 0;
	padding-top: 60px;
}
.container {
	width: 1024px;
	/*height:600px;*/
	margin-right: auto;
	margin-left: auto;
}
.heading {
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 10px;
	font-size: 33px !important;
	font-weight: 900;
	line-height: 1;
	/*color: #fff;*/
    color: #313131;    
	text-align: left;
	width:100%;
	line-height:40px;
    /*text-transform: capitalize;*/
    border-bottom: 4px solid #d31c2e;    
}
/*.heading { 
    border-bottom: 4px solid #d31c2e;    
    color: #313131;    
    font-size: 24px;    
    font-weight: 900;    
    text-transform: capitalize;
}*/

.heading.red{	
    color:#d31c2e;	
}



.textspacing {
	letter-spacing: 10px;
}
.main-heading {
	display:inline;
}
.subheading {
	font-size: 17px;
	line-height: 22px;
	color: #fff;
	text-align: left;
	width: 600px;
}
.signup-wrapper1 {
	display: inline;
}
.signup-wrapper2 {
	display: none;
}
.signup {
	float: right;
	width: 320px;
	margin-top: 40px;
	margin-left: 10px;

}
.signup_button {
	font-size: 18px;
	font-weight: 570;
	border-radius: 12px;
	margin-top: 20px;
	line-height: 50px;
	-webkit-transition: all .5s;
	cursor: pointer;
}
.button_primary_facebook {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #026ab3;
/*	background-image: -webkit-linear-gradient(#0096ff, #026ab3);
	background-image: linear-gradient(#0096ff, #026ab3);*/
	background-repeat: repeat-x;
/*	border-color: #025691;*/
	
}
.button_primary_google {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #d14836;
	background-repeat: repeat-x;	
}
.button_primary_twitter {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #55acee;
	background-repeat: repeat-x;	
}
.button_primary_facebook, .button_primary_google, .button_primary_twitter a{
	width:100%;
	height:100%;
	z-Index: 11;
	display: inline-block;
}
.button_primary_facebook:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #0096ff;
/*	background-image: -webkit-linear-gradient(#026ab3, #0096ff);
	background-image: linear-gradient(#026ab3, #0096ff);*/
	background-repeat: repeat-x;
/*	border-color: #025691;*/
}
.button_primary_google:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #D65A4A;
	background-repeat: repeat-x;
}
.button_primary_twitter:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #77BDF1;
	background-repeat: repeat-x;
}
.button_block {
	display: block;
	text-align: center;
	width: 100%;
	height:50px;
}
.text-muted {
	color: #999;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	line-height: 18px;
}
.signup-icon{
	float: right;
	width: 50px;
	margin-top: 40px;
	margin-left: 20px;

}
.icon_block1 {
	background: url(images/icon_google.gif) no-repeat;
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	text-indent: -9999px;
	box-sizing: border-box;
	border-radius: 12px;

}
.icon_block2 {
	background: url(images/icon_facebook.gif) no-repeat;
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	text-indent: -9999px;
	box-sizing: border-box;
	border-radius: 12px;
}
.icon_block3 {
	background: url(images/icon_twitter.gif) no-repeat;
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	text-indent: -9999px;
	box-sizing: border-box;
	border-radius: 12px;
}
/*---[ End: Slideshow Area ]---*/

/*---[ Start: Landing body Area ]---*/
.heading2 {
	margin-bottom: 15px;
	margin-top: 40px;
	font-size: 65px;
	font-weight: normal;
	line-height: 1;
	color: #000;
	letter-spacing: 0px;
	display: block;
}
.subheading2 {
	font-size: 21px;
	line-height: 1;
	margin-bottom: 30px;
	color: #000;
}
.one-half {
	width: 44%;
}
.column1 {
	padding: 10px 0px 20px;
	float: left;
	margin-bottom: 20px;
}
.column2 {
	padding: 10px 0px 20px;
	float: right;
	margin-bottom: 20px;
}
.octicon1 {
	background: url(images/thinker.png) no-repeat;
	margin: 0 auto 15px;
	text-indent: -9999px;
	height: 100px;
	width: 100px;
}
.octicon2 {
	background: url(images/collab.png) no-repeat;
	margin: 0 auto 15px;
	text-indent: -9999px;
	height: 100px;
	width: 100px;
}
.octicon3 {
	background: url(images/vote.png) no-repeat;
	margin: 0 auto 15px;
	text-indent: -9999px;
	height: 100px;
	width: 100px;
}
.octicon4 {
	background: url(images/community.png) no-repeat;
	margin: 0 auto 15px;
	text-indent: -9999px;
	height: 100px;
	width: 100px;
}
.heading3 {
	font-size: 21px;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.1;
	text-align: center;
}
.subheading3 {
	margin: 0 auto;
	max-width: 90%;
	color: #5a5a5a;
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
}


/*---[ End: Landing Body Area ]---*/

/*---[ End: Landing page css ]---*/

/*--- Misc Islamiqa mods ---*/

/* Topics / Knowledge sidebar */
a.TopicKnowledgeEdit:link {
	font-size: 9pt;
	color: #9d9d9d;
	text-decoration:none;
}
a.TopicKnowledgeEdit:hover, a.TopicKnowledgeEdit:visited {
	font-size: 9pt;
	color: #737373;
	text-decoration:none;
}
.mytopic, .myknowledge {
text-decoration:none;
}
.mytopic:hover, .myknowledge:hover {
text-decoration:none;
color: #006699;
}

.WriteAnswer {
	float: left;
	width: 100px;
	height: 20px;
	text-align: center;
	margin-right: 5px;
	padding: 2px;
}

a.Write_answer:link {
	text-decoration:none;
	color: #737373;
}
a.Write_answer:hover,a.Write_answer:visited {
	text-decoration:none;
	color: #9d9d9d;
}


/*--- Misc Islamiqa mods ---*/

/*---[ Start: global css ]---*/
.clearfix:after,
#qa-login-group:after,
.qa-header:after,
.qa-main-shadow:after,
.qa-footer-bottom-group:after,
.qa-main-wrapper:after,
/* MODIFICATION .qa-nav-main-list:after, */
.qa-nav-sub-list:after,
.qa-nav-cat-item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix,
#qa-login-group,
.qa-header,
.qa-main-shadow,
.qa-nav-footer,
.qa-footer-bottom-group,
.qa-main-wrapper,
.qa-nav-main-list,
.qa-nav-sub-list,
.qa-nav-cat-item {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix,
#qa-login-group,
.qa-header,
.qa-main-shadow,
.qa-nav-footer,
.qa-footer-bottom-group,
.qa-main-wrapper,
.qa-nav-main-list,
.qa-nav-sub-list,
.qa-nav-cat-item {
	display: block;
}

/* End hide from IE-mac */
:-moz-placeholder {
	color: #aaa !important;
	font-style: italic;
	line-height: 20px;
}

::-webkit-input-placeholder {
	color: #aaa !important;
	font-style: italic;
	line-height: 20px;
}

html {
	position: relative;
	min-height: 100%;
}

/* MODIFICATIONS */
body {
	/*background: #eeeeee url(images/bodybg.jpg) repeat left top;*/
	/*text-align: center;*/
	margin: 0 0 80px;
	padding: 0;
	background:#f7f7f7;
}

body, td, input, textarea {
	font: 14px/1.5 Helvetica, Arial, sans-serif;
	color: #333;
}

a:link, a:visited {
	text-decoration: none !important;
	/*color: #0179b5;*/
}

a.nonblock:visited, a.nonblock {
	color:#5F5F5F;
	font-weight:bold;
}

a.nonblock:link, a.nonblock:hover {
		color: #CF2129 !important;
		font-weight: bold;
}

a:hover, a:active {
	/*color: #0179b5;*/
	font-weight:bold;
	text-decoration: underline;
	color:#333 !important;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

form, fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

input[type="text"].qa-search-field {
	padding: 4px 5px;
	margin-right: 10px;
	width: 215px;
	height: 30px;
}

input[type="text"], input[type="password"], textarea, select, checkbox, radio {
	border: 1px solid #ddd;
	padding: 5px;
	color: #777;
	border-radius: 3px;
	line-height: normal;
	-moz-transition: box-shadow ease-in-out 0.5s, border ease-in-out 0.5s;
	-webkit-transition: box-shadow ease-in-out 0.5s, border ease-in-out 0.5s;
	-o-transition: box-shadow ease-in-out 0.5s, border ease-in-out 0.5s;
	transition: box-shadow ease-in-out 0.5s, border ease-in-out 0.5s;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) inset;
	border: 1px solid #00AAFF !important;
	color: #333;
	line-height: normal;
	-moz-transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
	-webkit-transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
	-o-transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
	transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
}

input {
	outline: none;
}

input[type="submit"] {
	cursor: pointer;
}

input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

select {
	background: #fff;
	color: #666;
	border: 1px solid #ccc;
	padding: 2px 0 2px 2px;
}

table {
	border-collapse: collapse;
}


/* Headings */
h1 {
	color: #444;
	font-size: 20px;
	font-weight: 700;
	margin: 15px 0 20px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
	line-height: 1.1em;
	border-bottom: 1px solid #ddd;
	position: relative;
	padding: 0 25px 5px 0;
}

h2 {
	font-size: 16px;
	color: #333;
	padding: 5px 10px !important;
	clear: both;
	background: #eee;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
	border-radius: 3px;
	box-shadow: 0 -25px 25px -25px white inset;
	/*border: 1px solid #ddd;*/
	text-shadow: 1px 1px 0 white;
}

h3 {
	margin: 0 0 10px 0;
	color: #111;
}

/* Modifications */
h4 {
	font-weight: 500;
}

/* Modification i don't use this 
blockquote {
	background: #eee;
	padding: 15px;
	margin: 30px auto;
	border: 1px solid #aaa;
	font-size: 16px;
	font-style: italic;
	color: #000;
	position: relative;
}
*/
blockquote p {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/*---[ End: global css ]---*/
.qa-q-view-follows {
	background: #eee;
	padding: 2px 5px;
}

.qa-q-view-follows-link {
	color: #3B5998 !important;
}

p {
	margin-top: 0;
}

/*---[ other comomn used css ]---*/
#qa-register, #qa-login {
	background: #0099cc; /* Old browsers */
	background: -webkit-linear-gradient(top, #0099cc 0%, #0179b5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #0099cc 0%, #0179b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099cc', endColorstr='#0179b5',GradientType=0); /* IE6-8 */
	border: 1px solid #004f76;
	color: #fff;
	font-weight: bold;
	padding: 3px 10px;
	border-radius: 3px;
}

#qa-register:hover, #qa-register:focus,
#qa-login:hover, #qa-login:focus {
	background: #1ca0cc; /* Old browsers */
	background: -webkit-linear-gradient(top, #1ca0cc 0%, #0099cc 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #1ca0cc 0%, #0099cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ca0cc', endColorstr='#0099cc',GradientType=0); /* IE6-8 */
}

/*---[ Begin: login bar css ]---*/
/* MODIFICATIONS NEW */
#qaDEV-entire-login-bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #fff;
	z-Index:9990;
}
#qa-login-bar {
	/*background: #ddd;*/
	margin: 0;
	height: 40px;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

#qa-login-group {
	width: 1090px;
	margin: 0 auto;
	padding: 7px 10px;
	text-align: left;
}

#qa-loginform {
	float: right;
}

/* Modifications */
#qa-userid{
	width: 135px;
	margin-right: 5px;
	padding: 4px 5px;
}
#qa-password{
	width: 100px;
	margin-right: 5px;
	padding: 4px 5px;
}
.qa-search-field {
	width: 150px;
	margin-right: 5px;
	padding: 4px 5px;
}

#qa-userid, #qa-password {
	float: left;
}

#qa-loginform #qa-rememberbox {
	float: left;
	padding: 7px 5px 1px;
}

#qa-loginform #qa-rememberme {
	margin: 0 5px 0 0;
	float: left;
}

#qa-loginform #qa-remember {
	display: block;
	line-height: 14px;
	float: left;
}

#qa-login, #qa-register {
	height: 25px;
	margin: 0 0 0 5px;
}

#qa-forgot-password {
	display: inline-block;
}

#qa-forgot-password a, #qa-forgot-password a:visited {
	width: 24px;
	height: 24px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	color: #777;
	display: inline-block;
	box-shadow: 1px 1px 0 0 #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

#qa-forgot-password a:hover, #qa-forgot-password a:active {
	text-decoration: none;
	background: #aa0000;
	color: #fff;
}

/*-- search box --*/
.qa-search {
	white-space: nowrap;
	margin: 0;
	float: right;
}

* html .qa-search {
	margin-right: 6px;
}

/* IE6 */
.qa-search form {
	margin: 0;
}

/* IE6/7 */
.qa-search-field {
	vertical-align: bottom;
	margin: 0;
	border-radius: 3px 0 0 3px !important;
}

/* MODIFICATIONS AR */
input[type="submit"].qa-search-button {
	width: 26px;
	height: 26px;
	margin: 0 0 0 0px;
	padding: 0;
	text-indent: -9999px;
	background: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center 0;
	border: 1px solid #ccc;
	/*display: inline-block;*/
	display: none;
	border-radius: 0 3px 3px 0 !important;
}

input[type="submit"].qa-search-button:hover {
	background: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center -26px;
}

/*-- nav user class --*/
.qa-nav-user {
	float: right;
	font-size: 12px;
	color: #000;
	white-space: nowrap;
	margin: 5px 25px 4px 0;
}

* html .qa-nav-user {
	margin-right: 12px;
}

.qa-logged-in {
	margin-right: 1px;
	float: left;
	display: block;
}

/* added for 1.2 */
.qa-logged-in-avatar {
	float: left;
	margin: -3px 5px 0 0;
	width: 24px;
}

/* end */
.qa-logged-in-points {
	float: left;
	margin-left: 2px;
	margin-right: 5px;
}

/* IE6 */
.qa-nav-user-list {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.qa-nav-user-item {
	float: left;
	display: block;
	margin: 0;
	padding: 0 5px;
	font-weight: 400;
	text-transform: capitalize;
	border-left: 1px solid #aaa;
}

.qa-nav-user-link {
	color: #3B5998 !important;
}

.qa-nav-user-register {
	border-left: none;
	/*display: inline-block;*/
	display: none;
}

.qa-nav-user-register .qa-nav-user-link, .qa-nav-user-register .qa-nav-user-link:visited {
	padding: 0 5px;
	height: 24px;
	display: inline-block;
	margin-top: -5px;
	line-height: 26px;
}

.fb_iframe_widget span {
	margin-top: -3px;
}
/*---[ End: login bar css ]---*/

/*---[ Begin: notice bar css ]---*/
.qa-notice {
	background: #FFC73A;
	border-bottom: 3px solid #FFD77A;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	padding: 8px 32px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.qa-notice-close-button {
	font-family: Arial, Tahoma, Sans-serif;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	font-weight: 700;
	background: #FFE484;
	cursor: pointer;
	position: absolute;
	padding: 4px 8px;
	line-height: normal;
	display: inline-block;
	border: none;
	top: 7px;
	right: 6px;
	border-radius: 15px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.qa-notice-close-button:hover {
	background: #EAD279;
	color: #000;
}
/*---[ End: notice bar css ]---*/

/*---MODIFICATION[ Begin: body css ]---*/
.qa-body-wrapper {
	width: 1100px;
	text-align: left;
	margin: 0 auto 50px auto;
	/*padding: 50px;*/
}

/* Clearing classes */
.qa-nav-sub-clear, .qa-q-item-clear, .qa-q-view-clear, .qa-a-item-clear, .qa-c-item-clear, .qa-footer-clear, .qa-page-links-clear {
	clear: both;
}

/* MODIFICATIONS */
.qa-nav-main-clear {
/*	clear: both;*/
}
	

/*-- header css --*/
.qa-header {
/*	padding: 15px 10px 5px;
	height: auto;*/
}

.qa-logo {
	float: left;
	font-size: 25px;
	font-weight: 700;
	padding: 6px 25px 0 5px;
}

div.header-banner {
	float: right;
	margin: 0;
}

/*-- qa main wrapper css --*/
.qa-main-shadow {
	/*padding: 10px 10px 0;
	background: url(images/shadow.png) no-repeat center -10px;*/
}

/* MODIFICATIONS AR */
.qa-main-wrapper {
	background: #f7f7f7;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}


.qa-main h1 {
	border-bottom: solid 3px #CF2129;
}



/* MODIFICATIONS -- main + sub navigation css --*/
.qa-nav-main {
	/*clear: both;*/
	padding: 0;
	/*background: #eaeaea;
	border: 1px solid #ddd;*/
	display: inline;
}

.qa-nav-main-list {
	font-size: 16px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	display:inline;
}

.qa-nav-main-item {
	float: left;
	margin: 0 ;
}

.qa-nav-main-hot a {
	color: #a80000 !important;
	text-transform: uppercase;
	font-weight: 700;
}

.qa-nav-main-item-opp {
	float: right;
	padding-right: 0;
}

.qa-nav-main-link {
	color: #666 !important;
	display: block;
	font-weight: 700;
	padding: 2px 9px;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

.qa-nav-main-link:hover, .qa-nav-main-selected {
	text-decoration: none;
	color: #006699 !important;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.qa-nav-main-custom-1 .qa-nav-main-link {
	border-left: none;
}

/* MODIFICATIONS */
.qa-nav-sub {
	background: #f4f4f4; /* Old browsers */
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f4f4f4 0%, #e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e6e6e6',GradientType=0); /* IE6-8 */
	clear: both;
	border: 1px solid #ddd;

	/*position: fixed;*/
	/*width:1100px;*/
	top: 41px;
	height: 25px;
	z-Index:9990;
}

/* IE6 since z-order goes wrong */
.qa-nav-sub-list {
	font-size: 11px;
	list-style: none;
	margin: 0;
	padding: 2px 0;
}

.qa-nav-sub-item {
	float: left;
	padding: 0;
}

.qa-nav-sub-link {
	color: #444 !important;
	font-weight: 400;
	display: block;
	margin: 0 2px;
	padding: 2px 6px;
	text-decoration: none !important;
	border: 1px solid transparent;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

.qa-nav-sub-link:hover, .qa-nav-sub-selected {
	color: #000 !important;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #aaa;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15) inset;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.qa-nav-sub-hot .qa-nav-sub-link {
	color: #af0000 !important;
	font-weight: 700;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

.qa-nav-sub-hot .qa-nav-sub-link:hover, .qa-nav-sub-hot .qa-nav-sub-selected {
	background: #cf0000;
	color: #fff !important;
	border-radius: 3px !important;
	border: 1px solid #ff0000;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15) inset;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
/*-- end main + sub navigation css --*/


/*MODIFICATION -- content and widgets -- */
.qa-main {
	padding-left: 10px;
	float: left;
	width: 805px;
	margin: 10px 0 24px;
	clear: left;
	overflow: hidden;

}
/*-- MODIFICATION content and widgets --*/
.qa-q-list {
	padding-left: 10px;
	float: right;
	width: 805px;
	margin: -10px 0 24px;
	clear: none;
	/*background-color:red;*/
	overflow: hidden;
}
/*-- MODIFICATION NEW for summary of answers below question --*/
.devqa-q-answers {
	padding-left: 10px;
	float: left;
	/*width: 515px;*/
	margin: 10px 0 10px;
	clear: none;
	overflow: visible;
	word-wrap: break-word;
}
/*-- MODIFICATION NEW for summary of answers below question --*/
.devqa-q-more{
	color: #0179b5;
    display: inline;
}

/*-- MODIFICATION NEW for summary of answers below question --*/
.devqa-q-others a
{
	color: #9d9d9d;
	font-weight: bold;
    display: block;
	margin-top: 10px;
}
/*-- MODIFICATION NEW for summary of answers below question --*/
.devqa-q-moreanswers{
    display: none;
}
/*-- MODIFICATION NEW for summary of answers below question --*/
.devqa-q-otheranswers {
    display: none;
	padding: 10px;
	margin: 10px;
}
/* MODIFICATIONS */
.qadev-lhs-q {
	font: 14px/1.5 Helvetica, Arial, sans-serif;
	color: #0179b5;
	font-weight: 500;
	margin: 0;
	padding: 0;
}
/* MODIFICATIONS */
.devqa-q-answers-respondent {
	display: inline;
	float: right;
	margin: 0px 10px;
	font-size: 11px;
}
/* MODIFICATIONS */
.summary-body {
	margin: 7px 0px 0px 10px;
}

.qa-main-hidden h1 {
	color: #F00;
}

/* MODIFICATIONS SEARCH FUNCTIONS AR */
.qa-ask-box {
	background: #0087CA;
	/*border: 1px solid #005782;*/
	border-radius: 5px;
	margin: 10px 10px 0px 0;
	width:600px;
	height:48px;
	float:left;
	display:inline;
}
/*AR Search Modifications*/
.search-function {
	background: #0087CA;
	width: 400px;
	height: 30px;
	float: left;
	border-radius:5px;
	margin: 10px 0 0px 0; 
	padding: 9px;
}
/*AR Search Modifications*/
.search-function-title{
	font-size:18px;
	color:#fff;
	font-weight:bold;
	float:left;
}


/*End Search Modifications*/

.qa-ask-box .qa-form-tall-label {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.qa-ask-box tr:hover {
	background: none;
}

.entry-title {
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

.qa-rss-icon {
	position: relative;
	float: right;
	top: 10px;
	right: 20px;
}


/*--- VOTING + ANSWER + VIEW BLOCKS CSS ---*/

/* Votes */
.qa-q-item-stats {
	float: left;
}
@media (max-width: 240px) {
	.qa-q-item-stats {
		float: none;
		display: none;
	}
}

/* MODIFICATION */
/*.qa-voting {
	border: 1px solid #c5d6df;
	float: left;
	width: 135px;
	height: 20px;
	margin-right: 5px;
	padding: 2px;
	border-radius: 3px;
}*/

.qa-voting {
	background:#FFFFFF; 
	border:1px solid #62847d; 
	margin-right:16px; 
	/*float:left;*/ 
	height:150px; 
	overflow:hidden; 
	padding:18px 0;
}




/* Modifications */
.qa-vote-buttons {
	position: relative;
	height: 53px;
	width: 21px;
	float: left;
}


.qa-vote-up-button, .qa-vote-down-button, .qa-vote-one-button {
	text-indent: 9999px;
}

.qa-q-list-vote-disabled .qa-vote-buttons {
	display: none;
}

.qa-vote-up-button {
	background: url(icons/images/double-arrow-up.png) no-repeat;
}


.qa-vote-up-button, .qa-vote-up-disabled {
	background: url(icons/images/double-arrow-up.png) no-repeat;
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-vote-up-button {
	background-position: 0 0;
	color: #f1c96b;
}

.qa-vote-up-disabled {
	background-position: 0 -80px;
	color: #CCC;
}

.qa-vote-up-button:hover {
	background-position: 0 -20px;
	color: #f1c96b;
}

/* MODIFICATIONS */
.qa-vote-down-button, .qa-vote-down-disabled {
	background: url(icons/images/vote-buttons.png) no-repeat;
	border: 0;
	color: #f1c96b;
	/*font-size: 1px;*/
	height: 20px;
	width: 16px;
}

.qa-vote-down-button {
	background-position: -16px 0;
	color: #f1c96b;
}

.qa-vote-down-disabled {
	background-position: -16px -80px;
	color: #CCC;
}

.qa-vote-down-button:hover {
	background-position: -16px -20px;
	color: #f1c96b;
}

.qa-voted-up-button {
	background: url(images/vote-buttons.png);
	border: 0;
	color: #f1c96b;
	font-size: -1px;
	height: 20px;
	width: 16px;
}

/*MODIFICATIONS*/

.qa-voted-up-button {
	/*background-position: 0 -39px;*/
	color: #f1c96b;
}

.qa-voted-up-button:hover {
	background-position: 0 -60px;
	color: #f1c96b;
}

/* MODIFICATIONS */
.qa-voted-down-button {
	background: url(images/vote-button2-down.png);
	border: 0;
	color: #f1c96b;
	font-size: -1px;
	height: 20px;
	width: 16px;
}

/*MODIFICATIONS */
.qa-voted-down-button {
	/*background-position: -16px -39px;*/
	color: #f1c96b;
}

.qa-voted-down-button:hover {
	background-position: -16px -60px;
	color: #f1c96b;
}

/* MODIFICATIONS */
.qa-vote-one-button {
	/*position: absolute;*/
	left: 5px;
	top: 1px;
}
/* MODIFICATIONS */
.qa-vote-first-button {
	position: absolute;
	left: 5px;
	right: 3px;
	top: 1px;
	/*background:#CF0;*/
}
/*.qa-vote-second-button {margin-top:12px;}*/
.qa-vote-second-button {
	position: absolute;
	left: 5px;
	bottom: 1px;	
	/*background:#CF0;*/
	/*display:inline;
	margin:0px;*/
	/*margin-top:12px;*/
}

.qa-netvote-count {
	text-align: center;
	display: block;
}

/* Modifications 
.qa-netvote-count-data {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	display: block;
	margin-top: 5px;
	overflow: hidden;
} */
.qa-netvote-count-data {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin-top: 5px;
	overflow: hidden;
}

.qa-netvote-count-pad {
	font-size: 11px;
}

/* separate vote buttons counter */
/* MODIICATIONS 
.qa-upvote-count,
.qa-downvote-count {
	text-align: center;
	display: block;
}
*/
/* MODIFICATIONS
.qa-upvote-count,
.qa-downvote-count {
}*/
.qa-upvote-count,
.qa-downvote-count {
display:block;
}

/* MODIFICATIONS */
.qa-upvote-count-data {
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	/*margin-left: 3px;*/


}
.qa-downvote-count-data {
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}

/* MODIFICATIONS */
.qa-upvote-count-pad {
	font-size: 11px;
	line-height: 11px;
	color: #9DA8AD;
	margin-right:8px;
}
.qa-downvote-count-pad {
	font-size: 11px;
	line-height: 11px;
	color: #9DA8AD;
}

.qa-button-vote-margin{
	margin-left:5px;
	}

/* Answers and views count */
/* MODIFICATION */
.qa-a-count {
	/*background: #C9FAE1;*/
	border: 1px solid #c1daa6;
	/*float: left;*/
	width: 80px;
	height: 20px;
	text-align: center;
	margin-right: 5px;
	padding: 2px;
	border-radius: 3px;
}

/* MODIFICATION */
.qa-a-count-zero {
	/*background: #ffe9d5;*/
	border: 1px solid #ffd196;
}

.qa-a-count-selected {
	background: #d9f5bb;
	border: 1px solid #c1daa6;
}

/* MODIFICATIONS */
.qa-a-count-data {
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
/*	display: block;*/
	margin-top: 0px;
}

/* MODIFICATIONS */
.qa-a-count-pad {
	font-size: 11px;
}

/* MODIFICATIONS */
.qa-view-count {
	float: left;
	background: #fff;
	/*float: left;*/
	width: 80px;
	height: 20px;
	text-align: center;
	margin-right: 5px;
	padding: 2px;
	border: 1px solid #ddd;
	overflow: hidden;
	border-radius: 3px;
	display:block
}

/* MODIFICATIONS */
.qa-view-count-data {
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	/*display: block;*/
	margin-top: 0px;
}

.qa-view-count-pad {
	font-size: 11px;
}

.qa-template-question .qa-part-q-view {
	position: relative;
}

.qa-template-question .qa-view-count {
	position: absolute;
	right: 0;
	top: -20px;
	float: none;
	margin: 0;
	padding: 0 0 2px;
	width: auto;
	height: auto;
	color: #777;
	border: none;
	border-bottom: 1px solid #dddddd;
}

.qa-template-question .qa-view-count-data {
	font-size: 11px;
	line-height: 12px;
	margin-top: 1px;
	display: inline;
}

.qa-template-question .qa-view-count-pad {
	font-size: 8px;
	line-height: 8px;
	letter-spacing: 1px;
}

/*--- END VOTING + ANSWER + VIEW BLOCKS CSS ---*/

.qa-favoriting {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.qa-favorite-button, .qa-unfavorite-button {
	background: url(images/favorite-heart.png) no-repeat;
	border: 0;
	height: 24px;
	width: 24px;
}

.qa-favorite-button {
	background-position: 0 -24px;
}

.qa-favorite-button:hover {
	background-position: 0 0;
}

.qa-unfavorite-button {
	background-position: 0 -48px;
}

.qa-unfavorite-button:hover {
	background-position: 0 0;
}

.qa-error, .qa-warning {
	font-size: 18px;
	margin-bottom: 1em;
	padding: 5px 15px;
	border-radius: 3px;
}
.qa-error {
	background: #d00;
	border: 1px solid #a00;
	color: #ffd9d9;
}
.qa-warning {
	background: #dd0;
	border: 1px solid #aa0;
	color: #ffffd9;
}

.qa-error a, .qa-warning a {
	color: #fff;
	font-weight: bold;
}
.qa-error a:hover, .qa-warning a:hover {
	text-decoration: underline;
}

/* Page sections */
.qa-sidepanel {
	float: right;
	width: 240px;
	padding: 10px;
	min-height: 80px;
}

.qa-sidebar {
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 20px;
	background: transparent;
	border: 1px solid #e0e0e0;
	border-bottom: 3px;

}

.qa-feed {
	background: #f8f8f8 url(images/feed-icon-14x14.png) no-repeat 20px 22px;
	padding: 20px;
	margin: 0 0 10px 0;
	border: 1px solid #e5e5e5;
}

.qa-feed-link {
	font-size: 12px;
	color: #666;
	padding-left: 20px;
}

.qa-footer-bottom-group {
	background: #ddd;
	border-top: 1px solid #aaa;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

/* MODIFICATIONS */
.qa-footer {
	clear: both;
	/*width: 980px;*/
	width: 450px;
	margin: 0 auto;
	color: #777777;
	font-size: 10px;
	padding: 10px;
	float:right; /* Added */
}

.qa-footer a, .qa-footer a:visited {
	text-decoration: underline;
}

/* IE6
 Widget wrappers */
.qa-widget-full {
	clear: both;
	margin: 15px 0;
}

.qa-widget-full-high {
	margin-bottom: 0;
}

.qa-widgets-main-high {
	margin-bottom: 24px;
}

.qa-widget-main {
	margin: 0 0 15px 0;
}

.qa-widget-main-bottom {
	margin-bottom: 0;
}

.qa-widget-side,
.qa-nav-cat {
	margin: 0 0 10px 0;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
}

.qa-sidebar,
.qa-feed,
.qa-widget-side,
.qa-nav-cat {
	border-radius: 3px;
}

.qa-widget-side > div {
	padding: 10px 20px 20px;
}

.qa-widget-side h2 {
	margin: 0 !important;
	padding: 20px 20px 5px !important;
	background: none;
	color: #111;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	border: none;
	box-shadow: none;
	text-shadow: none;
}

.qa-widget-side > div.qa-related-qs {
	padding: 0;
}

.qa-nav-cat-list {
	list-style: none;
	margin: 0;
	padding: 20px;
}

.qa-nav-cat-list li {
	padding: 0 10px;
}

.qa-nav-cat-list .qa-nav-cat-all {
	padding: 0;
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
	color: #111;
}

.qa-nav-cat-all a {
	padding: 0;
	margin-top: 0;
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif;
}

.qa-nav-cat-all a,
.qa-nav-cat-all a:visited {
	padding: 2px 5px;
	color: #444;
	display: block;
}

.qa-nav-cat-all a:hover,
.qa-nav-cat-all a:active {
	text-decoration: none;
	color: #0099CC;
}

.qa-nav-cat-list ul {
	padding: 0;
}

.qa-nav-cat-list ul li {
	padding: 0 0 0 10px;
}

.qa-nav-cat-list-1 {
	font-size: 14px;
}

.qa-nav-cat-list-2 {
	font-size: 14px;
	margin-left: 1em;
}

.qa-nav-cat-list-3 {
	font-size: 14px;
	margin-left: 1em;
}

.qa-nav-cat-list-4 {
	font-size: 14px;
	margin-left: 1em;
}

.qa-nav-cat-list-1 .qa-nav-cat-item {
	border-bottom: 1px dotted #ccc;
}

.qa-nav-cat-list-2 .qa-nav-cat-item,
.qa-nav-cat-list-3 .qa-nav-cat-item,
.qa-nav-cat-list-4 .qa-nav-cat-item {
	border: none;
}

.qa-nav-cat-item {
	margin: 2px 0;
	text-align: right;
}

.qa-nav-cat-link {
	clear: both;
	float: left;
}

.qa-nav-cat-note {
	color: #000;
}

/* Pagination */
.qa-page-links {
	font-size: 12px;
	clear: both;
	zoom: 1;
	padding: 12px 0;
}

/* zoom:1 for IE6 */
.qa-page-links-label {
	display: none;
}

.qa-page-links-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-page-links-item {
	text-align: center;
	margin-right: 2px;
	float: left;
	display: inline;
}

.qa-page-link, .qa-page-selected, .qa-page-prev, .qa-page-next, .qa-page-ellipsis {
	display: block;
	padding: 1px 6px;
	color: #666 !important;
}

.qa-page-link {
	color: #666 !important;
	background-color: #eee;
	border: 1px solid #aaa;
	-moz-transition: background-color ease-in-out 0.5s;
	-webkit-transition: background-color ease-in-out 0.5s;
	-o-transition: background-color ease-in-out 0.5s;
	transition: background-color ease-in-out 0.5s;
}

.qa-page-selected {
	color: #ddd !important;
	background-color: #666666;
	border: 1px solid #444;
}

.qa-page-prev, .qa-page-next {
	color: #666;
	background-color: #eee;
	border: 1px solid #aaa;
	-moz-transition: background-color ease-in-out 0.5s;
	-webkit-transition: background-color ease-in-out 0.5s;
	-o-transition: background-color ease-in-out 0.5s;
	transition: background-color ease-in-out 0.5s;
}

.qa-page-ellipsis {
	color: #666;
}

.qa-page-link:hover, .qa-page-prev:hover, .qa-page-next:hover {
	text-decoration: none;
	background-color: #666;
	color: #ddd !important;
	-moz-transition: background-color ease-in-out 0.15s;
	-websit-transition: background-color ease-in-out 0.15s;
	-o-transition: background-color ease-in-out 0.15s;
	transition: background-color ease-in-out 0.15s;
}

/* Standard form (tall version) */
.qa-form-tall-table {
	width: 100%;
	border-collapse: collapse;
}

.qa-form-tall-spacer {
	line-height: 1px;
	font-size: 1px;
	padding: 0;
}

.qa-form-tall-ok {
	background: #6AAA2B;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding: 6px;
	border-radius: 3px;
}

.qa-form-tall-label {
	color: #444;
	font-size: 18px;
	padding: 8px 8px 2px 8px;
}

.qa-form-tall-data {
	width: 640px;
	padding: 2px 8px 8px 8px;
}

.qa-form-tall-data > ul {
	margin-top: 0;
}

.qa-form-tall-text, .qa-form-tall-number {
	padding: 3px;
}

.qa-form-tall-text {
	background: #fff;
	color: #666;
	width: 100%;
	border: 1px solid #ccc;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.qa-form-tall-number {
	width: 48px;
	background: #fff;
	border: 1px solid #ccc;
}

.qa-form-tall-checkbox {
	float: left;
	margin-right: 4px;
}

.qa-form-tall-image {
	text-align: center;
}

.qa-form-tall-suffix {
	font-weight: 400;
	font-size: 10px;
	color: #666;
}

.qa-form-tall-error {
	color: #c00;
	font-size: 14px;
	margin-top: 6px;
	display: inline-block;
}

.qa-form-tall-note {
	margin-top: 6px;
}

.qa-form-tall-note a {
	color: #293D39;
	text-decoration: underline;
}

.qa-form-tall-note a:hover {
	color: #396E63;
}

.qa-form-tall-buttons {
	padding: 8px 8px 8px 8px;
}

.qa-form-tall-button, .qa-search-button, .qa-form-tall-table input[type="button"], .qa-form-wide-button, .qa-form-basic-button {
	background: #0179b5;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #004566;
	padding: 5px 10px;
	line-height: 14px;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
	border-radius: 3px;
}

.qa-search-button:hover, .qa-form-tall-table input[type="button"]:hover, .qa-form-basic-button:hover {
	background: #0099CC;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #004566;
	padding: 5px 10px;
	line-height: 14px;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.qa-form-tall-button-cancel {
	background: #aa0000;
	border: 1px solid #880000;
}

.qa-form-tall-button-cancel:hover {
	background: #dd0000;
	border: 1px solid #880000;
}

.qa-form-wide-button-save, .qa-form-wide-button-saverecalc, .qa-form-tall-button-save {
	background: #196627;
	border: 1px solid #153513;
}

.qa-form-wide-button-save:hover, .qa-form-wide-button-saverecalc:hover, .qa-form-tall-button-save:hover {
	background: #1F7F31;
	border: 1px solid #153513;
}

/* Standard form (wide version) */
.qa-form-wide-table {
	border-collapse: collapse;
	width: 100%;
}

.qa-form-wide-spacer {
	line-height: 1px;
	font-size: 1px;
	border-bottom: 1px solid #ccc;
	padding: 0;
}

.qa-form-wide-ok {
	color: #090;
	font-size: 18px;
	text-align: center;
	padding: 6px;
}

.qa-form-wide-label {
	border-bottom: 1px solid #f4f4f4;
	color: #444;
	font-size: 14px;
	white-space: nowrap;
	padding: 10px;
}

.qa-form-wide-data {
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 10px;
}

.qa-form-wide-text, .qa-form-wide-number {
	padding: 3px;
}

.qa-form-wide-text {
	background: #fff;
	width: 320px;
	border: 1px solid #ccc;
}

.qa-form-wide-data input {
	background: #fff;
	border: 1px solid #ccc !important;
}

.qa-form-wide-number {
	width: 48px;
	background: #111;
	border: 1px solid #444;
	vertical-align: middle;
}

.qa-form-wide-error {
	display: inline-block;
	color: #c00;
	font-size: 11px;
	margin-left: 6px;
}

.qa-form-wide-note {
	font-size: 10px;
	margin-left: 4px;
	color: #666;
}

.qa-form-wide-buttons {
	padding: 8px 0 8px 8px;
}

.qa-form-wide-prefix {
	font-size: 14px;
}

/* Standard form (light version - buttons only) */
.qa-form-light-button {
	background: none;
	border: 0;
	height: 24px;
	cursor: pointer;
	margin-right: 6px;
	font-size: 12px;
	text-align: left;
	overflow: visible;
	padding: 0;
}

/* overflow:visible for IE */
.qa-form-light-button {
	color: #666;
}

.qa-form-light-button:hover {
	color: #000;
}

.qa-form-light-button-edit, .qa-form-light-button-retagcat {
	background: url(images/edit-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-flag {
	background: url(images/flag-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-unflag, .qa-form-light-button-clearflags {
	background: url(images/unflag-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-hide {
	background: url(images/hide-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-follow {
	background: url(images/follow-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-comment {
	background: url(images/comment-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-answer {
	background: url(images/answer-icon.png) no-repeat left center;
	padding-left: 18px;
	color: #289e00;
	font-weight: 700;
	text-transform: capitalize;
}

.qa-form-light-button-answer:hover {
	color: #000;
}

.qa-form-light-button-reshow {
	background: url(images/reshow-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-claim {
	background: url(images/claim-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-delete {
	background: url(images/delete-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-approve {
	background: url(images/approve-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-reject {
	background: url(images/reject-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-close {
	background: url(images/close-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-reopen {
	background: url(images/reopen-icon.png) no-repeat left center;
	padding-left: 18px;
}

/* Standard form (basic version - buttons only) */
.qa-form-basic-button {
	vertical-align: middle;
	margin: 4px 4px 8px 0;
}

/* MODIFICATIONS Left Side of Question list */
.qa-q-left{
	padding-left: 5px;
	float: left;
	width: 190px;
	margin: 0px 0 24px;
	clear: left;
	/*background-color:red;*/
	overflow: hidden;
	min-height: 50px;
}

/* Question list */
/* MODIFICATION */
.qa-q-list-item {
	zoom: 1;
	padding: 10px;
	border: 1px solid #f7f7f7;
	background:#fff;
	margin-bottom:20px;
	border-style: solid;
    border-bottom: solid #e0e0e0;
	/*-moz-box-shadow:    -1px 1px 5px 1px #ddd;
	-webkit-box-shadow: -1px 1px 5px 1px #ddd;
	box-shadow:         -1x 1px 5px 1px #ddd;*/
	border-radius:6px;
	
}

/* zoom for IE, padding for early FF */
/*.qa-q-item-main {float:left; width:540px;}*/
.qa-q-item-main {
	width: 100%;
	float: left;
	/*padding-left: 10px;*/
}	


/*.qa-q-item-title {color:#235272; font-weight:bold; font-size:16px;}*/
.qa-q-item-title {
	color: #000;
	font-size: 16px;
}
/*.qa-q-item-title a {color:#235272;}*/
.qa-q-item-title a {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
	line-height: normal;
	color: #000;
}

/* MODIFICATIONS */
.qa-q-item-content {
	font-size: 11px;
	margin-top: 0 0 3px 0;
	max-height: 80px;
	overflow-y: auto;
	/*border: 1px solid #ccc;*/
	padding: 0;
}

.qa-q-item-avatar-meta,
.qa-q-view-avatar-meta,
.qa-a-item-avatar-meta,
.qa-c-item-avatar-meta {
	display: block;
}

.qa-q-item-avatar-meta {
	margin: 0;
}

.qa-q-item-avatar {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.qa-q-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
}

.qa-q-item-when-data {
	font-weight: 700;
}

.qa-q-item-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-q-item-points-data {
	font-weight: 700;
}

.qa-q-item-flags {
	color: red;
	font-weight: 700;
	padding-left: 4px;
}

.qa-q-item-tags {
	margin-top: 10px;
	float: left;
}

.qa-q-item-tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 11px;
}

.qa-q-item-tag-item {
	display: inline;
}

.qa-q-item-buttons {
	clear: both;
	float: left;
	margin: 10px 0;
}

.qa-suggest-next {
	background: #f4f4f4;
	border: 1px solid #c7dce6;
	color: #444;
	font-size: 14px;
	text-align: center;
	clear: both;
	padding: 8px;
	margin-top: 22px;
	border-radius: 3px;
	box-shadow: 0 10px 15px 0 white inset, 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.qa-suggest-next a {
	font-weight: 700;
}

.qa-suggest-next a:hover {
	text-decoration: underline;
}


/* Tags and Users ranking */

.qa-ranking-item {
	display: inline-block;
	margin: 0 5px 15px 0;
	vertical-align: top;
	width: 220px;
	min-height: 30px;
	line-height: 1.3;
}

.qa-top-users-item {
}
.qa-top-users-avatar {
	float: left;
	margin-right: 6px;
}
.qa-top-users-label {
	display: block;
}
.qa-top-users-score {
	display: block;
}

.qa-top-tags-item {
	width: 165px;
}
.qa-top-tags-count {
	display: inline-block;
	min-width: 40px;
	text-align: right;
	padding-right: 3px;
}
.qa-top-tags-label {
	display: inline-block;
}


/* Categories */

.qa-browse-cat-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-browse-cat-list-1 {
	font-size: 18px;
}

.qa-browse-cat-list-2 {
	font-size: 14px;
	margin-left: 20px;
}

.qa-browse-cat-list-3 {
	font-size: 14px;
	margin-left: 20px;
}

.qa-browse-cat-list-4 {
	font-size: 14px;
	margin-left: 20px;
}

.qa-browse-cat-item {
	font-weight: 700;
	color: #000;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.qa-browse-cat-list-2 .qa-browse-cat-item,
.qa-browse-cat-list-3 .qa-browse-cat-item,
.qa-browse-cat-list-4 .qa-browse-cat-item {
	border: none;
}

.qa-browse-cat-closed {
	list-style: none;
	color: #000;
}

.qa-browse-cat-open {
	list-style: none;
	color: #26434D;
}

a.qa-browse-cat-link,
a.qa-browse-cat-link:visited {
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

.qa-browse-cat-list-3 .qa-browse-cat-item {
	padding: 5px 0;
}

.qa-browse-cat-note {
	font-weight: 400;
	font-size: 85%;
	color: #444;
}

.qa-browse-cat-note a {
	color: #506D83;
}

/* Question view */
.qa-q-view {
	padding-left: 10px;
	padding-top: 10px;
}

.qa-q-view-main {
	float: left;
	width: 620px;
	padding-left: 10px;
}

.qa-q-view-content {
	margin-bottom: 16px;
}

.qa-q-view-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.qa-q-view-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.qa-q-view-follows {
	font-size: 14px;
	margin-bottom: 12px;
}

.qa-q-view-closed {
	font-size: 14px;
	margin-bottom: 18px;
}

.qa-q-view-closed-content {
	font-weight: 700;
}

.qa-q-view-extra {
	font-size: 14px;
	margin-bottom: 18px;
}

.qa-q-view-extra-content {
	font-weight: 700;
}

.qa-q-view-when-data {
	font-weight: 700;
}

.qa-q-view-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-q-view-points-data {
	font-weight: 700;
}

.qa-q-view-flags {
	color: red;
	font-weight: 700;
	padding-left: 4px;
}

.qa-q-view-tags {
	clear: both;
	margin-bottom: 12px;
}

.qa-q-view-tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-q-view-tag-item {
	display: inline;
}

.qa-q-view-buttons {
	margin-top: 16px;
}

.qa-q-view-c-list {
	clear: both;
	border-top: 1px solid #ccc;
	margin: 24px 0 0 24px;
}

.qa-q-view-hidden .qa-voting {
	color: #ccc;
}

.qa-q-view-hidden .qa-q-view-content {
	color: #999;
}

.qa-q-view-hidden .qa-q-view-meta {
	color: #ccc;
}

.qa-q-view-hidden .qa-user-link {
	color: #999;
}

.qa-q-view-hidden .qa-q-view-who-title {
	color: #999;
}

.qa-q-view-hidden .qa-category-link {
	color: #999;
}

.qa-q-view-hidden .qa-tag-link {
	color: #ccc;
	opacity: 0.5px;
}

/* Answer view */
.qa-a-list-item {
	background: #fff;
	zoom: 1;
	position: relative;
	padding: 20px 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	min-height: 108px; /* prevent tick icon being hidden */
}

/* zoom for IE, padding for early FF */
.qa-a-list-item-selected {
	background: #f1f7f3 !important;
	border: 1px solid #89BF65;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.qa-a-list-item-hidden .qa-voting {
	color: #ccc;
}

.qa-a-list-item-hidden .qa-a-item-content {
	color: #999;
}

.qa-a-list-item-hidden .qa-a-item-what {
	color: #ccc;
}

.qa-a-list-item-hidden .qa-a-item-meta {
	color: #ccc;
}

.qa-a-list-item-hidden .qa-a-item-who-title {
	color: #999;
}

.qa-a-list-item-hidden .qa-user-link {
	color: #999;
}

.qa-a-item-main {
	float: left;
	width: 610px;
	display: inline-block;
	padding-left: 10px;
}

/* inline-block for IE */
.qa-a-item-content {
	margin-bottom: 16px;
}

.qa-a-item-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.qa-a-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.qa-a-item-when-data {
	font-weight: 700;
}

.qa-a-item-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-a-item-points-data {
	font-weight: 700;
}

.qa-a-item-flags {
	color: red;
	font-weight: 700;
	padding-left: 4px;
}

.qa-a-item-buttons {
	margin-top: 16px;
}

.qa-a-item-c-list {
	clear: both;
	border-top: 1px solid #ddd;
	margin: 24px 0 0;
}

/* Answer selection */
/* MODIFICATIONS */
.qa-a-selection {
	position: absolute;
	left: 20px;
	top: 85px;
	width: 60px;
	text-align: center;
}

.qa-a-select-button {
	background: url(images/select-star.png) no-repeat;
	border: 0;
	height: 50px;
	width: 50px;
}

.qa-a-select-button {
	background-position: 0 -50px;
}

.qa-a-select-button:hover {
	background-position: 0 -100px;
}

.qa-a-unselect-button {
	background: url(images/selected-star.png) no-repeat;
	border: 0;
	height: 50px;
	width: 50px;
}

.qa-a-unselect-button {
	background-position: 0 0;
}

.qa-a-unselect-button:hover {
	background-position: 0 -50px;
}

.qa-a-selected {
	background: url(images/selected-star.png) no-repeat 0 0;
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

.qa-a-selected-text {
	font-size: 9px;
	font-weight: 800;
	display: block;
	color: #73A651;
	line-height: 6px;
}

/* Comments */
.qa-c-list-item {
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 8px 0 8px 8px;
}

.qa-c-list-item:nth-child(odd) {
	background: #fafafa;
}

.qa-c-list-item:last-child {
	border-bottom: none;
}

.qa-c-item-hidden .qa-c-item-content {
	color: #bbb;
}

.qa-c-item-hidden .qa-c-item-link {
	color: #aaf;
}

.qa-c-item-hidden .qa-c-item-what {
	color: #ccc;
}

.qa-c-item-hidden .qa-c-item-meta {
	color: #ccc;
}

.qa-c-item-hidden .qa-c-item-who-title {
	color: #999;
}

.qa-c-item-hidden .qa-user-link {
	color: #999;
}

.qa-c-item-link {
	display: block;
	margin-bottom: 6px;
}

.qa-c-item-expand {
	display: block;
	color: #666;
	font-style: italic;
	margin: 2px 0;
}

.qa-c-item-content {
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
}

.qa-c-item-footer {
	position: relative;
	height: 1%;
}

/* height for IE6 */
.qa-c-item-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.qa-c-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #666;
}

.qa-c-item-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-c-item-who-points {
	display: none;
}

.qa-c-item-flags {
	color: red;
	font-weight: 700;
	padding-left: 3px;
}

.qa-c-item-buttons {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.qa-c-item-buttons .qa-form-light-button {
	background: none;
	height: auto;
	font-size: 10px;
	padding: 0;
}

/* Message list */
.qa-message-item {
	margin: 0;
	padding: 12px;
	border-bottom: 2px dotted #ddd;
}

.qa-message-content {
	margin-bottom: 6px;
}

.qa-message-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.qa-message-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #666;
}

.qa-message-buttons {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	margin-left: 12px;
}

.qa-message-buttons .qa-form-light-button {
	background: none;
	height: auto;
	font-size: 10px;
	padding: 0;
}

/* Related questions and activity count widgets */
.qa-related-qs {
	font-size: 14px;
}

.qa-related-qs h2 {
	font-size: 18px;
}

.qa-related-q-list {
	list-style-type: none;
	padding: 0 20px 15px;
	margin: 0;
}

.qa-related-q-item {
	margin: 0;
	padding: 5px 0;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #ddd;
}

.qa-related-q-item:first-child {
	border-top: none;
}

.qa-related-q-item:last-child {
	border-bottom: none;
}

.qa-widget-side-low {
	border-top: 1px solid #ddd;
}

.qa-widget-side-low div {
	padding: 0 10px 10px;
}

.qa-activity-count {
	font-size: 14px;
	color: #666;
	padding: 10px;
	display: table;
}

.qa-activity-count-item {
	margin: 0;
	display: table-row;
}

.qa-activity-count-data {
	font-size: 24px;
	font-weight: 700;
	color: #0179b5;
	display: table-cell;
	text-align: right;
	padding-right: 0.25em;
}

/* Footer parts */
.qa-nav-footer-list {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.qa-footer-left {
	float: left;
}

.qa-footer-left p {
	display: inline-block;
}

.qa-footer-right {
	float: right;
	display: inline-block;
	margin-right: 12px;
}

.qa-nav-footer-item {
	float: left;
	margin: 0 12px;
}

.qa-attribution {
	float: right;
	color: #777;
}

/* Classes passed to theme */
.qa-user-link {
	color: #3B5998 !important;
	font-weight: 700;
}

.qa-category-link {
	color: #1e5568;
	font-weight: 700;
}

.qa-tag-link, .qa-widget-side .qa-q-view-tag-item, .qa-widget-side > div > a {
	background: #eee;
	color: #fff !important;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	display: inline-block;
	text-decoration: none !important;
	padding: 2px 8px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius:10px;
	-moz-transition: all ease-in-out 0.75s;
	-webkit-transition: all ease-in-out 0.75s;
	-o-transition: all ease-in-out 0.75s;
	-ms-transition: all ease-in-out 0.75s;
	transition: all ease-in-out 0.75s;
}

.qa-widget-side a {
	margin: 0 3px 3px 0;
	display: inline-block;
}

.qa-related-q-item a {
	margin: 0;
	display: block;
	background: none;
	border: none;
	text-transform: none;
}

.qa-tag-link:hover, .qa-q-view-tag-item:hover, .qa-widget-side > div > a:hover {
	background: #0099cc;
	color: #fff !important;
	-moz-transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	-o-transition: all ease-in-out 0.25s;
	-ms-transition: all ease-in-out 0.25s;
	transition: all ease-in-out 0.25s;
}

.qa-q-view-tag-item {
	margin: 5px 0;
}

.qa-avatar-image {
	border: 0;
	vertical-align: middle;
}

.qa-avatar-link, .qa-avatar-link:hover {
	text-decoration: none;
}

.qa-favorite-image {
	background: url(images/favorite-heart.png) no-repeat;
	background-position: 0 -24px;
	border: 0;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	display: inline-block;
}

.qa-waiting {
	background: url(images/spinner-icon-14x14.gif) no-repeat center;
	width: 14px;
	height: 14px;
	display: inline-block;
	font-size: 0;
	margin: 0px 8px 0px 4px;
	vertical-align: middle;
}

.qa-favoriting .qa-waiting {
	position: absolute;
	padding: 0;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
}

.qa-a-selection .qa-waiting {
	position: absolute;
	padding: 0;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
}

/* MODIFICATIONS */
.qa-tag-knowledged {
	background-image: url(Page-Interests/images/owl_icon_12x12.png);
	background-repeat: no-repeat;
	background-position: 3px center;
	padding-left: 18px;
}

.qa-q-favorited .qa-q-item-title a, .qa-tag-favorited, .qa-tag-favorited:hover, .qa-cat-favorited, .qa-user-favorited, .qa-nav-cat-favorited, .qa-browse-cat-favorited {
	background-image: url(images/favorite-icon-15x15.png);
	background-repeat: no-repeat;
}

.qa-cat-parent-favorited {
	background-image: url(images/favorite-light-icon-15x15.png);
	background-repeat: no-repeat;
}

.qa-q-favorited .qa-q-item-title a, .qa-nav-cat-favorited, .qa-browse-cat-favorited {
	background-position: left center;
	padding-left: 18px;
}

.qa-nav-cat-favorited {
	margin-left: -18px;
}

.qa-tag-favorited, .qa-tag-favorited:hover {
	background-position: 2px center;
	padding-left: 19px;
}

.qa-cat-favorited, .qa-cat-parent-favorited, .qa-user-favorited {
	background-position: left center;
	padding-left: 17px;
}

/* IE6 friendly versions of icons with binary alpha channel */
* html .qa-form-light-button-edit, * html .qa-form-light-button-retagcat {
	background: url(images/edit-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-flag {
	background: url(images/flag-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-unflag, * html .qa-form-light-button-clearflags {
	background: url(images/unflag-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-hide {
	background: url(images/hide-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-follow {
	background: url(images/follow-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-comment {
	background: url(images/comment-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-answer {
	background: url(images/answer-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-reshow {
	background: url(images/reshow-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-claim {
	background: url(images/claim-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-delete {
	background: url(images/delete-icon-ie6.png) no-repeat left center;
}
* html .qa-vote-up-button {
	background: url(images/vote-buttons-ie6.png) no-repeat 0 0;
}
* html .qa-vote-up-disabled {
	background: url(images/vote-buttons-ie6.png) no-repeat 0 -116px;
}
* html .qa-vote-down-button {
	background: url(images/vote-buttons-ie6.png) no-repeat -27px 0;
}
* html .qa-vote-down-disabled {
	background: url(images/vote-buttons-ie6.png) no-repeat -27px -116px;
}
* html .qa-voted-up-button {
	background: url(images/vote-buttons-ie6.png) no-repeat 0 -87px;
}
* html .qa-voted-down-button {
	background: url(images/vote-buttons-ie6.png) no-repeat -27px -87px;
}
* html .qa-tag-link {
	background: url(images/tag-icon-ie6.png) no-repeat left center;
}
* html .qa-a-count {
	background: url(images/a-count-icon-ie6.png) no-repeat 32px 13px;
}


/* q2a 1.6 new user profile page css */

.qa-template-user .qa-main {
	width: 100%;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.qa-template-user .qa-part-form-activity,
.qa-template-user .qa-part-message-list {
	float: right;
	width: 50%;
	padding-left: 10px;
}

.qa-template-user .qa-part-form-activity h2 {
	margin-top: 0;
}

.qa-template-user .qa-part-form-profile {
	float: left;
	width: 50%;
	min-height: 630px;
	padding-right: 10px;
	border-right: 1px solid #ddd;
}

.qa-template-user .qa-part-form-activity,
.qa-template-user .qa-part-message-list,
.qa-template-user .qa-part-form-profile {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.qa-template-user .qa-part-message-list .qa-form-tall-text,
.qa-template-user .qa-part-form-profile .qa-form-wide-text {
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.qa-template-user .qa-part-form-activity td .qa-uf-user-points,
.qa-template-user .qa-part-form-activity td .qa-uf-user-q-posts,
.qa-template-user .qa-part-form-activity td .qa-uf-user-a-posts,
.qa-template-user .qa-part-form-activity td .qa-uf-user-c-posts,
.qa-template-user .qa-part-form-activity td .qa-uf-user-q-votes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-a-votes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-upvotes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-downvotes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-upvoteds,
.qa-template-user .qa-part-form-activity td .qa-uf-user-downvoteds {
	font-size: 18px;
	color: #069;
	font-weight: 700;
}

/* Plugins */

[class^="qa-part-form-plugin"] {
	padding: 12px 0;
	border-top: 1px solid #ddd;
}
.qa-part-form-plugin-0,
.qa-part-form-plugin-options {
	padding-top: 0;
	border-top: 0;
}



	/* Open Login buttons */
	.open-login-button.context-associate,
	.open-login-button.context-login,
	.open-login-button.context-register {
		font-weight: bold;
		display: inline-block;
		margin-top: 5px;
		width: 30%;
	}
	
	.open-login-button.context-sidebar {
		font-weight: bold;
		margin: 0 10px 5px 10px;
		display: block;
		max-width: 90%;
	}

	.open-login-button.context-menu.zocial {
		margin-top: -4px;
		font-size: 11px;
	}
	
	.open-login-profile, .open-login-accounts, .open-login-others {
		padding-bottom: 40px;
		border-bottom: 1px solid gray;
	}
	
	.qa-nav-user { /* this should not have negative effects */
		height: 24px;
		margin-top: 4px;
	}
	
	/* MODIFICATIONS */
	.qa-nav-user-updates { 
		display: none;
	}

	.open-login-others .opacxhtml select {
		margin: 5px 0;
	}
	
	.open-login-others .opacxhtml {
		padding-left: 35px;
	}
	
	.open-login-accounts a.opacxdel:hover {
		text-decoration: none;
	}
	
	.open-login-accounts a.opacxdel{
		display: inline-block;
		line-height: 25px;
		margin: 0 5px;
	}
	/* End of Open Login buttons */

        .qa-submenu {
	background: #f4f4f4;
	border: 1px solid #c7dce6;
	color: #444;
	font-size: 14px;
	text-align: center;
	clear: both;
        margin-top: 1px;
        padding: 0px 8px 4px 8px;
	border-radius: 2px;
        position: absolute;
}


.qa-submenu:hover {
    background: #D0DFE4;
    text-decoration: none;
}
.qa-submenu-list {
    position: absolute;
}
.qa-popup{
    display: none;
}
.qa-dialog-form{
    display: none;
    /*text-align: left;*/
}
.qa-dialog-button{
    margin-top: 10px;
    margin-left: 20px;
}
.qa-flags-list{
    margin-top: -26px;
    margin-left: 250px;
    position: absolute;
    //list-style-type: none;
    
}
.qa-flag-list{
    list-style-type: none;
    display: inline;
    color:  blue;
    cursor: helpe;
}
.qa-flag-list span{
    color:  #cf0000;
    font-weight: bold;
    
}


/*navigation bar on header of page Popular, Most Recent, Allquestion, Unanswered*/
.navbar-islamiqa {
  float: left;
  height: 30px;
  padding: 15px 15px;
  font-size: 15px;
  line-height: 20px;
}

.navbar-islamiqa {
  color: #000;
}
.navbar-islamiqa:hover,
.navbar-islamiqa:focus {
  color: #5e5e5e;
  background-color: transparent;
}

/*asx question bar*/

.main_slider_islamiqa{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}


.main_slider_islamiqa{
	height:70px;
	padding:5px 0;
	margin:0 0 30px 0;
	background-size:100% auto;
	-moz-box-shadow:0px 6px 6px rgba(0,0,0,0);
	-webkit-box-shadow:0px 6px 6px rgba(0,0,0,0);
	box-shadow:0px 6px 6px rgba(0,0,0,0)}
	
.main_slider_islamiqa .inner{
	width:100%;
	max-width:500px;
	margin:0 auto;color:#fff
}

.main_slider_islamiqa .inner h1{
	font-size:60px;
	font-weight:900;
	line-height:60px
}

.main_slider_islamiqa .inner h3{
	font-size:24px;
	font-weight:700;
	padding:0 70px
}

.main_slider_islamiqa .ask_bar{
	width:100%;
	max-width:700px;
	padding:10px 0;
	margin:0 auto
}

.main_slider_islamiqa .ask_bar .form-control{
	width:75%;
	height:36px;
	padding:6px 20px;
	float:left;
	border:solid 1px;
	-moz-border-radius:18px 0px 0px 18px;
	-webkit-border-radius:18px;border-radius:18px 0px 0px 18px
	
}
.main_slider_islamiqa .ask_bar .btn{
	width:25%;
	height:36px;
	float:left;
	font-size:16px;
	font-weight:900;
	border:none;
	-moz-border-radius:0px 18px 18px 0px;
	-webkit-border-radius:0px;border-radius:0px 18px 18px 0px
}


.main_slider_islamiqa .form-group .ask_bar{
	width:100% !important;
}

.qa-sidebar-islamiqa {
	/*padding:12px; */
	font-size:14px;
	/*background:#ebc5e2 url(sidebar-bg.png) repeat-y right top; */
	border: 2px solid #6a1b56; 
	border-right:none; 
	border-left-radius:none; 
	border-right:none; 
	
	/*margin:18px 0;*/
}
.qa-sidebar-islamiqa h4 {
  margin-top: 0;
  color: inherit;
}
.signup_login-navbar{
	float:right;
}

.slimmenu{
    margin-top: -10px !important;
    padding-left: 0% !important;
}



.input-group {
	margin-bottom: 30px;
	margin-top: 50px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

input.form-control {
	border-radius:30px;
	display: block;
}

.input-group-addon {
	background-color: #d31c2e;
	color: #ffffff;
	font-size: 15px;
	text-transform: capitalize;
	border-radius:30px;
}
/*
div.in-content {
	margin-left: 30px;
	margin-right: 18px;
	margin-top: 25px;
}
*/
p.ct-heading {
	padding-top:15px;
	padding-bottom:15px;
	font-size: 17px;
	font-weight: 900;
	color: #777777;
}

p.ct-main-content {
	display: inline-block;
	color: #777777;
	font-size: 14px;
	font-family:pt-serif, sans-serif;
	text-align: left;
	margin-left: 10px;
	line-height:21px !important;
}

.dot {
	display: inline-block;
	color: red;
	font-size: 30px;
	margin-top: -10px;
	margin-left: 20px;
}

.r-c-head {  /* moificado*/
	border-bottom: 1px solid #cccccc;
	color: #323232;
	font-size: 16px;
	margin-top: 25px;
}

a.qtype {
	border-bottom: 1px solid #cccccc;
	color: #313131;
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 15px;
	padding-bottom: 6px;
	padding-left:15px;
	line-height: 17px;
}



/*.terms-page .ct-heading { font-size:18px; font-weight:900; color:#777777; margin-top:30px; }*/
.ct-main-content { 
    color: #777777; 
    font-size: 16px;	
    text-align: justify; 
    margin-left:20px; 
    margin-right:20px; 
}

/*.terms-page .ct-main-content2 { color: #777777; font-size: 16px; text-align: justify; margin-left:0px; margin-top: 5px; }*/


/*Alerts para registros de usuarios*/
.error_input{
	border-color: #a33 !important;
}

/*
.privacy-page .ct-heading { font-size: 18px; font-weight: 900; color:#777777; margin-top:-20px; }
.privacy-page .ct-main-content { display: inline-block; color: #777777; font-size: 17px; text-align: justify; margin-left: 10px; }
.privacy-page .ct-main-content2 { color: #777777; font-size: 16px; text-align: justify; margin-left:10px; margin-top: 20px; }
*/


li.qa-faq-list-item {
	list-style-type:none;
	margin-left:90px;
}

.qa-faq-section-title {	
	font-size: 18px !important;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-family: lato, sans-serif !important;
	cursor:default !important;
}

.qa-faq-section-text {
	display:block !important;
	margin:0px 0px 10px 110px !important;
	font-family: lato, sans-serif;
	color:#999;
	font-size:13px;
	line-height:18px;
	position:relative;
	
}

.qa-main-wrapper {	
	background-color: transparent;
}

.qa-main h1 {
	
	font-size:28px;
	line-height:34px;
	font-weight:900;
	font-family:lato, sans-serif;
	margin-bottom:20px;
}


.qa-tag-up {
    z-index: 13;
	width: 14px;
	min-height: 39px;
	background-color: transparent;
	color: #22B573;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	position: relative;
	float:left;
	margin-left: -80px;
	margin-top:-45px;
}

.qa-vote-up {
	z-index: 53;
	width: 84px;
	background-color: transparent;
	color: #313131;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	float:left;
	margin-left: -87px;
	margin-top: -5px;
	
}

.qa-tag-down {
	z-index: 37;
	width: 14px;
	min-height: 36px;
	background-color: transparent;
	color: #CF2129;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	position: relative;
	float:left;
	margin-left: -40px;
	margin-top: -15px;
}


.qa-vote-down {
	z-index: 53;
	width: 84px;
	background-color: transparent;
	color: #313131;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	float:left;
	margin-left: -87px;
	margin-top: 42px;
	
}



.qa-bottom-ul {
	position:relative;
	height:41px;
	margin-left:90px;
	
}

.qa-bottom-ul > li {    
	 display: inline-block;    
	 list-style:outside none none;
	 margin-right:30px;
}

.qa-bottom-ul .pncl {
    color: #cc0000;
    font-size: 20px;
}
.qa-line-br {
	border-bottom: 1px solid;
	width:100%;
	height:1px;
	border-color:#E6E6E6;
	
}

