/*
	Question2Answer (c) Gideon Greenspan

	http://www.question2answer.org/
	
	File: qa-plugin/follow-users-widget/qa-follow-users-widget-styles.css
	Version: See define()s at top of qa-include/qa-base.php
	Description: CSS file for follow users widget plugin

	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	More about this license: http://www.question2answer.org/license.php
*/

.qa-widget-side .qa-follow-users-region-side {
padding: 5px 10px;
}
.qa-widget-side h2.qa-follow-users-header {
font-size: 14px;
margin: 0 !important;
padding: 0 !important;
}
.qa-follow-users-setting {
display:block;
float:right;
font-size: 10px;
}
.qa-follow-users-setting a {
text-decoration:underline;
}
.qa-widget-side .qa-follow-users-setting {
margin: 0;
padding: 0;
}
.qa-widget-side .qa-follow-users-setting a {
margin: 0;
padding: 0;
}
.qa-widget-side .qa-follow-users-desc {
font-size: 11px;
margin-bottom: 5px;
}
.qa-widget-side .qa-follow-users-desc a {
margin: 0;
padding: 0;
}
.qa-follow-users-list {
clear:both;
list-style: none outside none;
margin: 0;
padding: 0;
}
.qa-follow-users-list li {
display: block;
float: left;
font-size: 9.5px;
margin: 0 5px 5px 0;
text-align: center;
}
.qa-follow-users-avatar {
display: inline-block;
}
.qa-follow-users-avatar a {
margin: 0;
}
.qa-follow-users-avatar a img {
	
}
.qa-follow-users-name {
display:block;
overflow: hidden;
white-space: nowrap;
}
.qa-follow-users-name a {
margin:0;
padding:0;
font-weight:normal;
}
.qa-follow-users-clear {
clear:both;
margin:0 !important;
padding:0 !important;
}