@mixin default-transition($property, $duration){

	@include transition-property($property);

	@include transition-duration($duration);

}

@mixin form-control {
	
	width: 100%;

	height: 40px;

	margin: 0;

	background: lighten($black, 100%);

	border: 1px solid lighten($black, 90%);

	@include box-shadow(none);

	@include border-radius(0);

	@include pie;

}