/* SET IMAGES DIRECTORY PATH */
@function get-path-to-assets($imagesPath){

	@return $imagesPath;

}

/* SET CUSTOM FONTS DIRECTORY PATH */
@function get-path-to-assets($fontsPath){

	@return $fontsPath;

}

/* SET CUSTOM FONTS DIRECTORY PATH */
@function get-path-to-assets($pollyfillsPath){

	@return $pollyfillsPath;

}