$imagesPath:						"../images/";

$fontsPath:							"../fonts/";

$pollyfillsPath:					"http://localhost/share-html/polyfills/";



/* START COLORS VARIABLES */

$black:								#000000;



/* START FONT-FACE VARIABLES */

$opensans-regular:				'opensans-regular';

$opensans-italic:				'opensans-italic';

$opensans-light:				'opensans-light';

$opensans-light-italic:			'opensans-light-italic';

$opensans-bold:					'opensans-bold';

$opensans-bold-italic:			'opensans-bold-italic';

$opensans-extra-bold:			'opensans-extra-bold';

$opensans-extra-bold-italic:	'opensans-extra-bold-italic';

$opensans-semi-bold:			'opensans-semi-bold';

$opensans-semi-bold-italic:		'opensans-semi-bold-italic';

$ubuntu-cond: 					'ubuntu-condensed-regular';

$ubuntu-light:					'ubuntu-light';

$ubuntu-light-italic:			'ubuntu-light-italic';

$ubuntu-regular:				'ubuntu-regular';

$ubuntu-italic:					'ubuntu-italic';

$ubuntu-medium:					'ubuntu-medium';

$ubuntu-medium-italic:			'ubuntu-medium-italic';

$ubuntu-bold:					'ubuntu-bold';

$ubuntu-bold-italic:			'ubuntu-bold-italic';