div[class*="dt-hr-invisible-"]{
	
	@include clearfix;

	@include opacity (0);

}

.dt-hr-invisible-smaller{
	
	margin: 12px 0;

}

.dt-hr-invisible-small{
	
	margin: 25px 0;

}

.dt-hr-invisible-large{
	
	margin: 50px 0;

}