.form-control{

	@include form-control;

}

.form-inline .form-control{
	
	@include form-control;

}

textarea.form-control{

	height: auto !important;

}

label{

	font-weight: normal;

}