/* largest for Norml desktop devices */
$break-largeest: "only screen and (min-width : 1280px)";

/* large for desktop devices */
$break-xxxlarge: "all and (min-width: 1160px) and (max-width: 1280px)";

/* 960px for Iphone 6+ landscape, 1024px for desktop devices and tablets landscape */
$break-xxlarge: "all and (min-width: 960px) and (max-width: 1024px)";

/* 768px for iPad 3, 800px for Android and Windows phones */
$break-xlarge: "all and (min-width: 768px) and (max-width: 800px)";

/* 640px for Samsung Landscape, 667px for Iphone 6 Landscape */
$break-large: "all and (min-width: 640px) and (max-width: 667px)";

/* 540px for Iphone 6+, 568px for iphone 5 Landscape */
$break-medium: "all and (min-width: 540px) and (max-width: 568px)";

/* 400px Samsung Note, 480px for Iphone 4 */
$break-small: "all and (min-width: 400px) and (max-width: 480px)";

/* 320px for iphone 4, 375px for Iphone 6 */
$break-little: "all and (min-width: 320px) and (max-width: 375px)";