@font-face {

	font-family:'Glyphicons Halflings';

	src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot'); 

	src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
	
	url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), 
	
	url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), 
	
	url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg'); 
	
	font-weight: normal; 
	
	font-style: normal;

}
