/*
	Question2Answer (c) Gideon Greenspan

	http://www.question2answer.org/
	
	File: qa-plugin/question-followers-widget/qa-question-followers-widget-styles.css
	Version: See define()s at top of qa-include/qa-base.php
	Description: CSS file for question followers widget plugin

	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	More about this license: http://www.question2answer.org/license.php
*/

.qa-widget-side .qa-question-followers-region-side {
margin:0;
padding:0;
}
.qa-widget-side h2.qa-question-followers-header {
font-size: 13px;
margin: 0 !important;
padding: 0 !important;
}
.qa-question-followers-setting {
font-size: 10px;
text-align: right;
}
.qa-question-followers-setting a {
text-decoration:underline;
}
.qa-widget-side .qa-question-followers-setting {
margin: 0 0 5px 0;
padding: 0;
}
.qa-widget-side .qa-question-followers-setting a {
margin: 0;
padding: 0;
}
.qa-question-followers-list {
list-style: none outside none;
margin: 0;
padding: 0;
}
.qa-question-followers-list li {
display: inline-block;
font-size: 9.5px;
margin: 0 1px 1px 0;
text-align: center;
}
.qa-question-followers-avatar {
display: inline-block;
}
.qa-question-followers-avatar a {
margin: 0;
}
.qa-question-followers-name {
display:block;
overflow: hidden;
white-space: nowrap;
}
.qa-question-followers-name a {
margin:0;
padding:0;
font-weight:normal;
}
.qa-widget-side .qa-question-followers-desc {
font-size: 11px;
margin:0;
}
.qa-widget-side .qa-question-followers-desc a {
margin: 0;
padding: 0;
}
.qa-question-followers-clear {
clear:both;
margin:0 !important;
padding:0 !important;
}