
/* ------------------------------------------   faq page css  -----------------------------------------------*/

.faq-page .tag-up {
	height: 84px;
	width: 20px;
	font-size: 30px;
	background-color: transparent;
	color: #22B573;
	letter-spacing: 1px;
	vertical-align:middle;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,1,-1,0,26,12);
	-ms-transform: matrix(0,1,-1,0,26,12);
	transform: matrix(0,1,-1,0,26,12);
	position:absolute;
	margin-left:-20px;
	margin-top:-40px;
}

.faq-page .vote-up {
	width: 84px;
	height: 20px;
	font-size: 12px;	
	background-color: transparent;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 900;
	position:absolute;
	margin-top:14px;
	margin-left:18px;
	
}

.faq-page .tag-down {
	width: 20px;
	height: 84px;
	background-color: transparent;
	color: #CF2129;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0,-1,1,0,-11,25);
	-ms-transform: matrix(0,-1,1,0,-11,25);
	transform: matrix(0,-1,1,0,-11,25);
	position:absolute;
	margin-top:-20px;
	margin-left:50px;
}


.faq-page .vote-down {
	z-index: 53;
	width:84px;
	height:20px;
	background-color: transparent;
	color: #313131;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position:absolute;
	margin-top:55px;
	margin-left:20px;
}

.faq-page li.faq-list-item {
	list-style-type:none;
	margin-left:90px;
}

.faq-page .faq-section-title {	
	font-size: 18px !important;
	color: #313131;
	font-family: lato, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-family: lato, sans-serif !important;
	cursor:default !important;
}

.faq-page .faq-section-text {
	display:block !important;
	margin:0px 0px 10px 30px !important;
	font-family: lato, sans-serif;
	color:#999;
	font-size:13px;
	line-height:18px;
	position:relative;
	
}

.faq-page .bottom-ul {
	position:relative;
	height:41px;
	margin-left:5px;
	
}

.faq-page .bottom-ul > li {    
	 display: inline-block;    
	 list-style:outside none none;
	 margin-right:30px;
}

.faq-page .bottom-ul .pncl {
    color: #cc0000;
    font-size: 20px;
}

.faq-page .heading {
	font-size:28px !important;
	line-height:34px;
	font-weight:900;
	font-family:lato, sans-serif;
	margin-bottom:20px;
	padding-bottom:5px;
	border-bottom: 3px solid #d31c2e;
    color: #313131;
    font-weight: 900;
}

.faq-page .has, .faq-page .simplespan, .faq-page .has-red, .faq-page .red-simplespan {
	font-family:source-sans-pro,sans-serif;
	font-size:12px;
	line-height:14px;
	color:#999;
	letter-spacing:1px;
}

.faq-page .has {	 	 
	 font-weight:900; 
	 display:inline-block;
	 padding-right:4px;
}

.faq-page .simplespan {	
	 font-size: 12px !important; 
	 display:inline-block; 	
}

.faq-page .has-red { 
	 color: #cf2129; 
	 font-weight: 900; 
	 display:inline-block; 
	 padding-right:4px;
}
.faq-page .red-simplespan {
	 color: #cc0000; 
	 display:inline-block;
}

.faq-page ul.faq-list-item {
	list-style-type:none;
	margin-left:90px !important;
}

.faq-page ul.faq-list-item li {
	padding-bottom:8px;
}

/***********/
/*.faq-page .posts-faq {
    display: inline-block;
    text-align: right;
    width: 47%;
}

.faq-page .posts-text-faq {
    display: inline-block;
    font-size: 16px;
}

.faq-page .boxs-faq > span {
    color: #939393;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.faq-page .boxs-faq {
    background-color: #ffffff;
    width: 50px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.faq-page .nbr {
    text-align: center;
    font-size: 12px;
    color: #939393;
    font-weight: 900;
}

.faq-page .ans-head {
    color: #313131;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -30px;
}

.faq-page .ans-content {
    color: #787878;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0px;
}

.faq-page .ans-btm-ul {
    display: inline-block;
    margin-left: -65px;
}

.faq-page .has-faq {
    font-weight: 900;
}

.faq-page .has-red {
    color: #cc0000;
    font-weight: 900;
}

.faq-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.faq-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

.faq-page .topics {
    border-bottom: 1px solid #cccccc;
    color: #313131;
    font-size: 18px;
    margin: 15px;
    padding-bottom: 5px;
}

.faq-page .li-right-col {
    color: #313131;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    margin-left: 40px;
    list-style: outside none none;
    line-height: 20px;
}

.faq-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 220px;
}
*/