/*----------------------------------------------  about ---------------------------------------------------*/

.about-page .ct-main-head {
    font-size: 20px;
	color:#5F5F5F;
	font-family: lato, sans-serif;
    text-align: left;
	font-weight:900;
	line-height:30px;
}

.about-page .ct-heading {
    font-size: 17px;
    font-weight: bold;
    color: #777777;
	font-family:lato, sans-serif;
    margin: 5px 0 5px 0;
	line-height:26px !important;
	text-align:left;
}

.about-page .ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 14px;
	font-family: source-sans-pro, sans-serif;	
    text-align: left;
	line-height:21px;
}

.about-page p.ct-main-content {
	margin-left: 0px;
}

.about-page .ct-main-content2 {
    display: inline-block;
    color: #777777;
    font-size: 17px;
    font-family: pt-serif, sans-serif;
	text-align: left;
   
}
