

.allquestion ul.header
{
   list-style-type:none;
   width:100%;
   border-bottom:2px solid #d31c2e;
}

.allquestion ul.header li
{
	display:inline-block;
	*display:inline;
}

.allquestion .title
{
	margin-left:10px;
	font-size:30px;
	font-weight:900;
	padding:0px 0px 0px 0px;
	line-height:36px;

}


.allquestion .asked b
{
	font-weight:900;
}

.allquestion .asked
{
	font-family:lato, sans-serif;
	font-size: 11px;
	line-height:13px;
	color:#5f5f5f;
	font-weight:regular;
	
}

.allquestion .answer{
    border-left: 3px solid #DBDCD9;
    padding-left: 20px;
	margin-left:-17px;
	min-height:140px;
	margin-bottom:10px;
}



.allquestion .container-votes
{
 width: 100%;
 word-wrap: break-word;
 margin-left: -10px;
 margin-top:10px;
}

.allquestion .bestanswer-title
{
	font-family: lato, sans-serif;
	font-size:11px;
	line-height:17px;
	color:$313131;
	font-weight:regular;
}

.allquestion .answer-content
{
	
	font-family:lato, sans-serif;
	font-size:14px;
	line-height:21px;
	color:#313131;
	
}

.allquestion .comment-footer
{
	padding-top:15px;
	font-family:source-sans-pro,sans-serif;
	font-size:14px;
	color:#878787;
	
}


 .account-setup
{
	line-height:19px;
	color:#313131;
	text-align:left;
	position:inline-block;
	margin-top:3px;
	left: 27px;
}

.line-bottom-red
{
	border-bottom: solid 2px #CF2129;
	border-left:0px;
	border-right:0px;
	border-top:0px;
    padding-bottom:20px !important;
}

/*.account-setup*/  span.close-widget
{
	height:16px;
	border-color:transparent;
	background-color:transparent;
	color:#BFBDBD;
	font-size:11px;
	float:right;
	
	
}
.account-setup .account-title
{	
	margin-top:8px;
	padding-bottom:4px;
	font-size:16px;
	font-family:lato, sans-serif;
	font-weight:900;
	border-width:2px;
	border-color:#CF2129;
	border-style:solid;	
	border-left:0px;
	border-right:0px;
	border-top:0px;
	margin-bottom:20px;

	
}

.account-setup .check-status
{
	border-radius:50px;
	width:24px;
	height:24px;
	font-size:12px;
	color:white;
/*	background-color:lightgray;*/
	padding:2px 2px 2px 3px;
	margin-top:4px;
	margin-bottom:4px;
	display:inline-block;
	
}
.item-account
{
	margin-top:10px;
	margin-bottom:10px;
	padding-left:2px;
	padding-right:0px;
}

.item-account-content
{
   padding-top:4px;
   padding-left:0px;	
}

.check-setup 
{
	background-color:#22B573;
}
.uncheck-setup
{
	background-color:#BFBDBD;
}

.myinfo .title
{
	
  border-bottom: 1px solid #E6E6E6;
  padding-top:8px;
  padding-bottom:8px;
}

.myinfo .pagging
{
  height:210px;
  width:265px;
  padding:15px 11px;
  overflow:hidden;
  font-family:lato,sans-serif;
}

.square-page
{
   display:inline-block;	
   
}

.block-page
{
   display:inline;
}

.square-page .item
{	
	width:100px;
	margin-bottom:20px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
}

.block-page .item
{
	width:223px;
	padding-bottom:8px;
}

.line-page .item
{
	border-bottom:1px solid #E6E6E6;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:15px;
	
}

.line-page .item span,
.line-page .subitem span
{
	float:right;
	color:#cf2129;
	font-size:11px;
	
}

.line-page .evtlist 
{
   margin-right:3px;	
   cursor: pointer;	
}

.line-page .item  a,
.line-page .subitem  a,
.line-page .item  a:hover
.line-page .subitem  a:hover
{
   margin-right:3px;	
   cursor: pointer;	
   text-decoration:none;
   color:#333;
}

.line-page .evtsubitem
{	
  border-bottom:1px solid #E6E6E6;

}



.line-page .subitem
{
	border-bottom:0px solid #E6E6E6;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:28px;
	/*white-space:nowrap;*/
}

.item > div 
{
	display:inline-block;
	vertical-align:middle;
	padding-left:8px;
} 


.square-page .avatar
{
	height:23px;
	width:23px;
	border-radius:4px;
	position:relative;
	background-size:cover;
	background-color:#E6E6E6;
}

.block-page .avatar
{
	width:35px;
	height:35px;
	border-radius:50px;
	position:relative;
	background-color:#E6E6E6;
	background-size:cover;
}

#pagin {
    clear: both;
    padding:0;
    width:250px;
    margin:0 auto;
}
#pagin li {
    float:left;
    margin-right:10px;
}

#pagin li a {
    display:block;
    color:#717171;
    font:bold 11px;
    text-shadow:0px 1px white;
    padding:5px 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0px 1px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow:0px 1px 3px 0px rgba(0,0,0,0.35);
    box-shadow:0px 1px 3px 0px rgba(0,0,0,0.35);
    background:#f9f9f9;
    background:-webkit-linear-gradient(top,#f9f9f9 0%,#e8e8e8 100%);
    background:-moz-linear-gradient(top,#f9f9f9 0%,#e8e8e8 100%);
    background:-o-linear-gradient(top,#f9f9f9 0%,#e8e8e8 100%);
    background:-ms-linear-gradient(top,#f9f9f9 0%,#e8e8e8 100%);
    background:linear-gradient(top,#f9f9f9 0%,#e8e8e8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9',endColorstr='#e8e8e8',GradientType=0 );
}
#pagin li a.current {
    color:white;
    text-shadow:0px 1px #3f789f;
    -webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.8);
    -moz-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.8);
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.8);
    background:#7cb9e5;
    background:-webkit-linear-gradient(top,#7cb9e5 0%,#57a1d8 100%);
    background:-moz-linear-gradient(top,#7cb9e5 0%,#57a1d8 100%);
    background:-o-linear-gradient(top,#7cb9e5 0%,#57a1d8 100%);
    background:-ms-linear-gradient(top,#7cb9e5 0%,#57a1d8 100%);
    background:linear-gradient(top,#7cb9e5 0%,#57a1d8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5',endColorstr='#57a1d8',GradientType=0 );
}
#pagin li a:hover {
    -webkit-box-shadow:0px 1px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow:0px 1px 3px 0px rgba(0,0,0,0.55);
    box-shadow:0px 1px 3px 0px rgba(0,0,0,0.55);
    background:#fff;
    background:-webkit-linear-gradient(top,#fff 0%,#e8e8e8 100%);
    background:-moz-linear-gradient(top,#fff 0%,#e8e8e8 100%);
    background:-o-linear-gradient(top,#fff 0%,#e8e8e8 100%);
    background:-ms-linear-gradient(top,#fff 0%,#e8e8e8 100%);
    background:linear-gradient(top,#fff 0%,#e8e8e8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#e8e8e8',GradientType=0 );
}
#pagin li a:active,#pagin li a.current:active {
    -webkit-box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(255,255,255,1) !important;
    -moz-box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(255,255,255,1) !important;
    box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(255,255,255,1) !important;
}
#pagin li a.current:hover {
    -webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.9);
    -moz-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.9);
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.9);
    background:#99cefc;
    background:-webkit-linear-gradient(top,#99cefc 0%,#57a1d8 100%);
    background:-moz-linear-gradient(top,#99cefc 0%,#57a1d8 100%);
    background:-o-linear-gradient(top,#99cefc 0%,#57a1d8 100%);
    background:-ms-linear-gradient(top,#99cefc 0%,#57a1d8 100%);
    background:linear-gradient(top,#99cefc 0%,#57a1d8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc',endColorstr='#57a1d8',GradientType=0 );
}

.multiple-icon
{

	white-space:nowrap;
	/*margin-right:15px;*/
}

#edit-myinfo 
{
	
	cursor:pointer;
}

.myinfo-edit-css .ui-tabs,
.myinfo-edit-css .ui-widget-header,
.myinfo-edit-css .ui-tabs-nav
{
	background-color:transparent;	
	border-style:none;
}

.myinfo-edit-css li.ui-state-default
{
	background-color:transparent;
	border-style:none;
	width:130px;
	text-align:center;
}

.myinfo-edit-css .ui-tabs .ui-tabs-nav 
{
	margin-top:-23px;
}

.myinfo-edit-css .ui-tabs .ui-tabs-nav li.ui-tabs-active div
{
	color:black;
	font-weight:900;
	border-bottom-width: 3px; 
	border-bottom-style: solid;
	border-bottom-color: #CF2129;	
	border-collapse:false;
	margin:auto;
	display:inline-block;
}

.myinfo-edit-css .ui-icon {
  background-image:url(../../images/ui/close-icon.png);	
	
}

.myinfo-edit-css .ui-state-default div a
{	
	color:black;
	width:100%;
}

.myinfo-edit-css span#tab-search
{
	margin-top:10px;
	margin-bottom:0px;
	display:inline-block;
	width:100%;
	padding:10px;
	background-color:#E6E6E6;
	white-space:nowrap;
	
}
.myinfo-edit-css span#tab-search input
{
	
	background-color:white;
	width:99%;
	
	
}
.myinfo-edit-css span#tab-search button
{
	margin-left:-41px;
	background-color:white;
	border-style:none;
	height:101%;
	width:40px;
}

.myinfo-edit-css  .ui-dialog-content
{
	overflow:hidden;
	padding-left:0px;
	padding-right:0px;
	
}

.myinfo-edit-css .title-user
{
	
	font-family: lato,sans-serif;
	font-size:17px;
	line-height:20px;
	color:#313131;
	font-weight:900;
}

.myinfo-edit-css .follow-user,
.myinfo-edit-css .flag-user
{
	font-family:lato, sans-serif;
	font-size:13px;
	line-height:16px;
	color:#7F7F7F;	
}

button.unfollow
{
  border-radius:10px;
  background-color:#CF2129;
  color:#F2F2F2;
  width:69px;
  border-width:0px;
  margin-top:7px;	
}

.myinfo-edit-css .userlist
{
	width:31%;
	display:inline-block;
	margin-top:5px;
	margin-bottom:5px;
	height:95px;
	margin-left:1%;
	
}

.myinfo-edit-css .loadmore {
	position:relative;
	width:95%;
	bottom:0px;
	left:20px;
	right:20px;
	background-color:#CF2129;
	color:#F2F2F2;
	font-weight:900;
	border-width:0px;
	
}

.myinfo-edit-css .follow_userlist
{
	height:320px;
	overflow-y:auto;
}

.myinfo-edit-css .follower_userlist
{
	height:320px;
	overflow-y:auto;
}

.myinfo-edit-css .ui-icon-closethick
{
	margin:0 !important;
	background-position: left top !important;
	
}


.myinfo-edit-css  .ui-dialog-titlebar-close
{
	background:none !important;
	border:none !important;
	padding:0 !important;
	color:#BFBDBD;
}
