/*---------------------------------------------- privacy ------------------------------------------------*/

.privacy-page .ct-heading {
    font-size: 20px;
	line-height:30px;
    font-weight: 900;
    color: #5F5F5F;
	font-family: lato, sans-serif;  
	margin:0px;	
}

.privacy-page .ct-heading2 {
	font-size: 18px;
	line-height:27px;
	font-family:source-sans-pro,sans-serif;
	margin-bottom: -15px;
	
}

.privacy-page .ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 14px;
    text-align: left;
    font-family:source-sans-pro,sans-serif;
	line-height:21px;
	margin-left:0px;
    margin-bottom:15px;
}



.privacy-page ul.ct-main-content {
	margin-left:35px !important;	
}
.privacy-page ul.ct-main-content li {
    margin-bottom:15px;
}

.privacy-page .ct-main-content2 {
    color: #777777;
    font-size: 16px;
    text-align: justify;
    margin-left: 10px;
    margin-top: 20px;
}
