/*-------------------------------------------------- Volunteer Page  -----------------------------------------------*/

.volunteer-page .text-in-box {
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    font-size: 24px;
	
	line-height:29px;
    position: absolute;    
	width:174px;
	margin-bottom: 12px;	
	margin-left: 10px;
	padding-left:10px;
	padding-bottom:10px;
}

.volunteer-page div.first-section {
	width:140% !important;
	margin-left:-20% !important;
	display:inline-block;
	
}

.volunteer-page .bottom-v-heading {    
	border-bottom: 3px solid #939393;	
	color: #000; 
	
	font-size: 31px;    
	font-weight: 900; 
	line-height: 37px;
	margin-top: 50px;

}

.volunteer-page .posts-head {
    font-size: 19px !important;
	line-height:23px !important ;
	color:#000;
    font-weight: 900;
	margin-left:-20px;
}


.volunteer-page .bottom-v-heading > span {    
	color: #313131;    
	font-size: 14px;    
	font-weight: normal;    
	margin-left: 40px;	
}
.volunteer-page .posts-right {    
	display: inline-block;	
	float:right;
	color:#5F5F5F;
	font-family:lato,sans-serif;
	
	/*position: relative; top: -35px;    width: 200px;*/
}


.volunteer-page .pull-right {
	color:#939393;
	font-weight:regular;
	font-size:24px;
	
}
.volunteer-page .posts-right-text { 
	display: inline-block; 
	color: #5F5F5F; 
	font-size: 13px; 
	line-height:16px;
	float:right; 
}
.volunteer-page .span-cat { 
	display: inline-block; 
	margin-left: 10px; 
	margin-right: 10px; 
	font-size:14px !important;
	line-height:21px;
}

.volunteer-page .posts-box-inner1 {  
	display: block;  
	padding-bottom:20px;
	border-bottom: 2px solid #bababa; 
}
.volunteer-page .nposts { 
	display: block; 
}

.volunteer-page .posts-counting {
    display: inline-block;
    width: 10%;
    margin-top: 10px;
}

.volunteer-page .posts-counting span { 
	display: block; 
	font-size: 24px; 
	text-align: center; 
	font-weight: 900; 
}

.volunteer-page .posts-des {
    display: inline-block;
    width: 70%;
	font-size:15px;
	line-height:23px;
}

.volunteer-page .nmbr { 
	display: block; 
	font-size: 14px; 
	line-height:18px;
	font-weight:regular;
	color: #999; 
	font-weight: 900; 
	width: 100%;
}
.volunteer-page .nmbr-btm-txt { 
	display: block; 
	font-size: 14px; 
	line-height:18px;
	color: #999; 
	font-weight: regular; 
	margin-top: 0px; 
}
.volunteer-page .posts-arrow-right { 
    color: #999;
    display: inline-block;
    font-size: 14px;
	line-height:18px;
    position: relative;
    text-align: center;
    top: 0px;
	float:right;
	margin-top:10px;
	
    width: 10%;
}


.volunteer-page .posts-arrow-right .fa-comments { 
	font-size:24px;
	
}

.volunteer-page .three-dots { 
	color: #757575; 
	font-size: 24px; 
	font-weight: 900; 
}
.volunteer-page .crcl {
	 background-color: #ff6e5b; 
	 border-radius: 50%; 
	 float: right; 
	 height: 60px; 
	 width: 60px; 
	 position: relative; 
	 top: 20px; 	
	 margin-right:30px;
}


.volunteer-page .p-date {
    font-size: 14px;
	line-height:17px;
    font-weight: 900;
}

.volunteer-page .p-date > span {
    font-weight: normal;
}