/*-------------------------------------------------  blog page css    --------------------------------------------*/

.blog-page div.first-section {
	width:140% !important;
	margin-left:-20% !important;
	display:inline-block;
	
}

.blog-page .question {
    background-color: #F2F2F2;
	text-align:left;
	padding-left:42px;
	padding-right:42px;
	padding-top:18px;
	padding-bottom:10.25px;
	margin-top:0px;
}

.white-space {
    background-color: white;
    margin-left: -30px;
}

.blog-page div.ssb {
	margin-top:9px;
}

.blog-page div.ssb .fa {
	font-size:14px;
	line-height:14px;
	color: #999;
}

.blog-page .s-name {
    color: #5F5F5F !important;
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
	line-height:24px;
}

.blog-page .ssb > span > span {
    color: #999;
	font-family:lato, sans-serif;
    font-size: 13px;
	line-height:16px;
	padding-left:1px;
}

.b-bg-eee {
    background-color: #f0f0f0;
}

.blog-page .text-last-post li {
	padding-bottom: 10px;
	list-style:none;
	font-size:16px;
	color:#5F5F5F;
	line-height:1.4;
	float:left;
	display:block;
	clear:left;
	text-align:left;
	margin-left:48px;
	font-family:source-sans-pro, sans-serif;
	font-size:16px;
	line-height:22px;
	
	
}
.blog-page .aisha {
	background: rgba(0,0,0,0) url("../../images/aisha.jpg") no-repeat left top;
}

.blog-page .text-last-post li:before {
	margin-right:7px;
	margin-left:-15px;
	content:'○';
	font-family: lato, sans-serif;
	font-weight:400;
}

.blog-page .blog-subtext {
	font-family:lato, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#5F5F5F;
	font-weight:700;
	text-align:left;
	margin-left:20px;
	margin-top:20px;
}

.blog-page .type-msg {
    background-color: #f0f0f0;
    height: 90px;
    width: 100%;
    margin-top: 10px;
}

/*
blog-page .v-sub-heading { 
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    width: 715px;
}
*/

.blog-page .box-s > span {
    text-align: center;
    width: 100%;

}
.blog-page .nbr {
    text-align: center;
    font-size: 11px;
	line-height:17px;
    font-weight: normal;
	font-family:lato, sans-serif;
    color: #5F5F5F;
	margin-bottom:1px;
}

.blog-page .gau {
    color: #15c983;
}

.blog-page .float-right {	
	padding-right:0px;	
	text-align:right;
	padding-left:80px;
}

.blog-page .box-s {
    width: 50px;
    display: block;   
	clear:both;
    margin-top:20px;
    background-color: #F2F2F2;
	float:right;
    width: 50px;	
}

.blog-page .tc {
    list-style: outside none none;
}

.blog-page .post-name-blog {
    list-style: outside none none;
    margin-top: 30px;
    margin-left: -20px;
}

.blog-page .b-u-name {
    color: #313131;
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 0px;
}

.blog-page .b-u-name-detail {
    color: #313131;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: -10px;
}

.blog-page .bicon {
    color: #c1c1c1;
    font-size: 13px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
}

.blog-page .ct {
    list-style: outside none none;
    width: 100%;
    border-left: 2px solid #d3d3d3;
    margin-top: 20px;
    margin-left: -40px;
    padding-left: 10px;
}

.blog-page .b-text-user {
    margin-right: 20px;
    color: #313131;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
    padding-left: 10px;
}

.blog-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 220px;
}

/*
        .blog-page .und-has { border-bottom-style: 1px solid; }
        .blog-page .und-simplespan {  }
        */
.blog-page .b-txt {
    color: #999;
    margin-right: 10px;
    text-transform: uppercase;
}
/* 
.fa.fa-facebook.sib {
    background-color: #1a78b9;
}

.fa.fa-twitter.sib {
    background-color: #65b4ef;
}

.fa.fa-google-plus.sib {
    background-color: #d55849;
}
 */
/* .sib {
    color: #ffffff;
    font-size: 24px;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
} */

.blog-page .blog-social-top {
    margin-top: 15px;
	color:#BFBDBD;
}

.blog-page .blog-heading {
    color: #313131;
    font-size: 30px;
	font-height:36px;
    font-weight: 900;
	margin-top:23px;
}

.blog-page .blog-heading-sub {
    color: #313131;
    font-size: 11px;
    font-weight: 700;
}

.blog-page .blog-text {
    color: #777;
    font-size: 17px;
	line-height:26px;
	font-family:pt-serif, sans-serif;
    text-align: left;
	padding-bottom:20px;
	
}

.blog-b-text {
    color: #5F5F5F;
    font-size: 24px;
    text-align: center;
	line-height:36px;
	font-family:pt-serif, sans-serif;
	padding-top:8px;
	padding-bottom:20px;
	font-weight:700;
}

.b-pro-pic {
    border-radius: 50% 50% 0;
    width: 100%;
}

.blog-page .l-imb {
    background-color: #ff5b4c;
    border-radius: 50%;
    height: 84px;
    width: 84px;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blog-page .right-4-col-text {
    color: #999;
    font-size: 13px;
	line-height:18px;
    font-weight: regular;
    text-align: center;
    margin-top: 12px;
	
}