
/*----------------------------------------- 	contact us page css		------------------------------------------------*/
.feedback-page .full-btn {
    width: 578px;
	height:40px;	
	background:#e15353;
	color:#fff4f4 !important;
	font-size:16px;
	border-radius:100px;
}

.feedback-page .magic-radio + label:before {
	width:18px;
	height:18px;
	border: 2px solid red;
}

.feedback-page .first-span {
    margin-right: 10px;
}

.feedback-page .radio-inline {
    color: #313131;
    font-size: 14px;
    font-weight: 700;
}

.feedback-page .category {
    width: 170px;
    border-radius: 5px;
    display: block;
}

.feedback-page .asterisc {
    color: #cc0000;
    font-size: 16px;
    margin-left: 10px;
}

.feedback-page  textarea.feedback {
    max-width: 580px;
	width:100%;
    height: 84px;
    text-align: justify;
    font-size: 16px;
    background-color:white;
}


.feedback-page .label-head {
    color: #313131;
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;

}

.feedback-page .it-box {
    display: inline-block;
    width: 30%;
    margin-right: 5px;
    padding-bottom: 30px;
}

.feedback-page .heading {
  color:#313131;
  font-size: 2.143em !important;
  font-weight:bold !important;
  font-family:lato,sans-serif;
  text-align:left;
  font-weight:400;
  border-bottom:0px;
  padding-bottom:5px;
  margin-bottom:0px;
}

.feedback-page .sub-heading {
	font-size:14px;
	padding-left:20px;
	color:#4b4b4b;
	line-height:1.5em;
	padding-bottom:10px;
	border-bottom: 3px solid #d31c2e;    
	
}

.feedback-page .in-content {
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 25px;
	padding:0px;
}

.feedback-page input[type="email"], .feedback-page input[type="text"] {
	padding:1px;
	margin-left: 0;
	border:1px solid #ccc;
	font-size:1em; 
	line-height:inherit !important; 
	
	-moz-box-shadow: 0 1px 2px #eee inset;
	-webkit-box-shadow: 0 1px 2px #eee inset;
	box-shadow: 0 1px 2px #eee inset;
	background-color:white;
	border-radius:6px;
	font-family:Arial !important;
	
}

.feedback-page .label-tip {
	color: #313131;
    font-size: 11px;
    margin-top: 10px;	
}
