

.allquestion ul.header
{
   list-style-type:none;
   width:100%;
   border-bottom:2px solid #d31c2e;
}

.allquestion ul.header li
{
	display:inline-block;
	*display:inline;
}

.allquestion .title
{
	margin-left:10px;
	font-size:30px;
	font-weight:900;
	padding:0px 0px 0px 0px;
	line-height:36px;

}

.allquestion .vote 
{
 	background-color: #f2f2f2;
	width:54px;
	height:32px;	
	margin-top:10px;
	text-align:center;	
}

.allquestion .vote div
{
	font-family	:lato,sans-serif;
	font-size:11px;
	line-height: 17px;
	color: #5F5F5F;	
	width:100%;
	margin-top: -6px;

}

.allquestion .rounded-corner
{
	
	background-clip: border-box;
/*	background-color:rgba(0,0,0,0);*/
	background-color:green;
	background-size:cover;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 0px;
	border-bottom-width:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-top-width:0px;
	display:block;
	margin-top:2px;
	width:70px;
	height:70px;

}


.allquestion .row-question, 
.allquestion .col-votes,
.allquestion .answer 
{
	
	background-color:#fafafa;
}

.allquestion .row-question
{
	padding-top:9px;
	border-bottom:#dbdcd9 solid 1px;
	
}

.allquestion .row-question .rounded-corner
{
	margin-left:10px;
}

.allquestion .row-question > div
{
	padding-left:0px;
	padding-right:2px;
}
.allquestion .single-question
{
	font-size:21px;
	line-height:25px;
	color:#313131;
	font-family: lato, sans-serif;
	font-weight:900;
	
}

.allquestion .asked b
{
	font-weight:900;
}

.allquestion .asked
{
	font-family:lato, sans-serif;
	font-size: 11px;
	line-height:13px;
	color:#5f5f5f;
	font-weight:regular;
	
}

.allquestion .answer{
    border-left: 3px solid #DBDCD9;
    padding-left: 20px;
	margin-left:-17px;
	min-height:140px;
}

.allquestion .col-votes
{
  padding-right:0px;	
}


.allquestion .container-votes
{
 width: 100%;
 word-wrap: break-word;
 margin-left: -10px;
 margin-top:10px;
}

.allquestion .bestanswer-title
{
	font-family: lato, sans-serif;
	font-size:11px;
	line-height:17px;
	color:$313131;
	font-weight:regular;
}

.allquestion .answer-content
{
	
	font-family:lato, sans-serif;
	font-size:14px;
	line-height:21px;
	color:#313131;
	
}

.allquestion .comment-footer
{
	padding-top:15px;
	font-family:source-sans-pro,sans-serif;
	font-size:14px;
	color:#878787;
	
}

.allquestion .margin-left-10
{
	margin-left:10px;
	
}

.allquestion .margin-left-20
{
	margin-left:20px;
	
}

.allquestion .more-answer
{
  padding-top:10px;
  font-family:lato, sans-serif;
  font-size:12px;
  line-height:18px;
  color:#313131;
  font-weight:900;
}

.allquestion .tags-question
{
	padding-top:10px;
	display:inline-block;
	padding-bottom:10px;
	
}

.row-votes{
  margin-bottom: 2px
}

.row-votes > .container-col-left {
	float: left; 
	width:75%;
	margin-bottom: 2px
}

.container-col-left > .left-content{
	font-size: 10px; text-align: right
}

.container-col-left > .lef-number{
	color: #BFBDBD; 
	font-size: 13px; 
	text-align: right; 
	font-weight: 900;
}

.row-votes .icons-number {
	color: #BFBDBD;
	float: right;
}

.row-votes .icons-content {
	/*color: #FFA500;*/
	width:20px;
	text-align:center;
	float: right;
	cursor: pointer;
}

.row-votes .icons-content > i {
	font-size: 20px;
}

.row-votes .icons-number > i {
	font-size: 25px; 
	font-weight: 900;
}


/*
.six-li-icon {
    display: inline-block;
    
    font-size: 16px;
}

.six-li {
    display: inline-block;
    background-color: #bfbdbd;
    border-radius: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.six-btn > li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 5px;
}

.six-li {
    background-color: #bfbdbd;
    border-radius: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.six-li-icon {
    color: #bfbdbd;
    font-size: 16px;
}

*/