
/*----------------------------------------------  terms---------------------------------------------------*/

.terms-page .ct-main-head {
    font-size: 20px;
    color:#5F5F5F;;
	font-family: pt-serif, sans-serif;
    text-align: left;
	line-height:30px;
	font-weight:700;
}
.terms-page .heading {
	border-bottom:3px solid #d31c2e;
}

.terms-page .ct-heading {
    font-size: 17px;
    font-weight: bold;
    color: #777777;
	font-family:lato, sans-serif;
    margin: 5px 0 5px 0;
	line-height:26px !important;
	text-align:left;
}
.terms-page p.ct-heading {
	margin-top:0px;
}

.terms-page .ct-main-content {
    display: inline-block;
    color: #777777;
    font-size: 17px;
	font-family: pt-serif, sans-serif;	
    text-align: left;
	line-height:26px;
}

.terms-page ul.ct-main-content  li {
	margin-bottom:20px;
}

.terms-page ul.ct-main-content {
	margin-left:20px !important;
}

.terms-page .ct-main-content2 {
    display: inline-block;
    color: #777777;
    font-size: 17px;
    font-family: pt-serif, sans-serif;
	text-align: left;
	font-weight:400;
	line-height:26px;
	margin-bottom:20px;
   
}

