
/*
* Updated by Gerardo Rondon
* Date: 22/06/2016
*
*/

.modal {overflow-y: auto;}
.modal-open {overflow: auto;}
.modal-header{border-bottom: 0px ;}
.modal-header .close {margin-top: -10px;}
.btn-full-with{width: 100%;text-align: left;}
.btn-full-with > .fa {margin-left: 5px;margin-right: 5px;min-width: 20px;}
.row-height{margin-bottom: 10px}
.sing-in-tab{  }
.sing-in-tab .footer{text-align: justify;font-size: 1em;padding: 05px 0px 0px 0px;}
button.close { margin-top: -5px;}




ul.slimmenu-2x { width: 100%; padding: 0;list-style-type: none; text-align: center; margin: 0px auto;}
ul.slimmenu-2x li {
    /*position: relative;*/
    float: left;
    display: inline-block;
    text-align:center;

    /*background-color: #AAA;*/
    /*border-bottom: 3px solid #cf2129;*/
}

ul.slimmenu-2x  div {padding: 0px 10px 5px;  margin: auto; text-align: center;}

ul.slimmenu-2x  .active div{ padding: 0px 10px 5px;  margin: auto; border-bottom: 3px solid  #cf2129; text-align: center;}

/*  */






/*ul.slimmenu-2x  li.active  a{ color: black;border-bottom: 3px solid #cf2129;}*/
ul.slimmenu-2x  li  a{

    color: black;
    /*border-bottom: 3px solid #f2f2f2;*/
    display: block;
    /*padding: 12px 64px 12px 16px;*/
    /*color: #333;*/
    text-decoration:none;
    /*box-sizing: border-box;*/
    font-size: 16px;
    font-weight: 400;
    /*border-bottom: 3px solid #cf2129;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.075);*/

    box-sizing: border-box;
}
ul.slimmenu-2x  li  a:hover{ color: black;  }


.menuLogin {  margin: 1px; font-size: 16px}

.dropdown-menu-login .form-control .repair {

    margin-bottom: 2px;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu-login
{
    margin-top:-30px !important;
}

.dropdown-menu-signup
{
	width:400px !important;
}

.dropdown-menu-login .form-control{
	height:26px !important; 
	margin-bottom:10px; 
	font-size:12px; 
}

.dropdown-menu.pull-right, header .dropdown-menu.signup_login {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #cf2129;
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    color: #777;
}
.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.form-group .reduce {
    margin-bottom: 0px;
}


.btn-full-with > .ileft { margin-left: 15%; }


#owl-demo .item{
    /*background: #3fbf79;*/
     /*padding: 30px 0px;*/
    margin: 2px;
    /*color: #FFF;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/


}


    /*@media (min-width: 768px) {*/
        /*.dropdown .dropdown-menu{*/
            /*display: block;*/
            /*opacity:0;*/
            /*-webkit-transition: all 200ms ease-in;*/
            /*-moz-transition: all 200ms ease-in;*/
            /*-ms-transition: all 200ms ease-in;*/
            /*-o-transition: all 200ms ease-in;*/
            /*transition: all 200ms ease-in;*/
        /*}*/

        /*.open > .dropdown-menu {*/
        /*display: block;*/
        /*opacity: 1;*/

        /*}*/

    /*}*/
	
	


/* Menu logged */
.dropdown-menu .logged-mail
{
	width:100%;
	background-color:lightgray;
	color:#5F5F5F;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}


.dropdown-menu .logged-link
{
	width:100%;
	border-color:#E6E6E6;
	border-width:1px;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:solid;
	
	margin-bottom:0px !important;
	margin-top:0px !important;
	padding-top:6px !important;
	padding-bottom:6px !important;
	display:inline-block;	
}

.dropdown-menu-logged
{
	margin-top:-30px !important;
	font-size:14px;
	font-family:lato,sans-serif;
}

.dropdown-menu .logged-link a
{
	float:left;	
}

.dropdown-menu .logged-link-first
{
	border-top-style:solid;   	
}

.dropdown-menu .logged-a
{
	float:right;
	font-size:10px;
	color:#BFBDBD;
	background-color:transparent;
	border-style:none;
	position:relative;
	
}

.dropdown-menu .logged-rounded
{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:gray;	
}

.dropdown-menu .logged-title
{
	font-size:19px;
	font-style:normal;
	line-height:23px;
}	

.logged-stat
{
  margin-right:5px;	
}

.nowrap
{
	white-space:nowrap;
}