
/* ---------------------------------------- 	unanswered page css 	-------------------------------------------------*/

.unanswered-page .one-c-img-unans {
    border-radius: 50% 50% 0;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}

.unanswered-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 300px;
}

.unanswered-page .ans-top-unans {
    color: #313131;
    font-size: 12px;
    font-weight: 600;
    margin-top: 15px;
}

/*.unanswered-page .img-unans > img {	border-radius: 20%;    max-width: 30px;	margin-top: 20px;	margin-bottom: 10px;}
        .unanswered-page .img-unans > label	{	font-size: 15px;    margin-left: 5px;	margin-top: 10px; margin-bottom: auto;	}*/
.unanswered-page .rc-head-unans {
    border-bottom: 1px solid #cccccc;
    color: #323232;
    font-size: 16px;
    margin-top: 20px;
}

.unanswered-page .boxs-unans > span {
    text-align: center;
    width: 100%;
}

.unanswered-page .boxs-unans {
    color: black;
    background-color: #eeeeee;
    width: 50px;
    display: block;
    margin-left: -150px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.unanswered-page .nbr {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #484848;
}

.unanswered-page .posts-unans {
    display: inline-block;
    width: 48%;
    text-align: center;
    margin-top: 1%;
}

.unanswered-page .posts-text-unans {
    font-size: 16px;
}

.unanswered-page .b-pics {
    margin-top: 10px;
    float: right;
}

.unanswered-page .six-btn {
    display: inline-block;
    list-style: outside none none;
    margin-left: -110px;
}

.unanswered-page .ans-btm-ul {
    display: inline-block;
    list-style: outside none none;
    margin-left: -80px;
}

.unanswered-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.unanswered-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}
