/*
	Theme Name: islamiqa Custom pages
	Theme URI:
	Theme Version: 1.0
	Theme Date: 10-05-2016
	Theme Author: islamiqa
	Theme Author URI:
	Theme License: GPLv2
*/

/*-------------------------------------------- global params -------------------------------------------*/


/*---------------------------------------- styles for custom pages --------------------------------------*/
.qa-sidepanel {
display:
    none !important;
}

.qa-main {
background:
    white;
width:
    100% !important;
    /*margin-left: -15%;*/
margin:
    0;
padding:
    0;
}

.qa-body-wrapper {
width:
    100%;
}

.qa-main-wrapper {
background: #FFF !important;
}

.container_custom_page {
padding-left:
    5% !important;
padding-right:
    5% !important;
}

/*------------------------------------------ class for scrollbar -----------------------------------------*/

/*-------------------------------------------- pseudo-clase ---------------------------------------------*/
::-webkit-scrollbar-thumb:window-inactive {
background: #a13;
}

/*------------------------------------------ register new user ------------------------------------------*/


/*------------------------------------------ top information slider ------------------------------------------*/



/*------------------------------------------------ footer -----------------------------------------------------*/
.footer h6 {
color: #5F5F5F;
border-bottom: 3px solid #5F5F5F;
}

/*----------------------------------------------- top button ---------------------------------------------------*/

/*-------------------------------------------------- form-validation ------------------------------------------*/
.fv-form-bootstrap .fv-icon-no-label {
top: 0 !important;
}



/*------------------------------------------------- FAQ page --------------------------------------------------
.row-border-bottom { border-bottom: 1px solid #cccccc; margin-bottom:10px;}
.ans-top { color: #313131;    font-size: 13px;    font-weight: 600;}
.ans-head {    color: #313131;    font-size: 22px;    font-weight: 900;}
.ans-content {   color: #313131;    font-size: 14px;    font-weight: 600;    margin-left: 15px;	text-align: justify;	}
.ans-btm-ul > li span {    color: #757575;    font-size: 12px;}
.ans-btm-ul > li:hover span{color:#cc1420;}


.posts-faq { display: inline-block;	text-align: right; width: 47%; }
.posts-text-faq { display: inline-block; font-size: 16px; }
.boxs-faq > span { color: #939393; font-size: 20px; font-weight: 600; text-align: center; width: 100%; }
.boxs-faq { background-color: #ffffff; width: 50px; display: block; margin-top: 15px; margin-left: auto; margin-right: auto;	margin-bottom: 10px; padding-bottom: 2px;}
.nbr { text-align: center; font-size:12px; color: #939393; font-weight: 900; }

.ans-head { color: #313131; font-size: 20px; font-weight: 700; margin-top: 10px; margin-left: -30px; }
.ans-content { color: #787878; font-size: 16px; font-weight: 600; margin-left: 0px; }


.posts-faq { display: inline-block;	text-align: right; width: 47%; }
.posts-text-faq { display: inline-block; font-size: 16px; }
.boxs-faq > span { color: #939393; font-size: 20px; font-weight: 600; text-align: center; width: 100%; }
.boxs-faq { background-color: #ffffff; width: 50px; display: block; margin-top: 15px; margin-left: auto; margin-right: auto;	margin-bottom: 10px; padding-bottom: 2px;}
.nbr { text-align: center; font-size:12px; color: #939393; font-weight: 900; }


.ans-btm-ul { display: inline-block; margin-left: -65px; }
.has-faq { font-weight:900; }



.pncl { color: #cc0000; font-size: 20px; }


.topics { border-bottom: 1px solid #cccccc; color: #313131; font-size: 18px; margin: 15px; padding-bottom: 5px; }
.li-right-col { color: #313131; font-size: 20px; font-weight: 600; margin: 20px; margin-left: 40px; list-style: outside none none; line-height: 20px; }
.dots-three { display: inline-block; font-size: 20px; margin-left: 220px; }


textarea.feedback {   background-color: #eeeeee;    border: 1px solid #cccccc;    height: 200px;    width: 100%;	border-radius:5px;}

*/


