
/* ---------------------------------------- 	topics page css			------------------------------------------------*/

.topics-page .posts-topics {
    display: inline-block;
    text-align: right;
    width: 55%;
    margin-bottom: -10px;
}

.topics-page .posts-text-topics {
    font-size: 16px;
}

.topics-page .amount-topics {
    font-size: 12px;
    color: #cc0000;
    text-align: right;
}

.topics-page .bstans {
    list-style: outside none none;
    font-size: 12px;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
}

/*.topics-page .fav { list-style: outside none none; font-size: 12px; color: #FFA500; text-align: right; width: 50%; height: 15px; padding-top: 20px; }*/
.topics-page .ic {
    border: medium none;
    float: right;
    list-style: outside none none;
}

.topics-page .align-dash > li {
    display: inline-block;
    margin-left: -20px;
}

.topics-page .align-dash > p {
    margin-left: -20px;
}

.topics-page .ans-top {
    color: #313131;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.topics-page .ans-head {
    color: #313131;
    font-size: 22px;
    font-weight: 900;
}

.topics-page .ct {
    list-style: outside none none;
    width: 100%;
    border-left: 3px solid #d3d3d3;
    margin-left: -6% !important;
}

.topics-page .ansby {
    padding-left: 2%;
    margin-left: 0px;
    font-size: 75%;
    color: #757575;
}

.topics-page .ans-content {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 0px;
}

.topics-page .more-ans {
    margin-left: 0;
    margin-top: 10px;
}

.topics-page .six-btn {
    padding-left: 0;
    margin-left: -12%;
}

.topics-page .ans-btm-ul {
    padding-left: 0;
    margin-left: -5%;
}

.topics-page .pncl {
    color: #cc0000;
    font-size: 20px;
}

.topics-page .red-simplespan {
    color: #cc0000;
    font-size: 12px;
}

.topics-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 270px;
}

.topics-page .b-pics {
    margin-top: 10px;
    float: right;
}

.topics-page .right-c-name-edit {
    color: #c9c9c9;
    float: right;
    font-size: 16px;
}

.topics-page .pag {
    text-align: center;
}

/*.topics-page .dot { font-size: 30px; }	*/

.topics-page .btn-group {
    display: inline-block;
    background-color: #4eb565;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    top: -12px;
}

.topics-page .dots-three-topics {
    display: inline-block;
    font-size: 30px;
    color: #939393;
    letter-spacing: 3px;
    font-weight: 900;
    margin-left: 20px;
}

/*.topics-page .dots-three { text-align: right; font-size: 20px; margin-right: -60px;	}*/