/* -------------------------------------------single question page css -------------------------------------*/

.single-question-page .nbr {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #484848;
}

.single-question-page .ans {
    font-size: 10px;
    font-weight: 600;
}

.single-question-page .rrr {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 6px;
    float: right;
    color: #939393;
}

.single-question-page .right-c-name-edit {
    float: right;
    font-size: 16px;
    color: #939393;
}

.single-question-page .pag {
    text-align: center;
}

.single-question-page .bstans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 25%;
}

.single-question-page .starans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #FFA500;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .upans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .downans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .commentans {
    list-style: outside none none;
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    text-align: right;
    width: 50%;
    height: 15px;
    padding-top: 10px;
    margin-bottom: 20%;
}

.single-question-page .amount-topics {
    font-size: 12px;
    color: #cc0000;
    text-align: right;
}

.single-question-page .nmbr {
    font-size: 12px;
    color: #939393;
}

.edit-text-sq {
    display: inline-block;
    text-align: right;
}

.single-question-page .posts-name {
    display: inline-block;
    width: 50%;
    color: #333333;
    font-weight: 900;
    font-size: 20px;
}

.sortby-sq {
    margin-right: -300px;
}

.sortby-sq > button {
    color: #757575;
    text-decoration: none;
}

.single-question-page .ct {
    border: medium none;
    width: 100%;
    margin-left: -30px;
    margin-top: -10px;
}

.single-question-page .ans-top {
    color: #313131;
    font-size: 14px;
    font-weight: 600;
    margin-left: -30px;
    margin-top: -10px;
}

.single-question-page .ans-head {
    color: #313131;
    font-size: 22px;
    font-weight: 900;
    margin-left: -30px;
}

.single-question-page .ans-btm-ul > li span {
    font-size: 12px;
}

.single-question-page .ans-btm-ul > li:hover span {
    color: #cc0000;
}

.single-question-page .dots-three {
    display: inline-block;
    font-size: 20px;
    margin-left: 160px;
}

.single-question-page .best-answer-sq {
    font-size: 12px;
}

.single-question-page .simplespan {
    color: #848484;
    font-size: 14px;
}

.single-question-page .lll {
    display: inline-block;
    border: none;
    margin-left: -30px;
    color: #d3d3d3;
}

.single-question-page .cus {
    margin-left: -30px;
    width: 60px;
}

.single-question-page .boxs-bloq {
    margin-top: 170px;
    margin-left: 40px;
}

.single-question-page .boxs-sq > span {
    text-align: center;
    width: 100%;
}

.single-question-page .boxs-sq {
    color: #000000;
    background-color: #eeeeee;
    margin-bottom: 0px;
    margin-right: -20px;
    width: 50px;
    display: block;
    margin-top: 10px;
    padding-bottom: 1px;
}

.single-question-page .dots-b-r {
    font-size: 30px;
    margin-left: 20px;
}

.single-question-page .six-btn {
    margin-left: -20px;
    margin-top: -10px;
}

.single-question-page .six-btn > li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 5px;
    font-size: 12px;
}

.single-question-page .topics-top {
    background-image: url(../includes/images/single-question-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 300px;
}

.single-question-page .ansby {
    margin-left: 0;
}

.single-question-page .ans-content {
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    border-left: 3px solid #d3d3d3;
}

.single-question-page .ic {
    color: #d3d3d3;
    margin-right: -30px;
    border-right: medium none;
    float: right;
    list-style: outside none none;
    margin-top: -150px;
    margin-right: -40px;
}

.single-question-page .second-top {
    border-bottom: 4px solid #cccccc;
    margin-bottom: 10px;
}

.single-question-page .topics-page-right-li .pro-pic > img {
    border-radius: 50%;
}

.img-b-l > img {
    border-radius: 50%;
    width: 60px;
    margin-top: -200px;
}

.topics-top li {
    color: #ffffff;
    display: inline-block;
    list-style: outside none none;
    width: 48%;
}

.banner-text-top span {
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
}

.banner-text-top {
    text-align: right;
}

.single-question-page .topics-top > p {
    color: #ffffff;
    text-align: center;
}

.banner-top-text {
    font-size: 14px;
    font-weight: 600;
}

.banner-heading-text {
    font-size: 25px;
    font-weight: 900;
}

.content-ban-l .nm {
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    margin-top: -110px;
    margin-left: 70px;
}

.fl {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-top: -10px;
    margin-left: 70px;
}

.img-b-l {
    display: inline-block;
    float: left;
    width: 70px;
}

.banner-right-li {
    padding-right: 30px;
    text-align: right;
}

.banner-left-li {
    padding-left: 30px;
}

.banner-top-text.t {
    margin-top: 20px;
}

