.contact_form{

	.row{
		
		margin: 0 0 30px 0;

		.form-control{

			padding-left: 0;

			padding-right: 0;

			background: none;

			border-top: none;

			border-right: none;

			border-left: none;

			border-color: lighten($black, 35%);

			font-weight: 300;

			font-size: 16px;

			&:focus{

				color: lighten($black, 80%);

				border-color: lighten($black, 80%);

				@include box-shadow(none);

			}



		}

		.btn{

			padding: 10px 35px;

			font-weight: 300;

			text-transform: uppercase;

			@include border-radius(0);

			@include default-transition(all, .3s);

		}

	}

}