.footer{

	padding: 45px 0;

	background: lighten($black, 100%);

	@include clearfix;

	h6{

		padding-bottom: 5px;

		margin-bottom: 20px;

		font-size: 16px;

		color: lighten($black, 20%);

		border-bottom: 3px solid lighten($black, 90%);

	}

	.logo{

		display: block;

		padding-bottom: 10px;

	}

	a{

		color: lighten($black, 20%);

		padding: 0 4px;

		@include default-transition(all, .3s);

		&:hover{

			color: $brand-primary;

		}

	}

	.footer_links{

		width: 50%;

		float: left;

		margin: 0;

		padding: 0;

		li{

			list-style: none;

			a{

				color: lighten($black, 20%);

				padding: 0 4px;

				@include default-transition(all, .3s);

				&:hover{

					color: $brand-primary;

				}

			}

		}

	}

	.footer_social_links{

		display: table;

		margin: 0 auto;

		li{

			list-style: none;

			a{

				.fa{

					font-size: 60px;

					@include default-transition(all, .3s);

					&.fa-facebook-square{

						color: #3b5998;

						&:hover{

							color: darken(#3b5998, 10%);

						}

					}

					&.fa-twitter-square{

						color: #1dcaff;

						&:hover{

							color: darken(#1dcaff, 10%);

						}

					}

					&.fa-google-plus-square{

						color: #d34836;

						&:hover{

							color: darken(#d34836, 10%);

						}

					}

				}

			}

		}

	}

}