header{

	padding: 15px 0;

	background: lighten($black, 100%);

	border-bottom: 5px solid $brand-primary;

	.top_search{

		margin: 8px 0 0 0;

		position: relative;

		.form-control{

			width: 100%;

			height: 32px;

			padding: 6px 30px 6px 17px;

			@include border-radius (16px);

		}

		.btn{

			position: absolute;

			right: 4px;

			top: 1px;

			border: none;

			background: none;

			.fa{

				font-size: 18px;

				color: lighten($black, 80%);

			}

		}

	}

	.signup_login{

		@extend .pull-right;

		li{

			padding: 9px 0 0 0;

			margin-left: 10px;

			a{

				padding: 0;

				line-height: 30px;

				color: inherit;

				&:hover{

					background: none;

					color: $brand-primary;

				}

			}

		}

		.dropdown{

			.btn{

				outline: none;

				@include box-shadow(none);

			}

			.dropdown-toggle{
				
				line-height: 27px;

				background: none;

				border: none;

				font-size: 14px;

			}

			.dropdown-menu{

				padding: 17px 25px;

				background: lighten($black, 95%);

				top: 75px;

				right: 0;

				left: inherit;

				@include border-radius(3px);

				li{

					margin: 7px 0;

					padding: 0;

					a{

						line-height: 14px;

					}

					&.seprator{

						margin: 20px 0;

						border-bottom: 2px solid lighten($black, 75%);

						position: relative;

						span{

							display: inline-block;

							padding: 0 15px;

							margin-left: -25px;

							background: lighten($black, 95%);

							position: absolute;

							top: -10px;

							left: 50%;

						}

					}

					.form-control{

						height: 26px;

						padding: 7px;

						border: 1px solid lighten($black, 75%);

						font-size: 13px;

						@include border-radius(3px);

					}

				}

			}

		}

	}

}