.sticky_nav_order_now{

	padding: 3px 0 0 20px;

	display: none;

	@include box-shadow(none);

	@include opacity (0);

	@include transition-property(all);

	@include transition-duration(.3s);

}

#header{

	@include transition-property(all);

	@include transition-duration(.3s);

}

.navbar-sticky {

	width: 100%;

	position: fixed;

	top: 0;

	left: 0;

	z-index: 9998;

    @include transition-property(all);

	@include transition-duration(.3s);

	@include pie;

	@media #{$break-xlarge, $break-large, $break-medium, $break-small, $break-little}{

		width: inherit;

		position: inherit;

	}

	.top-bar{

		display: none;

		@media #{$break-xlarge, $break-large, $break-medium, $break-small, $break-little}{

			display: block;

		}

	}

	.web_nav{

		width: 100%;

		// max-width: 1160px;

		margin: 0 auto;

		@include box-shadow(0px 2px 18px rgba(0, 0, 0, 0.2));

		@include pie;

		@media #{$break-xlarge, $break-large, $break-medium, $break-small, $break-little}{

			display: block;

			@include box-shadow(none);

		}

	}

}
