.thumb_hover{

	position: relative;

	.hover_overlay{

		width: 100%;

		height: 100%;
		
		position: absolute;

		top: 0px;

		right: 0px;

		bottom: 0px;

		left: 0px;

		@include rgba-background(rgba(0,0,0,0.65));

		@include opacity(0);

		@include transition(all, .4s);

		&:hover{
				
			@include opacity(1);

		}

		.inner{

			width: 100%;

			height: 100%;

			position: relative;

			color: lighten($black, 100%);

			.left{
				
				float: left;

			}

			.right{
				
				float: right;

			}

			ul{
				
				margin: 0;

				padding: 0;

				li{

					float: left;
					
					list-style: none;

					a{

						color: lighten($black, 100%);

						&:hover{

							color: $brand-primary;

						}

					}

				}

			}

			.top_line{

				width: 100%;

				padding: 20px 25px;

				position: absolute;

				top: 0px;

				left: 0px;

				.topic{

					font-size: 16px;

					font-weight: 700;

				}

			}

			.bottom_line{

				width: 100%;

				padding: 20px 25px;

				position: absolute;

				bottom: 0px;

				left: 0px;

				.h6{

					padding-bottom: 7px;

					font-size: 16px;

					line-height: 22px;

					font-weight: 700;

					border-bottom: 2px solid lighten($black, 100%);

				}

				.h5{

					padding-bottom: 7px;

					font-size: 27px;

					line-height: 30px;

					font-weight: 700;

					border-bottom: 2px solid lighten($black, 100%);

				}

				p{

					padding: 7px 15px 10px 15px;

					font-size: 17px;

					line-height: 30px;

				}

				.toolbar{
					
					.tools{

						li{

							margin-right: 15px;

						}

					}

				}

			}

		}

	}
	
	.thumb{
		
		img{
			
			width: 100%;

		}

	}

}