body {
	margin:0;
}
.main-bg {
	background: url(images/bg-home.jpg) repeat;
	width:100%;
	height:100%;
	position: absolute;
	z-index:1001;
}
.main-bg-unanswered {
	background: url(images/bg-unanswered.jpg) repeat;
	width:100%;
	height:100%;
	position: absolute;
	z-index:1001;
}
.bg-w-1 {
	background-color:#000000;
	z-index:100;
	text-indent:-9999px;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	opacity:0.8;
	position:absolute;
}
.bg-q-1 {
	background-color:#000000;
	z-index:100;
	/*text-indent:-9999px;*/
	top:0px;
	/*left:-1001px;*/
	height:100%;
	width:13%;
	opacity:0.8;
	position:absolute;
}
/*.bg-q-1 {
	background-color:#000000;
	z-index:100;
	text-indent:-9999px;
	top:0px;
	left:-1001px;
	height:100%;
	width:86%;
	opacity:0.8;
	position:absolute;
}
.bg-u-1 {
	background-color:#000000;
	z-index:100;
	text-indent:-9999px;
	top:0px;
	left:-1185px;
	height:100%;
	width:13%;
	opacity:0.8;
	position:absolute;
}*/
.bg-u-1 {
	background-color:#000000;
	z-index:100;
/*	text-indent:-9999px;*/
	top:0px;
	/*left:-1185px;*/
	height:100%;
	width:13.5%;
	opacity:0.8;
	position:absolute;
}
.bg-q-2 {
	background-color:#000000;
	z-index:100;
	top:0px;
	left:925px;
	height:100%;
	width:32%;
	opacity:0.8;
	position:absolute;
	display:inline-block;
}
.bg-q-3 {
	background-color:#000000;
	z-index:101;
	text-indent:-9999px;
	top:-480px;
	left:365px;
	height:100%;
	width:41%;
	opacity:0.8;
	position: absolute;
	}
.bg-i-1 {
	background-color:#000000;
	z-index:100;
	text-indent:-9999px;
	top:0px;
	left:-1200px;
	height:100%;
	width:100%;
	opacity:0.8;
	position:absolute;
}
.bg-i-2 {
	background-color:#000000;
	z-index:100;
	top:0px;
	left:357px;
	height:100%;
	width:74%;
	opacity:0.8;
	position:absolute;
	display:inline-block;
}
.bg-u-2 {
	background-color:#000000;
	z-index:100;
	top:0px;
	left:930px;
	height:100%;
	width:79%;
	opacity:0.8;
	position:absolute;
	display:inline-block;
}
.bg-i-3 {
	background-color:#000000;
	z-index:101;
	text-indent:-9999px;
	top:-450px;
	left:166px;
	height:94%;
	width:14%;
	opacity:0.8;
	position: absolute;
}
.arrow-guide1 {
	background: url(images/arrow-guide-1.png) no-repeat;
	width:60px;
	height:250px;
	text-indent:-9999px;
	z-index:500;
	margin:280px 10px 20px 20px;
	float:left;
}
.arrow-guide2 {
	background: url(images/arrow-guide-2.png) no-repeat;
	width:60px;
	height:70px;
	text-indent:-9999px;
	z-index:500;
	margin:80px 3px 0 10px;
	float:right;
}
.arrow-guide3 {
	background: url(images/arrow-guide-2.png) no-repeat;
	width:60px;
	height:70px;
	text-indent:-9999px;
	z-index:500;
	margin:180px 3px 0 10px;
	float:right;
}
.guide-01 {
	color:#fff;
	width:350px;
	height:300px;
	font-size:22px;
	margin-left:40px;
	margin-top:50px;
	font-weight: bold;
	Font: italic bold 26px/36px Georgia, Times, serif;
	word-wrap:normal;
	opacity:1.0;
}
.guide-02 {
	color:#fff;
	width:410px;
	height:450px;
	font-size:22px;
	margin-left:40px;
	margin-top:150px;
	font-weight: bold;
	Font: italic bold 26px/36px Georgia, Times, serif;
	word-wrap:normal;
	opacity:1.0;
}
.guide-03 {
	color:#fff;
	width:160px;
	height:250px;
	font-size:22px;
	margin-left:5px;
	margin-top:150px;
	font-weight: bold;
	Font: italic bold 26px/36px Georgia, Times, serif;
	word-wrap:normal;
	opacity:1.0;
}
.guide-04 {
	color:#fff;
	width:350px;
	height:300px;
	font-size:22px;
	margin-left:40px;
	margin-top:150px;
	font-weight: bold;
	Font: italic bold 26px/36px Georgia, Times, serif;
	word-wrap:normal;
	opacity:1.0;
}
.guide-05 {
	color:#fff;
	width:210px;
	height:250px;
	font-size:22px;
	margin-left:10px;
	margin-top:350px;
	font-weight: bold;
	Font: italic bold 26px/36px Georgia, Times, serif;
	word-wrap:normal;
	opacity:1.0;
}
.button-next a {
	color:#fff;
	line-height:23px;
	display:block;
	border-radius:3px;
	border: 2px #fff solid;
	Font: italic bold 23px Georgia, Times, serif;
	padding:2px 15px;
	margin:570px 50px 0 0;
	float:right;
	z-index:500;
	position:relative;
	text-decoration:none;
	opacity:0.6;
}	
.button-next a:hover {
	text-decoration:none;
	opacity:1.0;
}	
.button-start a {
	color:#fff;
	line-height:23px;
	border-radius:3px;
	border: 2px #fff solid;
	Font:   20px Georgia, Times, serif;
	padding:4px 10px;
	z-index:9999;
	text-decoration:none;
	opacity:0.6;
	margin: auto;
	position: absolute;
	top: 120px; left: 0; bottom: 0; right: 0;
	height:26px;
	text-align:center;
	width:200px;
}	
.button-start a:hover {
	text-decoration:none;
	opacity:1.0;
}	
.welcome-text {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height:250px;
	width:600px;
	z-index:500;
	color:#fff;
	text-align:center;
}
.welcome-title {
	font-size:27px;
	font-weight: bold;
	Font: italic bold 26px/36px Georgia, Times, serif;
	opacity:1.0;
	margin-bottom:20px;
}
.welcome-stitle01 {
	font-size:18px;
	font-weight: bold;
	opacity:1.0;
}
.progressbar {
	margin-left: auto;
    margin-right: auto;
    width: 38%;
	margin-top: 250px;
}